---
import StandardLayout from "../../layouts/StandardLayout.astro"
import PrivacyPolicy from "../../components/Policies/PrivacyPolicy.astro"
---
<StandardLayout canonical={Astro.url}>
  <div style="display: flex; justify-content: space-around; width: 100%;">
  <a href="/policies/privacypolicy" style="padding: 0.5rem">Privacy Policy</a>
  <a href="/policies/termsandconditions" style="padding: 0.5rem">Terms and Conditions</a>
  <a href="/policies/disclaimer" style="padding: 0.5rem">Disclaimer</a>
</div>
<PrivacyPolicy/>
<!-- <TermsConds />
<Disclaimer /> -->

</StandardLayout >