---
import StandardLayout from "../../layouts/StandardLayout.astro"
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import {documentToPlainTextString} from '@contentful/rich-text-plain-text-renderer'
import LinkedinIcon from '../../components/LinkedinIcon.astro';
import TwitterIcon from '../../components/TwitterIcon.astro';
import Button from '../../components/Button.astro'
import { contentfulItems} from '../../components/contentfulClient.js'
import {months, ArticleOpenGraph} from "../../utils.js"
import {Img } from 'astro-imagetools/components'
import metadata from "../../layouts/metadata";
import { formatSlug } from "../../featureList.js";

export async function getStaticPaths() {
  const {formatSlug} = await import("../../featureList.js")
  let blogPosts = await contentfulItems('blogPost')
  function substringdescription(description : string) {
    let split = description.split('');
    // split.substring(0, 100);
    return description.substring(0,190).concat('...')
  }
  
  return blogPosts.map(({fields} :any) => {
    return {
      params: { blogPost: formatSlug(fields.title) },
      props: { 
        title: fields.title, 
        description: substringdescription(documentToPlainTextString(fields.body)), 
        body: documentToHtmlString(fields.body), 
        author: fields.author,
        date: new Date(fields.dateCreated),
        img: `https:${fields.thumbnail.fields.file.url}`,
        imgAlt: fields.thumbnail.fields.description,
      }
    };
  });
}
const {title, description, body, date, author, img, imgAlt} = Astro.props;

const articleOG = new ArticleOpenGraph(title, description, img, imgAlt, date, author)
let url = Astro.url.pathname.toString().concat(`/blog/${formatSlug(title)}/`)
---
<StandardLayout slug={title} openGraph={articleOG} canonical={Astro.url}>
<article class="blogArticle">
  <div class="navcrumbs">
    <Button as="link" leftArrow color="grey" href="/blog/" text="All Blog Posts" outline style="margin-left: auto;margin-right: 0;text-align: right;position: absolute;"  ></Button>
  </div>
<div class="heading">
  <div class="left">
    <h1>{title}</h1>
    <div class="metadata">
      <p class="author">{author &&  ' ' + author}</p>
      <p class="date">{months[date.getMonth()]} {date.getDate()}, {date.getFullYear()}</p>
    </div>
  </div>
  <div class="right">
    <a href={`http://twitter.com/share?url=ReviewMate%3A%20${title}%0A${url}`} target="_blank" rel="noopener" class="sharelink" style="background-color:#6FCCF5;text-align:center;box-shadow: 0 0 2px 2px #6FCCF5;" ><TwitterIcon style="fill:white;margin-top: 0;"/>Share on Twitter</a>

    <a href={`https://www.linkedin.com/sharing/share-offsite/?url=${url}`} target="_blank" rel="noopener" class="sharelink" style="background-color: #3B688D;text-align:center;box-shadow: 0 0 2px 2px #3B688D;"  ><LinkedinIcon style="margin-top:0;"/>Share on Linkedin</a>
  </div>
</div>

  <Img src={img.toString()} alt={imgAlt.toString()} objectFit="cover" attributes={{img: {class: 'blogimage'}}} />
  <!-- <img src={img} alt={imgAlt} class="blogimage" loading="lazy"/> -->
  <div class="blogbody" set:html={body}></div>
</article>
  
</StandardLayout>
<style lang="scss">
  .blogArticle{
    max-width: 65rem;
    margin-inline: auto;
  }
.heading{
  flex-flow: column nowrap;
  position: relative;
  // margin-bottom: 10vw;

  & > .left, & > .right { 
    position: relative;
    margin-bottom: 1rem;
  }
  & > .left { 
    position: relative;
    & > h1 {
      margin-bottom: 1rem;
      padding-right: 2rem;
    }
  }
  & > .right {
    flex: 1.5 1 20rem;
    display: block;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    margin-top: 2rem;
    gap: 1rem;
    height: 4rem;
    margin-bottom: 3rem;
    & > a {
      width: 11.5rem;
    }
  }
}
.navcrumbs {
    position: relative;
    display: block;
    width: 100%;
    min-width: 100%;
    height: 4rem;
    padding-bottom: 1.4rem;
  }
@media(min-width: 980px){
  .heading{
    flex-flow: row nowrap;
    display: flex;
    & > .left {
      flex: 1 1 calc(100% - 12rem);
    }
    & > .right {
      flex: 1 1 12rem;
      display:flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      margin-bottom: 2rem;
      & > * {
        display: block;
      }
    }
  }
}
.metadata {
  border-left: 1px solid hsl(var(--color1hsl));
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: hsl(var(--color1hsl));
  & .author{
    font-size: 160%;
    color: hsl(var(--color1hsl));
  }
  & .date{
    font-size: 120%;
    text-indent: 2rem;
  }
}

article { 
  position: relative;
  display: block;
 }
  article :global(img) {
    display: flex;
    max-width: unset!important;
    width: clamp(10rem, 50rem, 100%)!important;
    display: block!important;
    margin-inline: auto!important;
    text-align: center;
    margin-bottom: 3rem!important;
    max-height: 30rem;
  }
  .twitter-share-button {
    display: block;
    line-height: 1.2rem;
  }
  .sharelink {
    color: white;
    display:inline-block;
    padding: 10px 4px 6px;
    border-radius: 8px;
    font-size: 0.9rem;
    padding-left: 2.6rem;
    // margin-left: 1rem;
    margin: 8px 1rem;
    position: relative;
    transition: transform 0.2s;
    &:hover {
      transform: translate(0, -2px);
    }
    & > * {
      float: left;
      vertical-align: middle;
    }
    & :global(svg) { 
      height: 26px;
      width: 26px;
      display: inline-block;
      position: absolute;
      left: 0.5rem;
      top: 6px;
     }
  }

  .blockquote { 
    background-color: #f2f2f2;
    border-radius: 6px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 1.1rem;
    margin: 2rem 2rem 2rem 0.3rem;
    padding: 30px 50px;
    position: relative;
    width: 100%;
   }
   .blogimage {
    max-height: 20rem!important;
    object-fit: cover;
   }
  .sharecontainer {
    display:flex;
    flex-flow: row nowrap; 
    gap:1rem;
    margin-bottom: 2rem;
  }
</style>