---
import FeatureCategoryLayout from "../../layouts/FeatureCategoryLayout.astro"
---
<FeatureCategoryLayout moduleType="Monitoring" customTitle="For top-down administration uses, ReviewMate enhances capabilities of many managers, clients, and end-users of the auditing process. Time tracking, staffing analytics, integrations, and elaborate risk management are focuses of ReviewMate." featureHeader={{src:'/src/images/monitoringoverview.jpg', alt: 'man and woman discussing business plans together'}}>

  <p>For top-down administration uses, ReviewMate enhances capabilities of many managers, clients, and end-users of the auditing process. Time tracking, staffing analytics, integrations, and elaborate risk management are focuses of ReviewMate.</p>
  
</FeatureCategoryLayout>

