---
import FeatureCategoryLayout from "../../layouts/FeatureCategoryLayout.astro"
---
<FeatureCategoryLayout moduleType="Monitoring" customTitle="For top-down administration uses, ReviewMate enhances capabilities of many managers, clients, and end-users of the auditing process. Time tracking, staffing analytics, integrations, and elaborate risk management are focuses of ReviewMate." featureHeader={{bool: true, src:'/monitoringoverview.jpg', alt: 'man and woman discussing business plans together'}} canonical={Astro.url}>

  <p slot="introparagraph">ReviewMate has more than just auditor assistance tools, ReviewMate also comes with tools to help administrators organize and keep track of their workers, and enhance the capabilities of managers, clients, and end-users of the auditing process. ReviewMate includes tools for time tracking, staffing analytics, integrations, and risk management, to help you run and organize your business.</p>
  
</FeatureCategoryLayout>

