---
import FeatureLayout from '../../layouts/FeatureLayout.astro'
import Feature from '../../components/Feature.astro'
import Button from '../../components/Button.astro'
import CallToAction from '../../components/CallToAction.astro'
import CommonTraits from "../../components/CommonTraits.jsx"
import featureList from '../../featureList.js'
import {pageOpenGraph, assessShort, interpolateTags} from "../../utils.js"
import type {Module} from "../../featureList.js"

export function getStaticPaths() {
    let securityModules : Module[] = [];
    Object.values(featureList).forEach(category => { 
    let testingGrab = category.filter(module => {
      module.section === "Security" ? securityModules.push(module) : false
    })
  })

  return securityModules.map(feature => 
  {
    return({
      params: {id: feature.slug}, 
      props: {feature: feature}
    })})
}
const {feature} = Astro.props;
---
<FeatureLayout 
  openGraph={new pageOpenGraph(feature.title, 
  assessShort(feature.short, feature.long))} canonical={Astro.url}>
<Feature title={feature.title} imgSrc={feature?.imgSrc} imgAlt={feature?.imgAlt} commontraits> 
  <div slot="paragraphs">
    {feature.long.map((paragraph: string) => {
      if (paragraph[0] === "<"){
        return (
          <h2>{interpolateTags(paragraph.substring(0, paragraph.indexOf('>') + 1), paragraph)}</h2>
          )
      }
      else {
        return <p>{paragraph}</p>
      }
      
    })}
    {feature.bullets ? <h3 style="margin-bottom: 2rem;margin-top: 2rem;margin-inline:auto;">{feature.bullets.header}</h3><ul class="list" >{feature?.bullets?.bullets?.map((point: string) => {
    return (
      <li class="bullet">{point}</li>
    )
  }
  )}</ul> : 

  (feature?.bullets !== undefined && feature?.bullets?.length > 0) ? <ul class="list" >{feature?.bullets?.map((point: string) => {
    return (
      <li class="bullet">{point}</li>
    )
  }
  )}</ul> 
  : ''} 
  </div>
  {feature?.commontraits === true ? <CommonTraits client:idle /> : ''}

<p class="explanation" style="margin-top:1rem;text-align: center;width:100%;font-size: 120%;">Any particular questions or inquiries? We'd like to hear from you.</p>
<CallToAction padding="1rem 2% 2rem">
  <Button as="link" outline text="More Security Features" href="/security/" ></Button>
  <Button as="link" color="yellow" href="/contact/" text="Contact Us" >Contact Us</Button>
</CallToAction>
</Feature>

</FeatureLayout>
<style lang="scss">
  .list {
    width :100%;
    margin-bottom: 4rem;
    // margin-top: 2rem;
    padding-inline: 6%;
    justify-content: center;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    & li {
      flex: 2 1 40rem;
      max-width: 40rem;
    }
  }
.featurelist {
  margin-top: 2rem;
  & li {
    margin-bottom: 1rem;
  }
}
.accuracyrate {
  font-size: 3.2rem;
  position: absolute;
  top: 50px;
  right: 50px;
}
.inpatienttable {
  border-collapse: separate;
  border-spacing: 1rem 1em;
  margin-top: 3.4rem;
  & > thead {
    margin-top: 2rem;
  }
}
</style>
