---
import FeatureCategory from "../../components/FeatureCategory.astro"
import StandardLayout from "../../layouts/StandardLayout.astro"
import Feature from "../../components/Feature.astro"
import featureList, {formatSlug} from "../../featureList.js"
const securityModules = featureList.security;
---
<StandardLayout>
  <FeatureCategory title="Security Modules">
  {securityModules.map(module => {
    return (
      <Feature size="small" title={module.title} href={`/security/${formatSlug(module.title)}`}><p>{module.short}</p></Feature>
    )
  })}
  
  </FeatureCategory>
</StandardLayout>
