---
import FeatureCategoryLayout from "../../layouts/FeatureCategoryLayout.astro"
---
<FeatureCategoryLayout moduleType="Security" customTitle="For top-down administration uses, ReviewMate enhances capabilities of many managers, clients, and end-users of the auditing process. Time tracking, staffing analytics, integrations, and elaborate risk management are focuses of ReviewMate." featureHeader={{bool: true, src:'/src/images/securityoverview.jpg', alt: 'Man monitoring the status of servers'}}>

  <p slot="introparagraph">HIPAA compliance is a core pillar of ReviewMate, ensuring the hospitals' data, the patienta' data, and the auditors' data are kept complete safe from risk. Since ReviewMate is a designated web-based application, many security features are implemented for all users right out of the box, with committed systems for the auditing firm. The data preserved after a secure importing is encrypted and protected from external influences.</p>

</FeatureCategoryLayout>

