---
import FeatureCategory from "../../components/FeatureCategory.astro"
import StandardLayout from "../../layouts/StandardLayout.astro"
import Feature from "../../components/Feature.astro"
import featureList from "../../featureList.js"
// console.log(featureList.auditing_modules)
const auditModules = featureList.auditing_modules;
---
<StandardLayout>
  <FeatureCategory title="Auditing Accounts">
  {auditModules.map(module => {
    return (
      <Feature size="small" title={module.title} href={module.link}><p>{module.short}</p></Feature>
    )
  })}
  
  </FeatureCategory>
</StandardLayout>