---
import FeatureLayout from '../../layouts/FeatureLayout.astro'
import Feature from '../../components/Feature.astro'
import CallToAction from '../../components/CallToAction.astro'
import Tidbit from '../../components/Tidbit.astro'
import featureList from "../../featureList.js"
const inpatient = featureList.auditing_modules.find(obj => obj.title === "Inpatient")
---
<FeatureLayout>
<Feature title="Inpatient" imgSrc="/src/images/rodnae.jpg" imgAlt="Doctors meeting together" commontraits> 
  {inpatient?.long.map(paragraph => {
    return (
      <p>{paragraph}</p>
    )
  })}
  <ul slot="bulletpoints">
  {inpatient?.bullets?.map(point => {
    return (
      <li>{point}</li>
    )
  }
  )}
  </ul>
<Tidbit>
  <h3>IPPS auditing elements directly usable for accuracy rates</h3>
  <ul>
    <li>something</li>
  </ul>
</Tidbit>
  
    
</Feature>
<CallToAction></CallToAction>
</FeatureLayout>