---
import FeatureLayout from '../../layouts/FeatureLayout.astro'
import Feature from '../../components/Feature.astro'
import CallToAction from '../../components/CallToAction.astro'
import Tidbit from '../../components/Tidbit.astro'
import CommonTraits from "../../components/CommonTraits.jsx"
import featureList from "../../featureList.js"
const inpatient = featureList.auditing_modules.find(obj => obj.title === "Inpatient")
---
<FeatureLayout>
<Feature title="Inpatient" imgSrc="/src/images/rodnae.jpg" imgAlt="Doctors meeting together" commontraits> 
  <div slot="paragraphs">
    {inpatient?.long.map(paragraph => {
      return (
        <p>{paragraph}</p>
      )
    })}
  </div>
  {inpatient?.commontraits === true ? <CommonTraits client:idle /> : ''}
  <ul class="list" >
    {inpatient?.commontraits === true ? <h3 style="width: 100%;">In addition, our IPPS module features:</h3> : ''} 
    {inpatient?.bullets?.map(point => {
      return (
        <li class="bullet">{point}</li>
      )
    }
    )}
  </ul>
<Tidbit maxWidth="60rem" padding="" style="position: relative;">
  <h4>IPPS auditing elements directly usable for accuracy rates</h4>
  <span class="accuracyrate">92.76%</span>

  <table class="inpatienttable">
    <!-- <thead>IPPS auditing elements directly usable for accuracy rates</thead> -->
    <tbody >
<tr>
      <td>
        MS-DRG (Medicare Severity Diagnosis Related Groups)
      </td>
      <td>
        APR-DRG (All Patients Refined Diagnosis Related Groups - Copyright 3M)
      </td>
</tr>
<tr>
      <td>
      SOI (Severity of Illness - Copyright 3M)
      </td>
      <td>
        ROM (Risk of Mortality - Copyright 3M)
      </td>
</tr>
<tr>
      <td>
        Diagnosis (ICD-10-CM or ICD-9-CM)
      </td>
      <td>
        Secondary Diagnosis
      </td>
</tr>
<tr>
      <td>
        POA (Present on Admission)
      </td>
      <td>
        Discharge Disposition
      </td>
</tr>
<tr>
      <td>
        CPT/HCPCS (Current Procedural Terminology/Healthcare Common Procedural Coding System - optional)
      </td>
      <td>
        Procedure Provider
      </td>
</tr>
<tr>
      <td>
        Procedure Date,
      </td>
      <td>
        MCC (Major Comorbidity or Complication)
      </td>
</tr>
<tr>
      <td>
        CC(Comorbidity or Complication)
      </td>
      <td>
        CMS-HCC (Heirarchical Condition Category)
      </td>
</tr>
<tr>
      <td>
        HAC (Hospital Acquired Condition)
      </td>
</tr>
    </tbody>

  </table>
</Tidbit>
  
    
</Feature>
<CallToAction explain></CallToAction>
</FeatureLayout>
<style lang="scss">
  .list {
    width :100%;
    margin-bottom: 4rem;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    & li {
      flex: 2 1 40rem;
      
    }
  }
.featurelist {
  margin-top: 2rem;
  & li {
    margin-bottom: 1rem;
  }
}
.accuracyrate {
  font-size: 3.2rem;
  position: absolute;
  top: 50px;
  right: 50px;
}
.inpatienttable {
  border-collapse: separate;
  border-spacing: 1rem 1em;
  margin-top: 3.4rem;
  & > thead {
    margin-top: 2rem;
  }
}
</style>