---
import FeatureLayout from '../../layouts/FeatureLayout.astro'
import Feature from '../../components/Feature.astro'
import CallToAction from '../../components/CallToAction.astro'
import Tidbit from '../../components/Tidbit.astro'
import CommonTraits from "../../components/CommonTraits.jsx"
import featureList from "../../featureList.js"
const feature = "Outpatient"
const featureObj = featureList.auditing_modules.find(obj => obj.title === feature)
---
<FeatureLayout>
<Feature title={feature } imgSrc={featureObj?.imgSrc} imgAlt={featureObj?.imgAlt}commontraits> 
  <div slot="paragraphs">
    {featureObj?.long.map(paragraph => {
      return (
        <p>{paragraph}</p>
      )
    })}
  </div>
  {featureObj?.commontraits === true ? <CommonTraits client:idle /> : ''}
  <ul class="list" >
    {featureObj?.commontraits === true ? <h3 style="width: 100%;">In addition, our IPPS module features:</h3> : ''} 
    {featureObj?.bullets?.map(point => {
      return (
        <li class="bullet">{point}</li>
      )
    }
    )}
  </ul>

</Feature>
<CallToAction explain></CallToAction>
</FeatureLayout>
<style lang="scss">
  .list {
    width :100%;
    margin-bottom: 4rem;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    & li {
      flex: 2 1 40rem;
      
    }
  }
.featurelist {
  margin-top: 2rem;
  & li {
    margin-bottom: 1rem;
  }
}
.accuracyrate {
  font-size: 3.2rem;
  position: absolute;
  top: 50px;
  right: 50px;
}
.inpatienttable {
  border-collapse: separate;
  border-spacing: 1rem 1em;
  margin-top: 3.4rem;
  & > thead {
    margin-top: 2rem;
  }
}
</style>