---
import FeatureLayout from '../../layouts/FeatureLayout.astro'
import Tidbit from '../../components/Tidbit.astro'
---
<FeatureLayout>
    <h1>Profee</h1>
    <p>Physician Fee schedule and/or Physician office auditing is among the other core auditing standards.</p>
  <p>
    Accuracy rates for all elements including:
  </p>
<Tidbit>
  <p>
    All account types, such as Profee, contain the capabilities of the core
    auditing modules which consist of: 
    <ul>
      <li>All sampling tools</li>
      <li>All reporting tools</li>
      <li>All security features</li>
    </ul>
  </p>
<p>


</p>
</Tidbit>
<ul>
  <li>
    CPT/HCPCS (Current Procedural Terminology/Healthcare Common Procedure Coding System)
  </li>
  <li>
    E&M (CPT codes in the Evaluation and Management chapter)
  </li>
  <li>
    Non-E&M (CPT codes not in the Evaluation and Management chapter)
  </li>
  <li>
    Modifier
  </li>
  <li>
    Service Units
  </li>
  <li>
    Diagnosis (ICD-10-CM and ICD-9-CM)
  </li>
  <li>
    First-listed Diagnosis
  </li>
  <li>
    Secondary Diagnosis
  </li>
  <li>
    Procedure Provider
  </li>
  <li>
    Procedure Date
  </li>
  <li>
    CMS-HCC (Hierarchal Condition Category)
  </li>
</ul>
Locality fee schedule pricing takes place within the software eliminating the need for auditors to “toggle” between other products and ReviewMate.

Optional logic-based E&M Form tool allows auditors to analyze the provider note and determine the correct E&M level. The tool contains 1995 and 1997 criteria for encounters before 2021. The E&M Form is exportable for easy reporting and training.

Full suite of references including Coding Clinic, CPT Assistant, Coding Clinic for HCPCS, AHA Coding Handbook, Coders’ Desk Reference, Clinotes and code look-up eliminating the need for an outside product to perform research.

Identification on the screen of codes with CMS-HCC value.

Full communication between auditors and coders within the software to discuss findings and recommendations.

Reconciliation of rebuttals occurs inside of ReviewMate.

Conversations between the auditor and coder are saved and can be accessed by any user.

Accuracy rates are available real-time and can be “sliced and diced” to accommodate different situations and date patterns.

Extensive library of customizable reports from raw data to Executive Summaries.

Customizable dashboards to enhance the user experience.

Multiple user levels allow view-only access to any interested parties providing transparency with your organization.

“Audit the Auditor” module is available for a higher-level quality check of any review in ReviewMate.
</FeatureLayout>
