.feature {
	& li {
		line-height: 1.8rem;
		margin-bottom: 0.4rem;
	}
	.feature__description {
		border-bottom: 2px solid hsl(var(--color1hsl));
		padding-bottom: 2rem;
	}
	.feature__img {
		max-width: 45rem;
		max-height: 100%;
		overflow: hidden;
		margin-bottom: 2rem;
	}
	& ul {
		padding-top: 2rem;
		display: flex;
		flex-flow: row wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofill, 1fr);
    clear:both;
    gap: 1rem;
    margin-bottom: 3rem;
		& li {
			margin-bottom: 0.5rem;
		}
	}
	@media (min-width: 690px){
		.feature__img {
			float: right;
			margin-left: 2rem;
			width: 60%;
		}
		& ul {
			margin-top: 3rem;
			margin-bottom: 3rem;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
			grid-template-rows: repeat(autofill, 1fr);
			// gap: 2rem;
			clear:both;
			& li {
				margin-bottom: 0.5rem;
				flex: 1 1 17rem;
			}
		}
	}
}