$font1: "Inter";
$font2: "Hind Madurai";

// First color by each HSL value
$color1h: 8;
$color1s: 62%;
$color1l: 40%;

// Second color by each HSL value
$color2h: 42;
$color2s: 92%;
$color2l: 71%;

$color1hsl: $color1h, $color1s, $color1l;
$color2hsl: $color2h, $color2s, $color2l;

// Expose Sass variables for custom properties (mainly for inline styling)
:root {
	--color1hsl: #{$color1hsl};
	--color1h: #{$color1h} ;
	--color1s: #{$color1s};
	--color1l: #{$color1l};
	--color2hsl: #{$color2hsl};
	--color2h: #{$color2h};
	--color2s: #{$color2s};
	--color2l: #{$color2l};
	--font-1: #{$font1};
	--font-2: #{$font2};
}
html {
	scroll-behavior: smooth;
}
h1, h2, h3, h4 {
	font-family: $font1;
}
p, body {
	font-family: $font2;
	color: #333;
}
h1 {
	font-size: 3.6rem;
	line-height: 3.6rem;
	margin-top: 1rem;
	margin-bottom: 1.8rem;
	font-weight: bold;
}
h2 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-top: 0.6rem;
	margin-bottom: 1.4rem;
}
h3 {
	font-size: 2rem;
	line-height: 2.3rem;
	margin-bottom: 1rem;
	letter-spacing: 2px;
}
h4 {
	font-size: 1.65rem;
	line-height: 1.85rem;
	margin-bottom: 0.8rem;
}
p {
	font-size: 1.2rem;
	line-height: 2rem;
	// text-indent: 2rem;
	margin-bottom: 0.5rem;
}
body {
	width: 100%;
	background-color: #eee;
	max-width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	// overflow: hidden;
}
main {
	background-color: white;
	max-width: 85rem;
	padding: 3% 6%;
	line-height: 1.3rem;

	margin: 0 auto;
}
a {
	text-decoration: none;
	// color:  #555;
	color:  hsl(var(--color1hsl));
}
dl {
	margin-bottom: 2.6rem;
}
dt,
dd {
	margin-top: 0.6rem;
	// margin-bottom: 1rem;
}
dd {
	margin-left: 3rem;
}
