

$font1: "Inter";
$font2: "Hind Madurai";

$color1h: 8;
$color1s: 62%;
$color1l: 40%;

$color2h: 42;
$color2s: 92%;
$color2l: 71%;
$color1hsl: $color1h, $color1s, $color1l;
$color2hsl: $color2h, $color2s, $color2l;

// Expose Sass variables for custom properties (mainly for inline styling)
:root {
	--color1hsl: #{$color1hsl};
	--color1h: #{$color1h};
	--color1s: #{$color1s};
	--color1l: #{$color1l};
	--color2hsl: #{$color2hsl};
	--color2h: #{$color2h};
	--color2s: #{$color2s};
	--color2l: #{$color2l};
	--font-1: #{$font1};
	--font-2: #{$font2};
}
::selection {
	background-color: hsl(var(--color1hsl));
	color: white;
}
html {
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x:hidden;
}

h1,
h2,
h3,
h4 {
	font-family: $font1;
}

p,
body {
	font-family: $font2;
	color: #333;
}
h1 {
	font-size: 3rem;
	line-height: 3.6rem;
	margin-top: 1rem;
	margin-bottom: 1.8rem;
	font-weight: bold;
}
h2 {
	font-size: 2.2rem;
	line-height: 2.5rem;
	margin-top: 0.6rem;
	margin-bottom: 1.4rem;
	letter-spacing: 0.6px;
}
h3 {
	font-size: 1.8rem;
	line-height: 2.3rem;
	margin-bottom: 1rem;
	letter-spacing: 1px;
	margin-top: 1rem;
}
h4 {
	font-size: 1.45rem;
	line-height: 1.85rem;
	margin-bottom: 0.8rem;
}
p {
	font-size: 1.08rem;
	line-height: 1.6rem;
	text-indent: 2rem;
	margin-bottom: 0.5rem;
	color: #666;
}
body {
	width: 100%;
	max-width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	// overflow-x: hidden;

	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
}
body {
	height: 100%;
}
main {
	background-color: white;
	max-width: 100%;
	width: 100%;
	max-width: 90rem;
	padding: 2rem 4% 3rem;
	line-height: 1.3rem;
	color: #555;
	margin: 0 auto;
	&.homepage {
		padding: 0;
	}
}
a {
	text-decoration: none;
	color: hsl(var(--color1hsl));
}
dl {
	margin-bottom: 2.6rem;
}
dt,
dd {
	margin-top: 0.6rem;
}
dd {
	margin-left: 3rem;
}
blockquote {
	background-color: #f2f2f2;
	padding: 30px 50px;
	border-radius: 6px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin: 2rem 2rem 2rem 0.3rem;
	width: 100%;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 4px;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		background-color: hsl(var(--color1hsl));
	}
	& p {
		font-size: 100%;
		line-height: 170%;
	}
	font-size: 1.2rem;
}
ul {
	margin-bottom: 2rem;
}
li {
	list-style-image: url('/icons/right-arrow-list.svg');	
	margin-left: 2rem;
	margin-top: 0.4rem;
	margin-top: 0.4rem;
	line-height: 1.6rem;
}
.bullet {
	line-height: 2rem;
}
footer * {
	list-style-type: none;
	list-style-image: none;
}

.smalllink {
	color: hsl(var(--color1hsl));
	padding: 0.3rem 0.6rem;
	position: relative;
	border-bottom: 1px solid hsl(var(--color1hsl));
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 0.9rem;
	margin-top: 0.3rem;
	z-index: 10;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
		background-color: hsl(var(--color1hsl));
		opacity: 0;
		transition: opacity 0.2s;
		z-index: -1;
	}
	&:hover,
	&:focus-visible {
		color: white;
	}
	&:hover::after,
	&:focus-visible::after {
		opacity: 1;
	}
}

html.sr .load-hidden {
	visibility: hidden;
}

.flexdiv {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	justify-content: center;
	margin-bottom: 0;
	position: relative;
}
.flexdiv1 > div {
	order: 2;
}
.flexdiv1 > .bodylottie {
	order: 1;
}

@media (min-width: 600px) {
	.flexdiv {
		flex-flow: row wrap;
	}
	.flexdiv1 > .bodylottie {
		order: 3;
	}
}


.linkarrow {
	width: 14px;
	height: 14px;
	margin-left: 10px;
	color: hsl(var(--color1hsl));
	fill: hsl(var(--color1hsl));
	filter: invert(24%) sepia(27%) saturate(4898%) hue-rotate(348deg)
		brightness(91%) contrast(83%);

	& * {
		fill: hsl(var(--color1hsl));
	}
}
.dropdown {
	position: absolute;
	display: block;
	top: 115%;
	left: 115%;
	top: 0;
	width: calc(90vw - 20rem);
	max-width: 40rem;
	visibility: hidden;
	transition: opacity 0.3s, transform 0.3s;
	transform-origin: 50% 50%;
	opacity: 0;
	transform: scale(0.8) translate3d(0, -60%, 0);
	background-color: white;
	z-index: 900;
	box-shadow: 0 4px 9px -1px #33333388;
	padding: 1rem;
	border-radius: 6px;
	& > p {
		text-indent: 0;
	}
}

.dropdown--open {
	visibility: visible;
	opacity: 1;
	transform: scale(1) translate3d(0, 0, 0);
}
.arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-bottom: 3px solid #666;
	border-right: 3px solid #666;
	transform: rotate(45deg) translate3d(0, -1px, 0);
	position: relative;
	left: 0.6rem;
	transition: transform 0.3s;
	transform-origin: 50% 50%;
}
.arrow--open {
	transform: rotate(-135deg) translate3d(0, 1px, 0);
}

#usecases {
	background-color: hsl(var(--color1hsl));
	justify-content: space-around;
	color: white;
	width: 114%;
	margin-inline: -7%;
	margin-top: 4rem;
	& * {
		color: white;
	}
	& > div {
		flex: 2 1 30%;
		padding: 4% 6%;
		& > h3 {
			text-align: center;
		}
	}
}

.fddheader {
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 1.05rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
	color: #555;
	font-family: "Hind Madurai";
	transition: background-color 0.2s;
	width: 100%;
	margin: 0;
}

#skiptocontent {
	opacity: 0;
	position: absolute;
	left: 6rem;
	top: 2rem;
	color: white;
	z-index: 900;
	padding: 8px 14px;
	transition: opacity 0.1s, transform 0.4s;
	transform: translate3d(-10rem, 0, 0);
	&:focus-visible,
	&:focus {
		// visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
		outline: 2px solid white;
	}
}

.hover {
	transform: scale(1.1);
}
.iconsvg {
	filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
}