---
import FeatureCategoryLayout from "../../layouts/FeatureCategoryLayout.astro"
import {Img } from 'astro-imagetools/components'
---
<FeatureCategoryLayout moduleType="Auditing" customTitle="Spanning every auditing acount type from IPPS, OPPS, to Profee and CMS-HCC, ReviewMate works with the vast majority of users in the field." featureHeader={{bool: true, src:'/auditingoverview.jpg', alt: "Person's hand sifting through files"}} canonical={Astro.url}>

  <!-- <p slot="introparagraph">ReviewMate covers every every scenario in your role in auditing. IPPS, OPPS, Profee, and CMS-HCC are all standard accounts that are supported natively, that inherit all of the communication and workflow benefits of ReviewMate's infrastructure. </p> -->
  <p slot="introparagraph">ReviewMate takes care of all your auditing needs. Whether you're dealing with the IPPS, the OPPS, the Profee, or the CMS-HCC, ReviewMate will support all of these formats right out of the box, enabling you to achieve immediately the communication and workflow benefits that ReviewMate's infrastructure provides. ReviewMate will revolutionize the way you audit your organization's patient data!</p>
  
</FeatureCategoryLayout>
