---
import FeatureCategory from "../../components/FeatureCategory.astro"
import StandardLayout from "../../layouts/StandardLayout.astro"
import Feature from "../../components/Feature.astro"
import featureList from "../../featureList.js"
import {pageOpenGraph} from "../../utils.js"
import type {Module } from "../../featureList.js"
let auditingModules : Module[] = [];

Object.values(featureList).forEach(category => { 
  let testingGrab = category.filter(module => {
    module.section === "Auditing" ? auditingModules.push(module) : false
  })
 })
---
<StandardLayout 
  openGraph={new pageOpenGraph('Auditing Features', 
  "Spanning every auditing acount type from IPPS, OPPS, to Profee and CMS-HCC, ReviewMate works with the vast majority of users in the field.")}>

  <FeatureCategory title="Auditing">
  {auditingModules.map(module => {
    return (
      <Feature size="small" title={module.title} href={`/auditing/${module.slug}/`}>
        <p style="text-indent: 0;">{module.short}</p>
        <h5>hello?</h5>
        </Feature>
    )
  })}
  
  </FeatureCategory>
</StandardLayout>
<style>

</style>