---
import FeatureCategory from "../../components/FeatureCategory.astro"
import StandardLayout from "../../layouts/StandardLayout.astro"
---
<StandardLayout>
  <FeatureCategory>
    <p>test paragraph</p>
  </FeatureCategory>
</StandardLayout>