---
import FeatureCategoryLayout from "../../layouts/FeatureCategoryLayout.astro"
// import {Img } from 'astro-imagetools/components'
---
<FeatureCategoryLayout moduleType="Auditing" customTitle="Spanning every auditing acount type from IPPS, OPPS, to Profee and CMS-HCC, ReviewMate works with the vast majority of users in the field." featureHeader={{bool: true, src:'/src/images/auditingoverview.jpg', alt: "Person's hand sifting through files"}}>

  <p slot="introparagraph">ReviewMate covers every every scenario in your role in auditing. IPPS, OPPS, Profee, and CMS-HCC are all standard accounts that are supported natively, that inherit all of the communication and workflow benefits of ReviewMate's infrastructure. </p>
  
</FeatureCategoryLayout>
