---

import FeatureCategoryLayout from "../layouts/FeatureCategoryLayout.astro"
import CallToAction from '../components/CallToAction.astro'
import Card from '../components/Card.astro'
import SmallLink from '../components/SmallLink.astro'
import FlexDiv from '../components/FlexDiv.astro'
---
<FeatureCategoryLayout moduleType="Automation" customTitle="Automation and artificial intelligence extends the auditors capabilities in ReviewMate by using collective insight in addition to insight from each individual institution." featureHeader={{bool: true, src:'/automationoverview.jpg', alt: "Empty factory warehouse."}} canonical={Astro.url}>
  <p slot="introparagraph">Artificial intelligence and automation of medical code auditing is the future. ReviewMate innovates the industry by intelligently assisting the auditor with expedient insight pulled directly from real data in real-time.</p>
  <p slot="introparagraph">We are living in an age of unprecedented technological advancements, and it's time that the tools we use reflect that. We have designed ReviewMate with this philosophy in mind, deploying artificial intelligence and automation to assist medical code auditing. Using this technology, ReviewMate will intelligently assist any auditor with expedient insight pulled direct from real data in real time. We firmly believe this is the future for medical code auditing.</p>

  <br>

  <div class="riskmanager">
    <Card imgBorder="/automationoverview.jpg">
      <h2 slot="header">Risk Manager</h2>
      <img src="/riskmanagericon2.svg" alt="Risk Manager icon" role="presentation" class="iconsvg" style="width: 35%;shape-outside:url('/riskmanagericon2.svg');float: right;shape-margin:25px;max-height:14rem;"/>
      <p>Risk Manager is a ReviewMate module designed to solve the most pressing question middle cycle revenue managers face today: "<strong class="e"><u>What</u></strong> should we audit?"</p>
      <p>Risk Manager is a tool that provides audit managers the ability to identify records with compliance issues or to help identify reimbursement  issues.  This can be accomplished one of two ways: </p>
      <ul style="margin-top:1rem;">
        <li>Using Artificial Intelligence (AI) to leverage industry standards or, </li>
        <li>Enter rules manually to identify certain conditions that should be audited.</li>
      </ul>
      <br/>
      <div style="display:flex;justify-content: space-around;">
        <SmallLink href="/monitoring/risk-manager/" text="Risk Manager" />
        <SmallLink href="/monitoring/reviewmate-insights/" text="ReviewMate Insights" />
      </div>
      <br/>
    </Card>
    
  </div>
  <h2>Artificial Intelligence Platform </h2>
<p>
ReviewMate is one of the largest databases for medical code auditing systems. Over the past decade we have processed millions of accounts and gathered hundreds of thousands of code recommendations. All of this data was vital to our data scientists who developed this innovative machine learning capability that can assist users in finding audit opportunities to stay in coding and billing compliance. 
</p>
<h3 style="margin-top: 2rem;">How does it work?</h3>
<p>ReviewMate contains an adaptive rule engine which automatically updates the sets of conditions identifying future opportunities. The adaptive rule engine can flag records and assign risk scores to assist auditors in focusing on certain reviews and paying attention to specific errors previously identified.   The AI model will help in predicting accounts not compliant or those identified with risk factors.  </p>
<p>
  The AI engine finds patterns based on customizable parameters  that organizations can tailor to their own needs.  Here's how ReviewMate captures that intelligence:
</p>
<div style="margin-left: 2rem;margin-top:2rem;">
  <h3 style="font-size: 1.3rem;font-weight:bolder;color:#666;">Machine Learning Sources</h3>
  <ul style="margin-bottom: 3rem;">
    <li style="margin-bottom: 1rem;">Based on the coder trending errors.</li>
    <li style="margin-bottom: 1rem;">Based on your own organizational trending errors.</li>
    <li style="margin-bottom: 1rem;">Based on trending errors from our Insights database if you  opt into the ReviewMate Community.</li>
    <li style="margin-bottom: 1rem;">In some cases, the coder might not have a specific trending error, but the overall performance of a coder can play a role in identifying risks.</li>
    <li style="margin-bottom: 1rem;">Based on known industry standards and trends. </li>
  </ul>
</div>
<p>For example, if the coder repeatedly codes the principal diagnosis A419 (Sepsis, unspecified organism) incorrectly,  resulting in an incorrect MSDRG or APRDRG which possibly could lead to compliance issues or/and incorrect reimbursement, the system will identify all related accounts meeting these conditions and automatically flag them for further review.  Another example is coder performance monitoring.  If a coder's accuracy rates drop below certain thresholds, then the ReviewMate AI module will automatically flag a higher percentage of their coded records until their accuracy rates improve.  The system will perform similar adaptive engine updates for the other sources of Machine Learning listed above.  </p>

<div id="aitraits">
  <div class="main">ReviewMate AI</div>
  <div class="sub">Institution Trending</div>
  <div class="sub">ReviewMate Community Trending</div>
  <div class="sub">Overall Coder Performance</div>
  <div class="sub">Known Industry Standards</div>
  <div class="sub">Coder Trending</div>
</div>

<p>The pattern detection technology which leverages historical and current data, and specifically data captured from your own auditing environment, enables ReviewMate to provide an intelligence prediction model <u>unique</u> in the marketplace. </p>
<h3 style="margin-top: 3rem;">Adaptive Accuracy Rate Warnings </h3> <p>Using AI and Machine Learning, ReviewMate can identify when coders are having problems with certain codes.  When code accuracy drops, then our AI engine will flag records with these codes and route them to the auditing department for further review.  Once code accuracy improves, ReviewMate AI will remove these codes from that routing.</p> <h3 style="margin-top: 3rem;">Record Type Classifications and Coding Error Severity </h3>
<p style="margin-bottom:2rem;">Unlike other products, ReviewMate can classify records and assign a severity score to give management a full map of current available risks in the database. </p>
<ol style="margin-left: 2rem;">
  <li style="margin-bottom: 1rem;">Risk Scores: You can assign a relative integer value as a risk value to identify the severity of the risk being identified.  Accumulative risk scores will be given to accounts with more than one risk match. </li>
  <li>Flags: Help you easily classify records and help drive workflow automation.  </li> </ol>
<p>Risk Manager advantages over other products in the marketplace:</p>
<table class="table">
  <thead>
    <th>Key Features</th>
    <th>ReviewMate</th>
    <th>Other Competitors</th>
  </thead>
  <tbody>
    <tr>
      <td>Full Workflow Automation</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Ability to Flag Records</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Ability to Flag specific codes in the records</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Customize your own logic to identify opportunities</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Integrate with Sampling and Record Randomization</td>
      <td>Yes</td>
      <td>Some</td>
    </tr>
    <tr>
      <td>Customizable AI Models</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Applies to ASC, IPPS, OPPS, and Profee</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
  </tbody>
</table>

<div class="featurequality">
  <img src="/RiskManagerHeatmap3.svg" src="Table of content with first column in a colored heatmap" class="featureGraphic" />
  <Card className="rellax1">
    <h3>Risk Dashboards</h3>
    <p>View and analyze commonly occuring coding faults and communication errors at-a-glance. Common risks propogate data directly into easily configurable displays for taking action on. Heatmaps easily distinguish problem areas without lifting a finger. By simply tagging each risk the auditor would like to keep relevant, the system will prioritize and notify the auditor intuitively.</p> <p>These aggregated findings also export perfectly into any <a href="/reporting/summary-templates/">custom reports</a>, <a href="/reporting/coder-report-cards/">Coder Report Cards</a>, and other <a href="/reporting/dashboards/">dashboards</a>.</p>
  </Card>
</div>

<CallToAction>

</CallToAction>
  </FeatureCategoryLayout>
<style lang="scss">
  $bigcirclewidth: 40vw;
  $circlewidth: 30vw;
  $circleradius: calc($circlewidth / 2);
  
  #aitraits {
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;
    margin-inline: auto;
    aspect-ratio: 1 / 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    & .main, & .sub {
      position: absolute;
      display: grid;
      place-items: center;
      color: white;
      font-size: 2rem;
      border-radius: 100vw;
      transform-origin: center center;
      line-height: 2rem;
      text-align: center;
    }
    & .main {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: $bigcirclewidth;
      height: $bigcirclewidth;
      padding:6%;
      background-color: hsla(var(--color1h),var(--color1s),var(--color1l), 85%);
      border: 10px solid #ffffff22;
      // z-index: 10;
    }
    .sub {
      width: $circlewidth;
      height: $circlewidth;
      padding:6%;
      font-size: 1.3rem;
      background-color: hsla(var(--color1h), var(--color1s), var(--color1l), 70%);
      border: 7px solid #ffffff22;
    }
    & .sub:nth-of-type(2){
      left: calc(50% - $circlewidth / 2);
      top: 0%;
    }
    & .sub:nth-of-type(3){
      left: calc(85% - $circlewidth / 2);
      top: 30%;
    }
    & .sub:nth-of-type(4){
      left: calc(70% - $circlewidth / 2);
      top: 62%;
    }
    & .sub:nth-of-type(5){
      left: calc(30% - $circlewidth / 2);
      top: 62%;
    }
    & .sub:nth-of-type(6){
      left: calc(15% - $circlewidth / 2);
      top: 30%;
    }
  }
  .riskmanager {
    background-color: #fafafa;
    width: 114%;
    margin-inline:-7%;
    padding:2rem 10%;
    display: grid;
    place-items: center;

  }
  div.featurequality{
    display:flex;
    flex-flow: column wrap;
    padding: 4rem 0;
    position: relative;
    width: 100%;
  }
  .list{
    margin-top: 1.5rem;
    & > li {
      margin-bottom: 0.8rem;
    }
  }
  .introparagraph{ 
    width: 100%;
   }
  @media(min-width:540px){
  .introparagraph{ 
    width: clamp(4rem, 76%, 40rem);
   }
  }
  .featurelist {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
        gap: 1rem;
      border-color: hsl(var(--color1hsl));
      box-shadow: 0 3px 10px -2px #bbb;
      padding: 2.5rem 1.4rem 4rem;
      border-radius: 8px;
      margin-top: 3rem;
      z-index: 30;
      & > :global(div), & > :global(article), & > :global(article), :global(section),{
        flex: 2 1 30rem;
        margin-bottom: 2rem;
        margin-inline: auto;
      }
    }
    .featureGraphic {
      height: 100%;
    }
    @media(min-width: 40rem) {
      .featureGraphic {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 35rem;
        height: 100%;
      }
      .featurequality > :global(div.card) {
        width: 60%;
        left: 40%;
        position: relative;
      }
 }

 $tableborderwidth: 1px;
 $tablebordercolor: #666;
 $tableborderradius: 7px;
.table{
  width: 100%;
  & th {
    font-weight: bold;
    font-size: 120%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    letter-spacing: 0;
  }
  & tr {
    td{
      padding: 7px 10px;
      border-color: #666;
      border-style: solid;
      border-width: $tableborderwidth;
      border-bottom-width: 0;
      &:first-of-type {
        border-right-width: 0px;
      }
      &:last-of-type {
        border-left-width: 0px;
      }
    }
    &:first-of-type {
      td:first-of-type {
        border-top-left-radius: $tableborderradius;
      }
      td:last-of-type {
        border-top-right-radius: $tableborderradius;
      }
    }
    &:last-of-type {
      & td {
        border-bottom-width: $tableborderwidth;
      }
      td:first-of-type {
        border-bottom-left-radius: $tableborderradius;
      }
      td:last-of-type {
        border-bottom-right-radius: $tableborderradius;
      }
    }
  }
}

</style>