---

import FeatureCategoryLayout from "../layouts/FeatureCategoryLayout.astro"
import CallToAction from '../components/CallToAction.astro'
import Card from '../components/Card.astro'
import SmallLink from '../components/SmallLink.astro'
import FlexDiv from '../components/FlexDiv.astro'
---
<FeatureCategoryLayout moduleType="Automation" customTitle="Automation and artificial intelligence extends the auditors capabilities in ReviewMate by using collective insight in addition to insight from each individual institution." featureHeader={{bool: true, src:'/automationoverview.jpg', alt: "Empty factory warehouse."}}>
  <p slot="introparagraph">Artificial intelligence and automation of medical code auditing is the future. ReviewMate innovates the industry by intelligently assisting the auditor with expedient insight pulled directly from real data in real-time.</p>
  <br>

  <div class="riskmanager">
    <Card imgBorder="/src/images/automationoverview.jpg">
      <h2 slot="header">Risk Manager</h2>
      <img src="/riskmanagericon2.svg" alt="Risk Manager icon" role="presentation" class="iconsvg" style="width: 35%;shape-outside:url('/riskmanagericon2.svg');float: right;shape-margin:25px;max-height:14rem;"/>
      <p>Risk Manager is the hub of ReviewMate that facilitates methods of interactive insight. Auditors can assess all suggested risks, configure how the risks interact with the auditor's workflow, and view general insight from the community using ReviewMate Insights.</p>
      <p>Everything in Risk Manager is configurable, from setting how an auditor receives a notification on changing HL7 data, to tag notifications based on coding mistakes from any scalable community within ReviewMate.</p>
      <ul class="list">
        <li>
          Discover opportunities 
        </li>
        <li>
          Reveal common coding faults
        </li>
        <li>
          Apply guidance intuitively
        </li>
      </ul>
      <br/>
      <div style="display:flex;justify-content: space-around;">
        <SmallLink href="/monitoring/risk-manager/" text="Risk Manager" />
        <SmallLink href="/monitoring/reviewmate-insights/" text="ReviewMate Insights" />
      </div>
      <br/>
    </Card>

    <div class="featurequality">
      <img src="/RiskManagerHeatmap3.svg" src="Table of content with first column in a colored heatmap" class="featureGraphic" />
      <Card className="rellax1">
        <h3>Risk Dashboards</h3>
        <p>View and analyze commonly occuring coding faults and communication errors at-a-glance. Common risks propogate data directly into easily configurable displays for taking action on. Heatmaps easily distinguish problem areas without lifting a finger. By simply tagging each risk the auditor would like to keep relevant, the system will prioritize and notify the auditor intuitively.</p>
        <p>These aggregated findings also export perfectly into any <a href="/reporting/summary-templates/">custom reports</a>, <a href="/reporting/coder-report-cards/">Coder Report Cards</a>, and other <a href="/reporting/dashboards/">dashboards</a>.</p>
      </Card>
    </div>
  </div>

<CallToAction>

</CallToAction>
  </FeatureCategoryLayout>
<style lang="scss">
  .riskmanager {
    background-color: #fafafa;
    width: 114%;
    margin-inline:-7%;
    padding:2rem 10%;
    display: grid;
    place-items: center;

  }
  div.featurequality{
    display:flex;
    flex-flow: column wrap;
    padding: 4rem 0;
    position: relative;
    width: 100%;
  }
  .list{
    margin-top: 1.5rem;
    & > li {
      margin-bottom: 0.8rem;
    }
  }
  .introparagraph{ 
    width: 100%;
   }
  @media(min-width:540px){
  .introparagraph{ 
    width: clamp(4rem, 76%, 40rem);
   }
  }
  .featurelist {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
        gap: 1rem;
      border-color: hsl(var(--color1hsl));
      box-shadow: 0 3px 10px -2px #bbb;
      padding: 2.5rem 1.4rem 4rem;
      border-radius: 8px;
      margin-top: 3rem;
      z-index: 30;
      & > :global(div), & > :global(article), & > :global(article), :global(section),{
        flex: 2 1 30rem;
        margin-bottom: 2rem;
        margin-inline: auto;
      }
    }
    .featureGraphic {
      height: 100%;
    }
    @media(min-width: 40rem) {
      .featureGraphic {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 35rem;
        height: 100%;
      }
      .featurequality > :global(div.card) {
        width: 60%;
        left: 40%;
        position: relative;
      }
    }
</style>