---
import StandardLayout from '../layouts/StandardLayout.astro'
---
<StandardLayout>
  <div class="blogflex">
    
  </div>
  <style>
    .blogflex {
      display: flex;
      flex-flow: row wrap;

    }
  </style>
</StandardLayout>