---
import StandardLayout from "../layouts/StandardLayout.astro"
import ContactForm from '../components/ContactForm.astro'
import FAQSection from '../components/FAQSection.astro'
---
<StandardLayout>
   <div class="contactbg">
      <div style=" width: 115%;height:135%;max-height:59rem;">
         <img src="/fauxels-meeting.jpg" alt="people meeting over a table." class="bgimage"/>
      </div>
      <ContactForm />
   </div>
   <FAQSection />
</StandardLayout>
<style lang="scss"> 
.contactbg {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   place-items: center;
   overflow: hidden; 
   width: 114%;
   height: 100%;
   min-height:60rem;
   margin-inline:-7%;
   margin-top: -2rem;
   & > :global(*) > :global(div)  {
      width: 100%;
   }
   & > div :global(img){
      // height: 100%!important;
   }
}
.bgimage{
   // object-fit: cover;
   // min-width: 115%;
   height: 110%!important;
   min-width: 110%;
   margin-top: -1rem;
   margin-left: -1rem;
   filter: blur(5px);
}
</style>