---
import StandardLayout from "../layouts/StandardLayout.astro"
// import Checkmark from "../components/Checkmark.astro"
// import { FeatureDropdown} from '../components/FeatureDropdown.jsx'
import ContactForm from '../components/ContactForm.jsx'
// import {FAQ} from '../components/FAQ.jsx'
import FAQSection from '../components/FAQSection.astro'
import {Img} from 'astro-imagetools/components'
---
<StandardLayout>
<div class="contactbg">
   <div style="filter: blur(5px); width: 115%;height:115%;"><Img src="/src/images/fauxels-meeting.jpg" alt="people meting over a table." role="presentation" /></div>
   <ContactForm client:idle />
</div>
<FAQSection />
</StandardLayout>
<style lang="scss"> 
.contactbg {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   place-items: center;
   overflow: hidden; 
   width: 114%;
   min-height: 40rem;
   margin-inline:-7%;
   margin-top: -2rem;
   padding-top: 3rem;
   & > :global(*) > :global(div)  {
      // outline: 2px solid purple;
      position: absolute;
      width: 100%;
   }
}

</style>