---
import StandardLayout from "../layouts/StandardLayout.astro"
import ContactForm from '../components/ContactForm.astro'
import FAQSection from '../components/FAQSection.astro'
---
<StandardLayout>
   <div class="contactbg">
      <div style="filter: blur(5px); width: 115%;height:115%;">
         <img src="/fauxels-meeting.jpg" alt="people meeting over a table." class="bgimage"/>
      </div>
      <ContactForm />
   </div>
   <FAQSection />
</StandardLayout>
<style lang="scss"> 
.contactbg {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   place-items: center;
   overflow: hidden; 
   width: 114%;
   // min-height: 40rem;
   height: auto;
   min-height:60rem;
   margin-inline:-7%;
   margin-top: -2rem;
   padding-top: 3rem;
   padding: 5% 2%;
   & > :global(*) > :global(div)  {
      width: 100%;
   }
   & > div :global(img){
      height: 100%!important;
   }
}
.bgimage{
   width: 100%;
   height: 100%;
}
</style>