---
import StandardLayout from "../layouts/StandardLayout.astro"
import ContactForm from '../components/ContactForm.astro'
import FAQSection from '../components/FAQSection.astro'
// import {Img} from 'astro-imagetools/components'

import { Picture } from '@astrojs/image/components';
import bgImg from "../images/fauxels-meeting.jpg"
---
<StandardLayout>
   <div class="contactbg">
      <div style="filter: blur(5px); width: 115%;height:115%;">
         <!-- <Picture src="/src/images/fauxels-meeting.jpg" alt="people meting over a table." /> -->
         <!-- <Picture src="/src/images/fauxels-meeting.jpg" alt="Executives meeting over a meeting table" widths={[400, 800, 1200]} sizes="(max-width: 800px) 80%, 30rem"  aspectRatio="4:3" /> -->
         <Picture src={import("/src/images/fauxels-meeting.jpg")} alt="Executives meeting over a meeting table" widths={[400, 800, 1600]}   formats={['avif', 'jpeg', 'webp']}  aspectRatio="3:2" style="margin-inline: auto;display: block;object-fit: cover;width:100%;max-height: 36rem;display:grid;place-items:center;margin-left: -2rem;" class="image" />
      </div>
      <ContactForm />
   </div>
   <FAQSection />
</StandardLayout>
<style lang="scss"> 

.image {
   // min-width: 100%!important;
   & :global(img) {
      // width:100%!important;
   }
}
.contactbg {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   place-items: center;
   overflow: hidden; 
   width: 114%;
   // min-height: 40rem;
   height: auto;
   min-height:60rem;
   margin-inline:-7%;
   margin-top: -2rem;
   padding-top: 3rem;
   padding: 5% 2%;
   & > :global(*) > :global(div)  {
      width: 100%;
   }
   & > div :global(img){
      height: 100%!important;
   }
}
</style>