---
import HomepageLayout from '../layouts/HomepageLayout.astro'
import FlexDiv from '../components/FlexDiv.astro'
import Button from "../components/Button.astro"
import CallToAction from "../components/CallToAction.astro" 
import Stream from "../components/Stream.astro"
import ConcernBlob from '../components/ConcernBlob.astro'
import RMDiagram from '../components/RMDiagram.astro'
import Carousel from '../components/Carousel.astro'
---
<HomepageLayout>
    <div class="shapeintro" >
      <noscript><link rel="stylesheet" href="nojs.css" /></noscript>
      <div class="shapeintrobg" id="shapeintrobg"></div>
      <div class="introtext">
        <h2 class="scrollrevealtext1">Elevate your medical code auditing workflow</h2>
        <p class="scrollrevealtext2">Streamline auditing,
        integrate your data seamlessly, and consolidate communication in one platform.</p>
        <h3 class="scrollrevealtext3" style="letter-spacing:1px;">Created by auditors, for auditors.</h3>
      </div>

      <div id="productintroscreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TGe97xQyex8?modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%;"></iframe>
        </div>

      <div id="testscreen">
        <img src="/HomeDashboard.svg" alt="screenshot of ReviewMate's graphical user interface" />
      </div>
    </div>
<main style="padding-top: 0;" id="main">
  <div class="introCTA" >
    <Button as="link" href="/resources/" text="View our Blog" outline style="z-index:30;"></Button>
    <Button as="link" href="/contact/" text="Contact Us" style="z-index:30;" size="3" ></Button>
    <Button as="link" href="/plans/" text="Plans and Features" outline style="z-index:30;"></Button>
  </div>

  <FlexDiv className="producttraits">
    <div class="scrollreveal">
      <img src="/Integrate(kf).svg" width="168" height="183"  alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Consolidate data from any source</h3>
      <p>Connect ReviewMate right into your universe of data or import loose resources independently, for gathering samples.</p>
    </div>
    <div class="scrollreveal">
    <img src="/Audit(kf).svg" width="168" height="183" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Audit and extrapolate findings seamlessly</h3>
      <p>Integrated tools keep both the auditor closer to the data, and expands more accountable, transparent communication.</p>
    </div>
    <div class="scrollreveal">
      <img src="/Report(kf).svg" width="168" height="183" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Report and monitor</h3>
      <p>Customizable reports and integrated communication channels expedite results right to the end-user.</p>
    </div>
    <div class="scrollreveal">
      <img src="/Automate(kf).svg" width="168" height="183" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Automate and gain insight</h3>
      <p>Leverage artificial intelligence and community-sourced data to augment workflows intuitively. Expedite discovery of auditing opportunities.</p>
    </div>
  </FlexDiv>

  <!-- <h3 style="margin-bottom: 2rem;text-align:center;">Trusted By:</h3><Carousel/> -->


  <FlexDiv padding="2rem 0 3rem" className="red scrollreveal" style="margin-top: 5rem;background: radial-gradient(hsla(var(--color2hsl), 40%), hsla(var(--color2hsl), 20%) 20%, white 60%); ">
  <h3 style="margin-bottom: 5rem;">Trusted By:</h3>
  <div class="partnersdiv">
      <a href="https://www.comforcehealth.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/comforcehealth.svg" height="180" width="336" alt="Comforce Health logo" />
      </a>
      <a href="https://www.cioxhealth.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/ciox.svg" alt="Ciox's logo" height="180" width="336" />
      </a>
      <a href="https://www.3m.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/3m.svg" alt="3M's logo" height="180" width="336" />
      </a>
      <a href="https://ecatalysthealth.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/eCatalyst.svg" alt="eCatalyst's logo" height="180" width="336" />
      </a>
      <a href="https://intellisiq.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/intellis.svg" alt="Intellis' logo" height="180" width="336" />
      </a>
      <a href="https://www.lifebridgehealth.org/Main/Home.aspx" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/lifebridge.svg" alt="Intellis' logo" height="180" width="336" />
      </a>
      <a href="https://www.essentiahealth.org/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/Essentia-Health-Logo.svg" height="180" width="336" alt="Maxim Healthcare's logo" />
      </a>
      <a href="https://www.maximhealthcare.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/maxim.svg" alt="Maxim Healthcare's logo" height="180" width="336" />
      </a>
      <a href="https://www.optum.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/Optum.svg" alt="Optum Health services' logo" height="180" width="336" />
      </a>
      <a href="https://xtendhealthcare.net/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/Xtend.svg" alt="Xtend Healthcare's logo" height="180" width="336" />
      </a>
      <a href="https://www.nthrive.com/transunionhealthcare/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/nThrive.svg" alt="nThrive's logo" height="180" width="336" />
      </a>
      <a href="https://jtshealthpartners.com/jts-health-partners-overview/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/JTS-Health.svg" alt="JTS's logo" height="180" width="336" />
      </a>
  </div>
</FlexDiv>

<div class="rellaxwrapper concernblobcontainer">
    <ConcernBlob tagline={`"Spreadsheet Friction" `} description="Juggling between spreadsheets and different program resources is not only frustrating, but it wastes time, and can contribute to inconsistency." answer="ReviewMate consolidates all of your sources of information into one platform. Log in and take care of business." img="/SpreadSheetFriction.svg" imgAlt="Woman working in the center of many spreadsheets." className="scrollreveal" client:load>
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={`The "Game of Telephone" `} description="While reviewers are providing insights and comments on findings, having a single document being constantly carbon copied blurs lines of accountability, and opens up gaps for miscommunication." answer="Synchronized communication allows for every single audit, finding, comment, and task to be completely transparent for all authorized parties. " img="/GameOfTelephone.svg" imgAlt="Man with four rams holding many different phone alerts in between many different emails and ICD-10 codes" className="scrollreveal" client:load>
    </ConcernBlob>
    <ConcernBlob tagline={`The "Email Traffic-Jam" `} description="Email threads become messy and burdensome, sometimes overlooking pertinent information in pages and pages of history." answer="ReviewMate brings modern central communication to auditing deliberation, by integrating direct references, explicit notes, and party transparency so that everyone is heard concisely." img="/EmailTrafficJam.svg" imgAlt="Woman dissecting and analyzing an email thread." className="scrollreveal" client:idle>
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={` The "Opaque" problem`} description="Managers, and most importantly, clients, need to be able to keep track of active progression in auditing tasks to utilize a pro-active approach to the teams' work." answer="Tasks in ReviewMate are groups of assigned work which can be traced on factual, present data. ReviewMate even extends special transparency tools for clients and coders alike." img="/OpaqueProblem.svg" imgAlt={`Man hiding his computer screen with a "TBD" sign`} className="scrollreveal" client:load>
    </ConcernBlob>
</div>

<RMDiagram />
  
  


<Stream postType="blogPost" title="Blog" size="small"/>

<CallToAction color="red" header="Let us show you how you can start saving hours a week" style="margin-bottom: -3rem;" >
  <Button color="white" as="link" href="/keyfeatures/" text="Discover our Key Features" size="2" style="z-index:30;margin-top: 2rem;"/>
  <Button color="white" as="link" href="/plans/" text="Explore our plans and features" size="2" style="z-index:30;margin-top: 2rem;"/>
  <Button color="yellow" as="link" href="/contact/" text="Contact Us" size="2" style="z-index:30;margin-top: 2rem;"/>
</CallToAction>

</main>
<script >
  function deferAddimage(){
    const introbgS = document.querySelector('#shapeintrobg')?.style;
    introbgS.backgroundImage = `url('/marc-mueller(4).webp'), url('/marc-mueller(4).jpeg')`;
    introbgS.background = `url('/marc-mueller(4).webp'), url('/marc-mueller(4).jpeg')`
    introbgS.backgroundRepeat = `no-repeat` 
    introbgS.backgroundSize = `cover` 
  }
  window.onload = deferAddimage();

</script>
</HomepageLayout>

<style lang="scss">
  .shapeintro {
    color: white; 
    width: 100%;
    margin-inline: auto;
    height: clamp(48rem, 48rem, 60rem);
    display: block;
    max-width: 100%;
    top: -1px;
    text-indent: 0;
    position: relative;
    z-index: 30;
    margin-bottom: calc(80vw + 7rem);
    .introtext {
      position: absolute;
      width: 80%;
      left: 8vw;
      top: 3rem;
      z-index: 100;

      & h2, & p, & h3 {
        color: white;
        text-align: center;
        width: 100%;
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-indent: 0;
        position: relative;
        top: 2rem;
        margin: 0 0 2rem;
        display: block;
        text-shadow: 0 4px 14px #22222299;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-right: 5%;
        text-shadow: 0 3px 9px  #44444499;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
        text-shadow: 0 2px 4px #66666699;
      }
    }
  }
  #productintroscreen {
    z-index: 300;
    // height: 30rem;
  }
  #testscreen {
    // height: auto;
    height: 80vw;
  }
  @media (max-width: 446px ){
    .shapeintro > .introtext {
      width: 90%;
      bottom: calc(20vw + 12rem);
    }
  }
  @media (min-width: 1110px ){
    .shapeintro {
      margin-bottom: 21vw;
    }
    .shapeintro > .introtext {
      bottom: calc(22vw * 0.80 + 12rem);
    }
  }
  #productintroscreen iframe{
      width: 80%;
      max-width: 60rem;
      min-width: 560px;
      min-height: 315px;
      height: 100%;
      aspect-ratio: 4 / 3;
     margin-inline: auto;
     border-radius: 8px;
     position: absolute;
     display: inline-block;
     left: 50%;
     bottom: 0;
     transform-origin: 50% 50%;
     transform: translate3d(-50%, 0, 0);
  }
  #productintroscreen{
    width: 80%;
    max-width: 55rem;
    max-height: 30rem;
    height: 100%;
    aspect-ratio: 6 / 4;
    margin-inline: auto;
    border-radius: 8px;
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: -4rem;
    box-shadow: 0 8px 14px -3px #000;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, 0, 0);
    aspect-ratio: 2 / 1;
    & > iframe {
    margin-bottom: -7px;
    }
    & > img {
      position: relative;
      top: 0;
      width: 100%;
      display: block;
      z-index: 100;
    }
  }
  .shapeintrobg {
    background-color: #888;
    background-repeat: no-repeat;  
    background-size: cover;
    clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    transform: translate(0, -2px);
    z-index: -1;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: hsl(var(--color1hsl));
      background: linear-gradient(172deg, hsl(var(--color1hsl)) 20%, hsla(var(--color1h), 70%, 20%, 80%) );
      position: absolute;
      top: -30px;
      left: 0;
      z-index: -1;
    }
  }
  .introCTA{
    width: 100%; 
    display: flex;
    justify-content: center; 
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    gap: 1rem; 
    align-items: center;
  }
  #testscreen{
    perspective: 500px;
    bottom: calc(-80vw - 3rem);
    width: 88vw;
    max-width: 70rem;
    margin-inline: auto;
    position: absolute;
    left: 6%;
    z-index: 10;
  }

.producttraits {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2.5rem;
    margin-bottom: 4rem;
    & > div {
      flex: 1 1 24rem;
      min-width: 24rem;
      max-width: 32rem;
    }
  }

  @media (min-width: 690px ){
    .introCTA{
    flex-flow: row nowrap;
    margin-bottom: 4rem;
    }
    .producttraits {
      margin-top: 1rem;
    }
    .shapeintro {
      margin-bottom: calc(8rem * 1.2);
    }
    .introtext {
      position: absolute;
      width: 80%;
      left: 8vw;
      top: 3rem;
      z-index: 100;
      & h2, & p, & h3 {
        color: white;
        text-align: left!important;
      }
      & p, & h3 {
        max-width: 44vw;
        
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-align: left;
        text-indent: 0;
        max-width: 70vw;
        position: relative;
        top: 2rem;
        margin: 0 0 2rem;
        display: block;
        text-shadow: 0 4px 14px #22222299;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-right: 5%;
        text-shadow: 0 3px 9px  #44444499;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
        text-shadow: 0 2px 4px #66666699;
      }
    }

    .introtext p, .introtext h3 {
      width: 45vw;
    }    
    #testscreen{
      perspective: 500px;
      bottom: -12vw;
      height: 100%;
      width: clamp(20rem, 40vw, 90rem);
      position: absolute;
      left: calc(53vw + 2rem);
      z-index: 10;
      overflow:hidden;
      // overflow: visible;
      transform:  translate(15%, 0) rotate3d(0, -20, 0, 10deg);
      & > img {
        position: absolute;
        left: 0;
        top: 5%;
        height: 90%;
        display: block;
        z-index: 100;
        border-radius: 4px;
        transform: rotate3d(0, -20, 0, 10deg);
        box-shadow: 0 0 20px -3px #333;
      }
    } 
  }
  .lottieintro{
    width: 100%;  
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-14rem;
    position: absolute;
    transform: translate(-50%,0);
    z-index:40;
  }
  .bodylottie {
    max-width: 25rem;
    height: 25rem;
    object-fit:contain;
  }
   
   .producttraits{
      // flex-flow: row wrap;
      // justify-content: space-around;
      margin-top: 3rem;
      & > div {
        // flex: 2 1 20rem;
        // max-width: 50%;
        & > img{
          filter: invert(22%) sepia(69%) saturate(1660%) hue-rotate(345deg) brightness(100%) contrast(86%);
        }
      }

     & h3 {
       letter-spacing: 0;
     }
   } 
   	.timelinediv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;

    
    & > div:nth-of-type(2){
      flex: 1 1 30rem;
      height: 15rem;
    }
    .timelinelottie {
      height: 100%;
      margin: auto 0 auto auto;
      max-width: 13rem;

    }
  }
  @media (max-width: 790px){
    .timelinediv div:nth-of-type(2){
      flex: 1 1 0;
      width: 0;
    }
    :global(.timelinelottie) {
      display: none;
    }
  }
  
  .introicon{
    width: 9rem;
    margin-inline: auto;
    display: block;
    margin-bottom: 1.3rem;
  }
  .concernblobcontainer {
    margin-top: 5rem;
    display: grid;
    width: 106%;
    margin-left: -3%;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 30rem));
    grid-auto-rows: 1fr;
    justify-content: center;
    // column-gap: 2%;
  }
  .partnersdiv {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    width: 100%;
    & > a { 
      filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
      // width: 336px;
      // height: 180px;
      position: relative;
      text-align: center;
      transform: scale(1);
      transition: transform 0.2s;
      & > img {
        height: 100%;
        max-width: 16rem;
      }
      &:hover {
        transform: scale(1.1);
      }
     }
  }
  
  .rmanswer {
    display: flex;
    flex-flow: row wrap;
    margin-inline: auto;
    // width: 70%;
    padding: 5rem 5% 3rem;
    & h3 {
      display: inline-block;
    } 
    & > div {
      flex: 2 1 60%;
      min-width: 30rem;
      padding: 1rem 1.5rem;
    }
    & > :global(img) {
      flex: 2 1 40%;
    }
  }
   
</style>
