---
import HomepageLayout from '../layouts/HomepageLayout.astro'
import FlexDiv from '../components/FlexDiv.astro'
import Button from "../components/Button.astro"
import CallToAction from "../components/CallToAction.astro" 
import Stream from "../components/Stream.astro" 
import ConcernBlob from '../components/ConcernBlob.astro'
import RMDiagram from '../components/RMDiagram.astro'
import ChangeTracker from '../components/ChangeTracker.astro'
import Timeline from '../components/Timeline.astro'
import SmallLink from '../components/SmallLink.astro'
import {Img} from "astro-imagetools/components"
import {formatSlug} from '../utils'
---
<HomepageLayout>
    <div class="shapeintro">
      <noscript><link rel="stylesheet" href="nojs.css" /></noscript>
      <div id="bgbackdrop"></div>
      <div id="bgimage"></div>
      <div class="shapeintrobg" id="shapeintrobg"></div>
      <div class="introtext ">
        <h1 class="hiddenheader load-hidden">ReviewMate</h1>
        <h2 class="scrollrevealtext1 load-hidden">Elevate your medical code auditing workflow</h2>
        <p class="scrollrevealtext2 load-hidden">Streamline auditing,
        integrate your data seamlessly, and consolidate communication in one platform.</p>
        <h3 class="scrollrevealtext3 load-hidden" style="letter-spacing:1px;">Created by auditors, for auditors.</h3>
        <Button color="white" text="Key Features"  outline style="color: white" className="scrollrevealtext3"/>
      </div>
        <iframe id="productintroscreen" width="660" height="415" src="https://www.youtube.com/embed/TGe97xQyex8?modestbranding=1" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img{position:absolute;min-width:calc(100% + 8px);height: calc(100% + 8px);margin-left: 0;top:-4px;left: -4px;bottom:0;margin:auto;}.youtubearrow{color: white;width:50%;aspect-ratio: 1 / 1;position: absolute;left:50%;top: 50%;transform: translate(-50%, -50%);display:grid;justify-content:center;}</style><a href=https://www.youtube.com/embed/TGe97xQyex8?modestbranding=1><img src=https://img.youtube.com/vi/TGe97xQyex8/maxresdefault.jpg alt='ReviewMate Overview'><span class='youtubearrow'><svg width='100' height='100' style='fill:#ffffff;position: absolute;top: 50%;left:50%;transform:translate(-50%, -50%);' viewBox='0 0 90.898514 90.898514' version='1.1' id='svg5' inkscape:export-filename='ytplay.svg' inkscape:export-xdpi='300' inkscape:export-ydpi='300' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' ><defs id='defs2'  /><g inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(-1.0631373)'><path id='path241' transform='matrix(0,-0.32138075,0.32138075,0,11.079654,57.71011)' inkscape:transform-center-x='0.94132348' inkscape:transform-center-y='1.872329' d='m 106.74077,66.323128 -25.506365,44.178322 -39.2647,68.00846 a 7.9433773,7.9433773 -180 0 1 -13.758333,0 L 2.7050047,134.33158 -36.559696,66.323128 a 7.9433773,7.9433773 120 0 1 6.879167,-11.915066 h 51.012734 78.5294 a 7.9433773,7.9433773 60 0 1 6.879165,11.915066 z' style='fill:#fff;stroke-width:7.9375' /><path style='color:#fff;fill:#fff;-inkscape-stroke:none' d='M 46.511719,0 C 21.439501,0 1.0625,20.377001 1.0625,45.449219 c 0,25.072218 20.377001,45.449218 45.449219,45.449218 25.072218,0 45.449218,-20.377 45.449218,-45.449218 C 91.960937,20.377001 71.583937,0 46.511719,0 Z m 0,4.84375 c 22.454291,0 40.605468,18.151178 40.605468,40.605469 0,22.454291 -18.151177,40.605468 -40.605468,40.605468 C 24.057428,86.054687 5.90625,67.90351 5.90625,45.449219 5.90625,22.994928 24.057428,4.84375 46.511719,4.84375 Z' id='path403' /></g></svg></span></a>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
      <div id="testscreen">
        <img src="/HomeDashboard.svg" alt="screenshot of ReviewMate's graphical user interface" />
      </div>
    </div>
<main style="padding-top: 0;" id="main">
  <div class="introCTA" >
    <Button as="link" href="/resources/" text="View our Blog" outline style="z-index:30;"></Button>
    <Button as="link" href="/contact/" text="Contact Us" style="z-index:30;" size="3" ></Button>
    <Button as="link" href="/plans/" text="Plans and Features" outline style="z-index:30;"></Button>
  </div>

  <FlexDiv className="producttraits"  alignContent="center">
    <div class="scrollreveal">
      <img src="/Integrate(kf).svg" width="138" height="153"  alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3>Integrate</h3>
      <h4 >Consolidate data from any source</h4>
      <p>Connect ReviewMate right into your universe of data or import loose resources independently, for gathering samples.</p>
    </div>
    <div class="scrollreveal">
    <img src="/Audit(kf).svg" width="138" height="153" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3>Audit</h3>
      <h4>Find and extrapolate findings seamlessly</h4>
      <p>Integrated tools keep both the auditor closer to the data, and expands more accountable, transparent communication.</p>
    </div>
    <div class="scrollreveal">
      <img src="/Report(kf).svg" width="138" height="153" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3>Report</h3>
      <h4>Summarize findings and continually manage auditing operations</h4>
      <p>Customizable reports and integrated communication channels expedite results right to the end-user.</p>
    </div>
    <div class="scrollreveal">
      <img src="/Automate(kf).svg" width="138" height="153" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3>Automate</h3>
      <h4>Automate work and gain insight</h4>
      <p>Leverage artificial intelligence and community-sourced data to augment workflows intuitively. Expedite discovery of auditing opportunities.</p>
    </div>
  </FlexDiv>

<ChangeTracker/>

  <FlexDiv padding="2rem 0 3rem" className="red scrollreveal" style="margin-top: 5rem;background: radial-gradient(hsla(var(--color2hsl), 40%), hsla(var(--color2hsl), 20%) 20%, white 60%); ">
  <h3 style="margin-bottom: 3rem;">Trusted By:</h3>
  <div class="partnersdiv">
      <a href="https://www.comforcehealth.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/comforcehealth.svg" height="180" width="336" alt="Comforce Health logo" loading="lazy"/>
      </a>
      <a href="https://www.cioxhealth.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/ciox.svg" alt="Ciox's logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://www.3m.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/3m.svg" alt="3M's logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://ecatalysthealth.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/eCatalyst.svg" alt="eCatalyst's logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://intellisiq.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/intellis.svg" alt="Intellis' logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://www.lifebridgehealth.org/Main/Home.aspx" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/lifebridge.svg" alt="Intellis' logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://www.essentiahealth.org/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/Essentia-Health-Logo.svg" height="180" width="336" alt="Maxim Healthcare's logo" loading="lazy"/>
      </a>
      <a href="https://www.maximhealthcare.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/maxim.svg" alt="Maxim Healthcare's logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://www.optum.com/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/Optum.svg" alt="Optum Health services' logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://xtendhealthcare.net/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/Xtend.svg" alt="Xtend Healthcare's logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://www.nthrive.com/transunionhealthcare/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/nThrive.svg" alt="nThrive's logo" height="180" width="336" loading="lazy"/>
      </a>
      <a href="https://jtshealthpartners.com/jts-health-partners-overview/" target="__blank" rel="noopener">
          <img class="partnerlogo" src="/brandsvgs/JTS-Health.svg" alt="JTS's logo" height="180" width="336" loading="lazy"/>
      </a>
  </div>
</FlexDiv>

<div class="rellaxwrapper concernblobcontainer">
    <ConcernBlob tagline={`"Spreadsheet Friction" `} description="Juggling between spreadsheets and different program resources is not only frustrating, but it wastes time, and can contribute to inconsistency." answer="ReviewMate consolidates all of your sources of information into one platform. Log in and take care of business." img="/SpreadSheetFriction.svg" imgAlt="Woman working in the center of many spreadsheets." className="scrollreveal" >
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={`The "Game of Telephone" `} description="While reviewers are providing insights and comments on findings, having a single document being constantly carbon copied blurs lines of accountability, and opens up gaps for miscommunication." answer="Synchronized communication allows for every single audit, finding, comment, and task to be completely transparent for all authorized parties. " img="/GameOfTelephone.svg" imgAlt="Man with four rams holding many different phone alerts in between many different emails and ICD-10 codes" className="scrollreveal" >
    </ConcernBlob>
    <ConcernBlob tagline={`The "Email Traffic-Jam" `} description="Email threads become messy and burdensome, sometimes overlooking pertinent information in pages and pages of history." answer="ReviewMate brings modern central communication to auditing deliberation, by integrating direct references, explicit notes, and party transparency so that everyone is heard concisely." img="/EmailTrafficJam.svg" imgAlt="Woman dissecting and analyzing an email thread." className="scrollreveal" >
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={` The "Opaque" problem`} description="Managers, and most importantly, clients, need to be able to keep track of active progression in auditing tasks to utilize a pro-active approach to the teams' work." answer="Tasks in ReviewMate are groups of assigned work which can be traced on factual, present data. ReviewMate even extends special transparency tools for clients and coders alike." img="/OpaqueProblem.svg" imgAlt={`Man hiding his computer screen with a "TBD" sign`} className="scrollreveal" >
    </ConcernBlob>
</div>

<RMDiagram />

<!-- <Timeline>
    <div slot="1">
      <div class="timelinediv">
        <div>
          <h2>Integrate</h2> 
          <p>Securely connect to your universe of data seamlessly. Imported
          data is available platform-wide and ready for selection. Data sources keep a subscription that keep all selected data live.</p> 
          <SmallLink href={`/security/${formatSlug("Integration Manager")}/`} text="Integration Manager"/> 
          <SmallLink href={`/security/${formatSlug("Multifactor Authentication")}/`} text="Multifactor Authentication"/> 
          <SmallLink href={`/security/${formatSlug("LDAP / Active Directory")}/`} text="LDAP / Active Directory"/> 
          <SmallLink href={`/security/${formatSlug("VPN Integration")}/`} text="VPN Integration"/> 
        </div> 
      </div>
    </div>
    <div slot="2">
      <div class="timelinediv">
        <div>
        <h2>Sample</h2> 
        <p>Apply flexible rules and parameters to concisely gather accounts for auditing using a multitude of parameters and options. Randomization and automation tools augment any sampling need.</p>
          <SmallLink href={`/auditing/${formatSlug("Selector Tools")}/`} text="Selector Tools"/> 
  
          <SmallLink href={`/monitoring/${formatSlug("Risk Manager")}/`} text="Risk Manager"/> 
      </div>
      </div>
    </div>
    <div slot="3">
    <div class="timelinediv">
        <div>
     <h2>Audit</h2> 
     <p>Conduct audits in a transparent consolidated platform that makes it easy to maneuver. Relay audit findings
     to other users easily.</p>
     <SmallLink href="/auditing/inpatient/" text="IPPS"/>
     <SmallLink href="/auditing/outpatient/" text="OPPS"/>
     <SmallLink href="/auditing/profee/" text="Profee"/>
     <SmallLink href="/auditing/asc/" text="ASC"/>
     <SmallLink href="/auditing/cms-hcc/" text="CMS-HCC"/>
     <SmallLink href="/auditing/selector-tools/" text="Selector Tools"/>
     <SmallLink href="/auditing/record-tracker/" text="Record Tracker"/>
     <SmallLink href="/auditing/physician-query-analysis/" text="Physician Query Analysis"/>
     </div>
      </div>
    </div>
    <div slot="4">
    <div class="timelinediv">
        <div>
     <h2>Report</h2> 
     <p>Either choose from a variety of standard options or create an infinite amount of flexible, custom reports as one sees fit. </p>
     <SmallLink href="/reporting/coder-report-cards/" text="Report Cards"/>
     <SmallLink href="/reporting/accuracy-manager/" text="Accuracy Manager"/>
     <SmallLink href={`/reporting/${formatSlug("Document Manager")}/`} text="Document Manager"/> 
     <SmallLink href="/reporting/code-finder/" text="Code Finder"/>
     <SmallLink href="/reporting/dashboards/" text="Dashboards"/>
     <SmallLink href="/reporting/summary-templates/" text="Summary Templates"/>
     <SmallLink href="/reporting/exportability/" text="Exportability"/>
     </div>
      </div>
    </div>
    <div slot="5">
    <div class="timelinediv">
        <div>
     <h2>Monitor</h2> 
     <p>Track findings in one centralized platform while augmenting workflows with artificial intelligence. Engineer quickerr workflow solutions.</p>
     <SmallLink href={`/monitoring/${formatSlug('Risk Manager')}/`} text="Risk Manager"/>
     <SmallLink href="/monitoring/audit-the-auditor/" text="Audit The Auditor"/>
     
     <SmallLink href="/monitoring/reviewmate-insights/" text="ReviewMate Insights"/>
     <SmallLink href="/monitoring/customizable-tasks/" text="Customizable Tasks"/>
     </div>
    </div>
  </div>
  <div slot="6">
    <div class="timelinediv">
        <div>
     <h2>Educate</h2> 
     <p>Keep training and education just peripheral to the auditing workflow for easily assigning tranining to coders, to growing knowledge, and to communicate transparently with others. </p>
     <SmallLink href="/monitoring/education-tracking/" text="Education Tracking"/>
     <SmallLink href="/reporting/exportability/" text="Exportability"/>
     </div>
    </div>
  </div>
  
</Timeline> -->

<FlexDiv class="morecapabilities" style="background-color: #fafafa;width: 114%;margin-top: -3rem;margin-inline:-7%;padding: 2rem;">
  <div class="scrollreveal" style="display:block;width:100%;text-align: center;">
    <h3>Explore more</h3>
  </div><br/>

  <Button text="Auditing" href="/auditing/" outline className="scrollreveal"></Button>
  <Button text="Automation" href="/automation/" outline className="scrollreveal"></Button>
  <Button text="Reporting" href="/reporting/" outline className="scrollreveal"></Button>
  <Button text="Security" href="/security/" outline className="scrollreveal"></Button>
  <Button text="Monitoring" href="/monitoring/" outline className="scrollreveal"></Button>
</FlexDiv>
  
<Stream postType="blogPost" title="Blog" size="small" className="scrollreveal"/>

<CallToAction color="red" header="Let us show you how you can start saving hours a week" style="margin-bottom: -3rem;padding-left:10%;padding-right:10%;" >
  <!-- <Button color="white" as="link" href="/keyfeatures/" text="Discover our Key Features" size="2" style="z-index:30;margin-top: 2rem;"/> -->
  <Button color="white" as="link" href="/plans/" text="Explore our plans and features" size="2" style="z-index:30;margin-top: 2rem;"/>
  <Button color="yellow" as="link" href="/contact/" text="Contact Us" size="2" style="z-index:30;margin-top: 2rem;"/>
</CallToAction>

</main>
<script>
  function deferAddimage(){
    const introbg = document.querySelector('#bgimage')?.style;
    introbg.backgroundImage = `url('/marc-mueller.webp'), url('/marc-mueller.jpeg')`;
    introbg.background = `url('/marc-mueller.webp'), url('/marc-mueller.jpeg')`;
    introbg.backgroundRepeat = `no-repeat`;
    introbg.backgroundSize = `cover`;
    setTimeout(() => {
      introbg.opacity = 1;
    }, 300)
  }
  window.onload = deferAddimage();

</script>
</HomepageLayout>

<style lang="scss">
  .shapeintro {
    color: white; 
    width: 100%;
    margin-inline: auto;
    // height: clamp(48rem, 48rem, 60rem);
    height: clamp(28rem, 70vh, 48rem);
    display: block;
    max-width: 100%;
    top: -1px;
    text-indent: 0;
    position: relative;
    z-index: 30;
    margin-bottom: 13rem;
    margin-bottom: 56vh;

      // clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
    #bgbackdrop {
      background-color: hsl(var(--color1hsl));
      background: hsl(var(--color1hsl));
      z-index: -1;
    }
    #bgimage, .shapeintrobg, #bgbackdrop  {
      background-repeat: no-repeat;  
      background-size: cover;
      clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    #bgimage {
      opacity: 0;
      // transition-delay: 2s;
      transition: opacity 4s 0.2s;
    }
    .shapeintrobg {
      background: linear-gradient(172deg, hsl(var(--color1hsl)) 20%, hsla(var(--color1h), 70%, 20%, 15%) );
    }
    & #productintroscreen{
      position: absolute;
      max-width: 55rem;
      bottom: -9rem;
      max-width: 80%;
      box-shadow:none;

      left: 50%;
      transform-origin: 50% 50%;
      transform: translate3d(-50%, 0, 0);
      
      z-index: 300;
      // box-shadow: 0 12px 20px -4px #111;
      border-radius: 12px;
      aspect-ratio: 16 / 9;
      & img {

      }
    }
    .introtext {
      position: absolute;
      width: 100%;
      padding-inline: 2rem;
      // left: 8vw;
      top: -10px;
      z-index: 100;

      & h2, & p, & h3 {
        color: white;
        text-align: center;
        width: 100%;
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-indent: 0;
        position: relative;
        top: 2rem;
        margin: 0 0 2rem;
        display: block;
        text-shadow: 0 4px 12px #000000aa;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-right: 5%;
        text-shadow: 0 3px 9px  #44444499;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
        text-shadow: 0 2px 4px #66666699;
      }
    }
  }
  
  #testscreen {
    height: 80vw;
  }
  @media (max-width: 446px ){
    .shapeintro > .introtext {
      width: 90%;
      // bottom: calc(20vw + 12rem);
    }
  }
  @media (min-width: 1110px ){
    .shapeintro {
      // margin-bottom: 21vw;
    }
    .shapeintro > .introtext {
      bottom: calc(22vw * 0.80 + 14rem);
    }
  }
  
  @media (min-width:669px){
    .shapeintro {
  
      margin-bottom: 12rem;
      & > #productintroscreen{
        aspect-ratio: 4 / 3;
        // bottom: -6.5rem;
        max-width: 55rem;
        // box-shadow:none;
        box-shadow: 0 12px 20px -4px #111;
      }
      & > .introtext {
        width: 50%;
        padding-inline: 0;
      }
    }
  }
  
  // .shapeintrobg {
  //   background-color: #888;
  //   background-repeat: no-repeat;  
  //   background-size: cover;
  //   clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   // max-height: 38rem;
  //   // top: 2px;
  //   // transform: translate(0, -2px);
  //   z-index: -1;
  //   &::after {
  //     content: '';
  //     height: 100%;
  //     width: 100%;
  //     background-color: hsl(var(--color1hsl));
  //     background: linear-gradient(172deg, hsl(var(--color1hsl)) 25%, hsla(var(--color1h), 70%, 20%, 30%) );
  //     position: absolute;
  //     top: -6px;
  //     left: 0;
  //     z-index: -1;
  //   }
  // }
  
  .introCTA{
    width: 100%; 
    display: flex;
    justify-content: center; 
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    gap: 1rem; 
    align-items: center;
  }
  #testscreen{
    perspective: 500px;
    bottom: calc(-80vw - 3rem);
    width: 88vw;
    max-width: 70rem;
    margin-inline: auto;
    position: absolute;
    left: 6%;
    z-index: 10;
  }

.producttraits {
  display: grid!important;
  grid-template-columns: repeat(auto-fit, minmax(18rem,  44%));    
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: start;
  column-gap: 6%;
  // row-gap: 2.5rem;
  margin-bottom: 4rem;
  & > div {
    flex: 1 1 24rem;
    // min-width: 18rem;
    max-width: 28rem;
    margin-inline: auto;
    & > h3 {
      font-size: 1.85rem;
      // text-align: center;
      // text-indent: 1rem;
    }
    & > h4 {
      font-size: 1.25rem;
      letter-spacing: 0;
      // text-indent: 1rem;
    }
    & > p {
      margin-top: 0.5rem;
      text-indent: 0;
    }
  }
}

  @media (min-width: 690px ){
    .introCTA{
    flex-flow: row nowrap;
    margin-bottom: 4rem;
    }
    .producttraits {
      margin-top: 1rem;
    }
    .shapeintro {
      // margin-bottom: calc(10rem * 1.2);
    }
    .introtext {
      position: absolute;
      width: 50%;
      left: 8vw;
      top: 3rem;
      z-index: 100;
      & h2, & p, & h3 {
        color: white;
        text-align: left!important;
      }
      & p, & h3 {
        max-width: 44vw;
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-align: left;
        text-indent: 0;
        max-width: 70vw;
        position: relative;
        top: 2rem;
        margin: 0 0 2rem;
        display: block;
        text-shadow: 0 4px 14px #22222299;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-right: 5%;
        text-shadow: 0 3px 9px  #44444499;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
        text-shadow: 0 2px 4px #66666699;
      }
    }

    .introtext p, .introtext h3 {
      width: 45vw;
    }    
    #testscreen{
      perspective: 500px;
      bottom: 0vw;
      height: 100%;
      width: clamp(20rem, 40vw, 90rem);
      position: absolute;
      left: calc(53vw + 1rem);
      z-index: 10;
      overflow:hidden;
      transform:  translate(15%, 0) rotate3d(0, -20, 0, 10deg);
      & > img {
        position: absolute;
        left: 0;
        top: 5%;
        height: 90%;
        display: block;
        z-index: 100;
        border-radius: 4px;
        transform: rotate3d(0, -20, 0, 10deg);
        box-shadow: 0 0 20px -3px #333;
      }
    } 
  }
  .lottieintro{
    width: 100%;  
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-14rem;
    position: absolute;
    transform: translate(-50%,0);
    z-index:40;
  }
  .bodylottie {
    max-width: 25rem;
    height: 25rem;
    object-fit:contain;
  }
   
   .producttraits{
      margin-top: 3rem;
      & > div {
        & > img{
          filter: invert(22%) sepia(69%) saturate(1660%) hue-rotate(345deg) brightness(100%) contrast(86%);
        }
      }
     & h3 {
       letter-spacing: 0;
     }
   } 
   	.timelinediv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    & > div:nth-of-type(2){
      flex: 1 1 30rem;
      height: 15rem;
    }
    .timelinelottie {
      height: 100%;
      margin: auto 0 auto auto;
      max-width: 13rem;
    }
  }
  @media (max-width: 790px){
    .timelinediv div:nth-of-type(2){
      flex: 1 1 0;
      width: 0;
    }
    :global(.timelinelottie) {
      display: none;
    }
  }
  
  .introicon{
    width: 9rem;
    margin-inline: auto;
    display: block;
    // margin-bottom: 1.3rem;
  }
  .concernblobcontainer {
    margin-top: 5rem;
    display: grid;
    flex-wrap:wrap;
    width: 106%;
    margin-left: -3%;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 50%));
    padding-inline: 4%;
    grid-auto-rows: 1fr;
  }
  .partnersdiv {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    & > a { 
      filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
      position: relative;
      text-align: center;
      transform: scale(1);
      transition: transform 0.2s;
      & > img {
        height: 100%;
        max-width: 16rem;
      }
      &:hover {
        transform: scale(1.1);
      }
     }
  }
  .rmanswer {
    display: flex;
    flex-flow: row wrap;
    margin-inline: auto;
    padding: 5rem 5% 3rem;
    & h3 {
      display: inline-block;
    } 
    & > div {
      flex: 2 1 60%;
      min-width: 30rem;
      padding: 1rem 1.5rem;
    }
    & > :global(img) {
      flex: 2 1 40%;
    }
  }
 .morecapabilities{
  outline: 2px solid purple;
 }  
 .hiddenheader{
  display: none;
 }
</style> 
