---
import HomepageLayout from '../layouts/HomepageLayout.astro'
// import StyleOverview from '../components/StyleOverview.astro'
// import Image from "astro-imagetools"
import FlexDiv from '../components/FlexDiv.astro'
import Button from "../components/Button.astro"
import SmallLink from "../components/SmallLink.astro"
---
<HomepageLayout>
  <div class="shapeintro" style="margin-bottom: 10rem;">
    <h2>Elevate your medical code auditing workflow</h2><br/>
    <p style="">Streamline auditing, integrate your data seamlessly, and consolidate communication in one platform.<br/> Created by auditors, for auditors.</p>
    <lottie-player src="/RM-lady-lottie.json" background="transparent" speed="0.8" class="lottieintro" loop autoplay style="z-index: 2;"></lottie-player>
  </div>

  <div style="width: 100%; display: flex;justify-content: center; flex-flow: row wrap;margin-bottom: 4rem;gap: 1rem">
    <Button as="link" href="/" text="Contact Us"  outline style="z-index:30;" />
    <Button as="link" href="/" text="Use-cases" outline style="z-index:30;"/>
    <Button as="link" href="/plans" text="Plans" outline style="z-index:30;"/>
  </div>
  
<FlexDiv variant={ 0 } class="load-hidden" justify="center" gap="2rem" >
  <lottie-player src="/lotties/RM-interface.json" background="transparent"  speed="0.8" class="bodylottie scrollrevealright" loop autoplay  slot="image"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Integrate</h2>
    <p> Connect universe data seamlessly and with ease. Imported data is available platform-wide, and all auditing changes remain transparent from the source.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv variant={ 1 }  justify="center" gap='2rem'>
  <lottie-player src="/lotties/RM-refine.json" background="transparent"  speed="0.8"  loop autoplay  slot="image" class="bodylottie scrollrevealright"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Refine Searches</h2>
    <p>Search parameters efficiently gather accounts for instantaneous results without switching between spreadsheet apps.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv variant={ 0 } justify="center" gap='2rem'>
  <lottie-player src="/lotties/RM-audit.json" background="transparent"  speed="0.8" loop autoplay slot="image" class="bodylottie scrollrevealleft"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Audit</h2>
    <p>Extrapolate findings with configurable workflows that hone your focus on relevant data.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv variant={ 1 } justify="center" gap='2rem'>
  <lottie-player src="/lotties/RM-report.json" background="transparent"  speed="0.8" loop autoplay slot="image" class="bodylottie scrollrevealright"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Report</h2>
    <p>Relay findings in a seamless, adaptive system for any channel of communication. Customize every aspect of templates to encourage consistency across your institution.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>
<FlexDiv variant={ 0 } justify="center" gap='2rem' >
  <lottie-player src="/lotties/RM-monitor.json" background="transparent"  speed="0.8" loop autoplay slot="image" class="bodylottie scrollrevealleft"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Monitor</h2>
    <p>Track findings in one centralized platform while augmenting your workflow with artificial intelligence to improve results.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv id="usecases" justify="space-around" >
  <div>
    <h3>Inpatient Billing</h3>
    <p>Paragraph for what describes Inpatient Audidintg specifically</p>
  </div>
  <div>
    <h3>Outpatient Billing</h3>
    <p>Paragraph for what describes Inpatient Audidintg specifically</p>

  </div>
</FlexDiv>
<h3>Much more than auditing</h3>

  
</HomepageLayout>

<style lang="scss">
  .shapeintro {
    color: white; 
    // height: 30rem;
    width: 114%;
    margin-inline: -7%;
    min-height: 34rem;
    // padding-top: 3rem;
    // top: -10rem;
    top: -1px;
    text-align: center;
    position: relative;
    z-index: 30;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: hsl(var(--color1hsl));
      background: linear-gradient(to bottom, hsl(var(--color1hsl)) 80%, hsl(var(--color1h), 70%, 20%) );
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      clip-path: polygon(0% 79.25%, 0% 0%, 100% 0%, 100% 79.25%, 50% 100%);
    }
    & > p {
      color: white;
      // max-width: 70vh;
      padding-inline: 5%;
    }
    & > h2 {
      text-align: justify;
      text-justify:inter-word;
      line-height: 3rem;
      font-weight: bolder;
      // min-width: 20rem;
      max-width: 70vw;
      position: relative;
      // top: -2rem;
      // padding-top: 2rem;
      margin: 0 auto 2rem;
      display: block;
    }
  }
  .lottieintro{
    width: 100%;  
    // height: 50rem;
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-14rem;
    position: absolute;
    transform: translate(-50%,0);
    // margin-top: -20rem;
    z-index:40;
  }
  .bodylottie {
    // max-height: 13rem;
    max-width: 25rem;
    height: 25rem;
    object-fit:contain;
  }
   
</style>
