---
import HomepageLayout from '../layouts/HomepageLayout.astro'
// import StyleOverview from '../components/StyleOverview.astro'
// import Image from "astro-imagetools"
import FlexDiv from '../components/FlexDiv.astro'
---
<HomepageLayout>
  <div class="shapeintro">
    <h2>Elevate your medical code auditing workflow</h2>
    <p>Streamline auditing, integrate your data seamlessly, and consolidate communication in one platform. Created by auditors, for auditors.</p>
    <lottie-player src="/RM-lady-lottie.json" background="transparent"  speed="0.8" class="lottieintro" loop autoplay></lottie-player>
  </div>
  
<FlexDiv variant={ 0 } style="margin-top: 16rem" class="scrollreveal load-hidden" >
  <lottie-player src="/lotties/RM-interface.json" background="transparent"  speed="0.8" class="bodylottie" loop autoplay  slot="image"></lottie-player>
  <div slot="body">
    <h2>Integrate</h2>
    <p> Connect universe data seamlessly and with ease. Imported data is available platform-wide, and all auditing changes remain transparent from the source.</p>
  </div>
</FlexDiv>

<FlexDiv variant={ 1 } class="scrollreveal" >
  <lottie-player src="/lotties/RM-refine.json" background="transparent"  speed="0.8"  loop autoplay  slot="image"></lottie-player>
  <div slot="body">
    <h2>Refine Searches</h2>
    <p>Search parameters efficiently gather accounts for instantaneous results without switching between spreadsheet apps.</p>
  </div>
</FlexDiv>

<FlexDiv variant={ 0 } >
  <lottie-player src="/RM-lady-lottie.json" background="transparent"  speed="0.8" loop autoplay slot="image"></lottie-player>
  <div slot="body">
    <h2>Audit</h2>
    <p>Extrapolate findings with configurable workflows that hone your focus on relevant data.</p>
  </div>
</FlexDiv>

<FlexDiv variant={ 1 } >
  <lottie-player src="/RM-lady-lottie.json" background="transparent"  speed="0.8" loop autoplay slot="image"></lottie-player>
  <div slot="body">
    <h2>Report</h2>
    <p>Relay findings in a seamless, adaptive system for any channel of communication. Customize every aspect of templates to encourage consistency across your institution.</p>
  </div>
</FlexDiv>
<FlexDiv variant={ 0 } >
  <lottie-player src="/RM-lady-lottie.json" background="transparent"  speed="0.8" loop autoplay slot="image"></lottie-player>
  <div slot="body">
    <h2>Monitor</h2>
    <p>Track findings in one centralized platform while augmenting your workflow with artificial intelligence to improve results.</p>
  </div>
</FlexDiv>

  <p style="margin-top: 12rem;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis, explicabo soluta porro, quaerat, assumenda laborum cum enim quos aspernatur incidunt voluptate. Perspiciatis, debitis blanditiis? Reprehenderit, quasi eius? Odit, quibusdam.</p>

  
  
</HomepageLayout>

<style lang="scss">
  .shapeintro {
    // background-color: hsl(var(--color1hsl));
    color: white; 
    // height: 30rem;
    width: 114%;
    margin-inline: -7%;
    height: 30rem;
    padding-top: 3rem;
    // top: -10rem;
    top: 0;
    text-align: center;
    position: relative;
    z-index: 30;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: hsl(var(--color1hsl));
      background: linear-gradient(to bottom, hsl(var(--color1hsl)) 80%, hsl(var(--color1h), 70%, 20%) );
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      clip-path: polygon(0% 79.25%, 0% 0%, 100% 0%, 100% 79.25%, 50% 100%);
    }
    & p {
      color: white;
    }
  }
  .lottieintro{
    width: 100%;  
    // height: 50rem;
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-4rem;
    position: relative;
    transform: translate(-50%,0);
    // margin-top: -20rem;
    z-index:40;
  }
  .bodylottie {
    max-height: 13rem;
    object-fit:contain;
  }
</style>
