---
import DocumentLayout from '../layouts/DocumentLayout.astro'
import BlogStream from "../components/BlogStream.astro" 
---
<DocumentLayout>
  
<main style="padding-top: 0;" id="main">
  <BlogStream />
</main>
</DocumentLayout>

<style lang="scss">
  .shapeintro {
    color: white; 
    width: 100%;
    margin-inline: auto;
    // height: clamp(48rem, 48rem, 60rem);
    height: clamp(28rem, 70vh, 48rem);
    display: block;
    max-width: 100%;
    top: -1px;
    text-indent: 0;
    position: relative;
    z-index: 30;
    margin-bottom: 9rem;
    margin-bottom: 56vh;

      // clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
    #bgbackdrop {
      background-color: hsl(var(--color1hsl));
      background: hsl(var(--color1hsl));
      z-index: -1;
    }
    #bgimage, .shapeintrobg, #bgbackdrop  {
      background-repeat: no-repeat;  
      background-size: cover;
      clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    #bgimage {
      opacity: 0;
      // transition-delay: 2s;
      transition: opacity 4s 0.2s;
    }
    .shapeintrobg {
      background: linear-gradient(172deg, hsl(var(--color1hsl)) 20%, hsla(var(--color1h), 70%, 20%, 15%) );
    }
    & #productintroscreen{
      position: absolute;
      bottom: 6rem;
      bottom: -6.5rem;
      max-width: 55rem;

      bottom: -35vw;
      bottom: -6rem;
      max-width: 80%;
      box-shadow:none;

      left: 50%;
      transform-origin: 50% 50%;
      transform: translate3d(-50%, 0, 0);
      
      z-index: 300;
      // box-shadow: 0 12px 20px -4px #111;
      border-radius: 12px;
      aspect-ratio: 16 / 9;
    }
    .introtext {
      position: absolute;
      width: 100%;
      padding-inline: 2rem;
      // left: 8vw;
      top: 0rem;
      z-index: 100;

      & h2, & p, & h3 {
        color: white;
        text-align: center;
        width: 100%;
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-indent: 0;
        position: relative;
        top: 2rem;
        margin: 0 0 2rem;
        display: block;
        text-shadow: 0 4px 12px #000000aa;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-right: 5%;
        text-shadow: 0 3px 9px  #44444499;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
        text-shadow: 0 2px 4px #66666699;
      }
    }
  }
  
  #testscreen {
    height: 80vw;
  }
  @media (max-width: 446px ){
    .shapeintro > .introtext {
      width: 90%;
      // bottom: calc(20vw + 12rem);
    }
  }
  @media (min-width: 1110px ){
    .shapeintro {
      // margin-bottom: 21vw;
    }
    .shapeintro > .introtext {
      bottom: calc(22vw * 0.80 + 12rem);
    }
  }
  


  @media (min-width:669px){
    .shapeintro {
  
      margin-bottom: 9rem;
      & > #productintroscreen{
        aspect-ratio: 4 / 3;
        bottom: -6.5rem;
        max-width: 55rem;
        // box-shadow:none;
        box-shadow: 0 12px 20px -4px #111;
      }
      & > .introtext {
        width: 50%;
        padding-inline: 0;
      }
    }
  }
  
  // .shapeintrobg {
  //   background-color: #888;
  //   background-repeat: no-repeat;  
  //   background-size: cover;
  //   clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   // max-height: 38rem;
  //   // top: 2px;
  //   // transform: translate(0, -2px);
  //   z-index: -1;
  //   &::after {
  //     content: '';
  //     height: 100%;
  //     width: 100%;
  //     background-color: hsl(var(--color1hsl));
  //     background: linear-gradient(172deg, hsl(var(--color1hsl)) 25%, hsla(var(--color1h), 70%, 20%, 30%) );
  //     position: absolute;
  //     top: -6px;
  //     left: 0;
  //     z-index: -1;
  //   }
  // }
  
  .introCTA{
    width: 100%; 
    display: flex;
    justify-content: center; 
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    gap: 1rem; 
    align-items: center;
  }
  #testscreen{
    perspective: 500px;
    bottom: calc(-80vw - 3rem);
    width: 88vw;
    max-width: 70rem;
    margin-inline: auto;
    position: absolute;
    left: 6%;
    z-index: 10;
  }

.producttraits {
  display: grid!important;
  grid-template-columns: repeat(auto-fit, minmax(18rem,  44%));    
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: start;
  column-gap: 6%;
  // row-gap: 2.5rem;
  margin-bottom: 4rem;
  & > div {
    flex: 1 1 24rem;
    // min-width: 18rem;
    max-width: 28rem;
    margin-inline: auto;
    & > h3 {
      font-size: 1.85rem;
      // text-align: center;
      // text-indent: 1rem;
    }
    & > h4 {
      font-size: 1.25rem;
      letter-spacing: 0;
      // text-indent: 1rem;
    }
    & > p {
      margin-top: 0.5rem;
      text-indent: 0;
    }
  }
}

  @media (min-width: 690px ){
    .introCTA{
    flex-flow: row nowrap;
    margin-bottom: 4rem;
    }
    .producttraits {
      margin-top: 1rem;
    }
    .shapeintro {
      // margin-bottom: calc(10rem * 1.2);
    }
    .introtext {
      position: absolute;
      width: 50%;
      left: 8vw;
      top: 3rem;
      z-index: 100;
      & h2, & p, & h3 {
        color: white;
        text-align: left!important;
      }
      & p, & h3 {
        max-width: 44vw;
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-align: left;
        text-indent: 0;
        max-width: 70vw;
        position: relative;
        top: 2rem;
        margin: 0 0 2rem;
        display: block;
        text-shadow: 0 4px 14px #22222299;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-right: 5%;
        text-shadow: 0 3px 9px  #44444499;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
        text-shadow: 0 2px 4px #66666699;
      }
    }

    .introtext p, .introtext h3 {
      width: 45vw;
    }    
    #testscreen{
      perspective: 500px;
      bottom: 0vw;
      height: 100%;
      width: clamp(20rem, 40vw, 90rem);
      position: absolute;
      left: calc(53vw + 1rem);
      z-index: 10;
      overflow:hidden;
      transform:  translate(15%, 0) rotate3d(0, -20, 0, 10deg);
      & > img {
        position: absolute;
        left: 0;
        top: 5%;
        height: 90%;
        display: block;
        z-index: 100;
        border-radius: 4px;
        transform: rotate3d(0, -20, 0, 10deg);
        box-shadow: 0 0 20px -3px #333;
      }
    } 
  }
  .lottieintro{
    width: 100%;  
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-14rem;
    position: absolute;
    transform: translate(-50%,0);
    z-index:40;
  }
  .bodylottie {
    max-width: 25rem;
    height: 25rem;
    object-fit:contain;
  }
   
   .producttraits{
      margin-top: 3rem;
      & > div {
        & > img{
          filter: invert(22%) sepia(69%) saturate(1660%) hue-rotate(345deg) brightness(100%) contrast(86%);
        }
      }
     & h3 {
       letter-spacing: 0;
     }
   } 
   	.timelinediv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    & > div:nth-of-type(2){
      flex: 1 1 30rem;
      height: 15rem;
    }
    .timelinelottie {
      height: 100%;
      margin: auto 0 auto auto;
      max-width: 13rem;
    }
  }
  @media (max-width: 790px){
    .timelinediv div:nth-of-type(2){
      flex: 1 1 0;
      width: 0;
    }
    :global(.timelinelottie) {
      display: none;
    }
  }
  
  .introicon{
    width: 9rem;
    margin-inline: auto;
    display: block;
    // margin-bottom: 1.3rem;
  }
  .concernblobcontainer {
    margin-top: 5rem;
    display: grid;
    flex-wrap:wrap;
    width: 106%;
    margin-left: -3%;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 50%));
    padding-inline: 4%;
    grid-auto-rows: 1fr;
  }
  .partnersdiv {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    & > a { 
      filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
      position: relative;
      text-align: center;
      transform: scale(1);
      transition: transform 0.2s;
      & > img {
        height: 100%;
        max-width: 16rem;
      }
      &:hover {
        transform: scale(1.1);
      }
     }
  }
  .rmanswer {
    display: flex;
    flex-flow: row wrap;
    margin-inline: auto;
    padding: 5rem 5% 3rem;
    & h3 {
      display: inline-block;
    } 
    & > div {
      flex: 2 1 60%;
      min-width: 30rem;
      padding: 1rem 1.5rem;
    }
    & > :global(img) {
      flex: 2 1 40%;
    }
  }
 .morecapabilities{
  outline: 2px solid purple;
 }  
 .hiddenheader{
  display: none;
 }
</style> 
