---
import HomepageLayout from '../layouts/HomepageLayout.astro'
import FlexDiv from '../components/FlexDiv.astro'
import Button from "../components/Button.astro"
import { Img } from "astro-imagetools/components";
import Stream from "../components/Stream.astro"
import SmallLink from "../components/SmallLink.astro"
import ConcernBlob from '../components/ConcernBlob.astro'
import Timeline from "../components/Timeline.astro"
import {formatSlug} from "../featureList.js"
---
<HomepageLayout>
    <div class="shapeintro" >
      <noscript><link rel="stylesheet" href="nojs.css" /></noscript>
      <div  class="shapeintrobg" id="shapeintrobg"></div>
      <div class="introtext">
        <h2 class="scrollrevealtext1">Elevate your medical code auditing workflow</h2>
        <p class="scrollrevealtext2">Streamline auditing,
        integrate your data seamlessly, and consolidate communication in one platform.</p>
        <h3 class="scrollrevealtext3" style="letter-spacing:1px;">Created by auditors, for auditors.</h3>
      </div>
      <div id="productintroscreen">
        <Img src="/src/images/AppScreenshot1.png" alt="screenshot of ReviewMate web-app" placeholder="tracedSVG" loading="eager" formatOptions={{
          tracedSVG: {
            function: "trace",
            options: {
            turdSize: 4 , color: '#923B2D'}
          }
        }}/>
        <!-- <img src="/product-preview(2).svg" alt="screenshot of ReviewMate web-app" /> -->
      </div>
    </div>
<main style="padding-top: 0;" id="main">
  <div class="introCTA" >
    <Button as="link" href="/resources/" text="View our Blog" outline style="z-index:30;"></Button>
    <Button as="link" href="/contact/" text="Contact Us" style="z-index:30;" size="3" ></Button>
    <Button as="link" href="/plans/" text="Plans and Features" outline style="z-index:30;"></Button>
  </div>

  <FlexDiv gap="0.2rem" className="producttraits">
    <div class="scrollreveal">
      <img src="/Integrate(kf).svg" width="128" height="143"  alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Consolidate data from any source</h3>
      <p>Connect ReviewMate right into your universe of data or import loose resources independently, for gathering samples.</p>
    </div>
    <div class="scrollreveal">
      <img src="/Audit(kf).svg" width="128" height="143" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Audit and extrapolate findings seamlessly</h3>
      <p>Integrated tools keep both the auditor closer to the data, and expands more accountable, transparent communication.</p>
    </div>
    <div class="scrollreveal">
      <img src="/Report(kf).svg" width="128" height="143" alt="Icon of pulling in data from hospital database" class="rellax1 introicon" />
      <h3 style="letter-spacing:0;">Report and Monitor</h3>
      <p>Customizable reports and integrated communication channels expedite results right to the end-user.</p>
    </div>
  </FlexDiv>

<div class="rellaxwrapper concernblobcontainer">
    <ConcernBlob tagline={`"Spreadsheet Friction" `} description="Juggling between spreadsheets and different program resources is not only frustrating, but it wastes time, and can contribute to inconsistency." answer="ReviewMate consolidates all of your sources of information into one platform. Log in and take care of business." img="/SpreadSheetFriction.svg" imgAlt="Woman working in the center of many spreadsheets." className="scrollreveal" client:load>
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={`The "Game of Telephone" `} description="While reviewers are providing insights and comments on findings, having a single document being constantly carbon copied blurs lines of accountability, and opens up gaps for miscommunication." answer="Synchronized communication allows for every single audit, finding, comment, and task to be completely transparent for all authorized parties. " img="/GameOfTelephone.svg" imgAlt="Man with four rams holding many different phone alerts in between many different emails and ICD-10 codes" className="scrollreveal" client:load>
    </ConcernBlob>
    <ConcernBlob tagline={`The "Email Traffic-Jam" `} description="Email threads become messy and burdensome, sometimes overlooking pertinent information in pages and pages of history." answer="ReviewMate brings modern central communication to auditing deliberation, by integrating direct references, explicit notes, and party transparency so that everyone is heard concisely." img="/EmailTrafficJam.svg" imgAlt="Woman dissecting and analyzing an email thread." className="scrollreveal" client:idle>
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={` The "Opaque" problem`} description="Managers, and most importantly, clients, need to be able to keep track of active progression in auditing tasks to utilize a pro-active approach to the teams' work." answer="Tasks in ReviewMate are groups of assigned work which can be traced on factual, present data. ReviewMate even extends special transparency tools for clients and coders alike." img="/OpaqueProblem.svg" imgAlt={`Man hiding his computer screen with a "TBD" sign`} className="scrollreveal" client:load>
    </ConcernBlob>
</div>
  

<!-- Neeed to add in brands
 -->
<FlexDiv padding="3rem 6% 5rem" className="red" style="margin-top: 4rem;">
  <h3 style="margin-bottom: 2rem;">Trusted By:</h3>
  <div class="partnersdiv">
    <img class="partnerlogo" src="/brandsvgs/comforcehealth.svg" alt="Comforce Health logo" />
    <img class="partnerlogo" src="/brandsvgs/ciox.svg" alt="Ciox's logo" />
  </div>
  
</FlexDiv>



<Stream postType="blogPost" title="Blog" size="small"/>

<FlexDiv  className="calltoaction">
  <h3 style="padding-inline: 6%;">Let us show you how you can start saving hours a week</h3>
  <div >
    <Button color="white" as="link" href="/plans/" text="Explore our plans and features" size="2" style="z-index:30;margin-top: 2rem;"/>
    <Button color="yellow" as="link" href="/contact/" text="Contact Us" size="2" style="z-index:30;margin-top: 2rem;"/>
  </div>
</FlexDiv>

</main>
<script >
  function deferAddimage(){
    const introbgS = document.querySelector('#shapeintrobg')?.style;
    introbgS.backgroundImage = `url('/marc-mueller(4).webp'), url('/marc-mueller(4).jpeg')`;
    introbgS.background = `url('/marc-mueller(4).webp'), url('/marc-mueller(4).jpeg')`
    introbgS.backgroundRepeat = `no-repeat` 
    introbgS.backgroundSize = `cover` 
  }
  window.onload = deferAddimage();

</script>
</HomepageLayout>

<style lang="scss">
  .shapeintro {
    color: white; 
    width: 100%;
    margin-inline: auto;
    height: clamp(48rem, 48rem, 60rem);
    display: block;
    max-width: 100%;
    top: -1px;
    text-align: center;
    position: relative;
    z-index: 30;
    margin-bottom: 26vw;
    .introtext {
      position: absolute;
      width: 80%;
      left: 50%;
      bottom: calc(20vw * 0.9 + 18rem);
      transform: translate(-50%, 0);
      & h2, & p, & h3 {
        color: white;
      }
      & > h2 {
        line-height: 3rem;
        font-size: 2.4rem;
        font-weight: bolder;
        text-align: center;
        max-width: 70vw;
        position: relative;
        top: 2rem;
        margin: 0 auto 2rem;
        display: block;
      }
      & > p {
        margin-top: 4rem;
        font-size: 110%;
        text-indent: 0;
        padding-inline: 5%;
      }
      & > h3 {
        margin-top: 1.5rem;
        font-size: 1.3rem;
        letter-spacing: 0;
        font-weight: bolder;
      }
    }
  }
  @media (max-width: 446px ){
    .shapeintro > .introtext {
      width: 90%;
      bottom: calc(20vw + 12rem);
    }
  }
  @media (min-width: 1110px ){
    .shapeintro {
      margin-bottom: 21vw;
    }
    .shapeintro > .introtext {
      bottom: calc(22vw * 0.80 + 12rem);
    }
  }
  #productintroscreen{
     max-width: 70rem;
     width: 100%;
     height: 70vw;
     max-height: 34rem;
    //  max-height: 24rem;
      width: clamp(8rem, 80%, 70rem);
      margin-inline: auto;
     border-radius: 8px;
     position: absolute;
     display: inline-block;
     left: 50%;
     bottom: -16vw;
     overflow: hidden;
     box-shadow: 0 0 14px -3px #333;
     transform-origin: 50% 50%;
     transform: translate3d(-50%, 0, 0) ;
     & > img {
       position: relative;
       top: 0;
       width: 100%;
      //  height: 100%;
       display: block;
       z-index: 100;
      //  object-fit: cover;

     }
   }
  .shapeintrobg {
    // background: url('/marc-mueller(4).webp'), url('/marc-mueller(4).jpeg'); 
    background-color: #888;
    background-repeat: no-repeat;  
    background-size: cover;
    clip-path: polygon(0% 80%, 0% -0.5%, 100% -0.5%, 100% 80%, 50% 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    transform: translate(0, -2px);
    z-index: -1;
    // transition: background 0.3s;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: hsl(var(--color1hsl));
      background: linear-gradient(172deg, hsl(var(--color1hsl)) 20%, hsla(var(--color1h), 70%, 20%, 80%) );
      position: absolute;
      top: -30px;
      left: 0;
      z-index: -1;
    }
  }
  .introCTA{
    width: 100%; 
    display: flex;
    justify-content: center; 
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    gap: 1rem; 
    align-items: center;
  }
  @media (min-width: 690px ){
    .introCTA{
    flex-flow: row nowrap;
    margin-bottom: 4rem;
    }
    .producttraits {
      margin-top: 1rem;
    }
  }
  .lottieintro{
    width: 100%;  
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-14rem;
    position: absolute;
    transform: translate(-50%,0);
    z-index:40;
  }
  .bodylottie {
    max-width: 25rem;
    height: 25rem;
    object-fit:contain;
  }
   
   .producttraits{
      flex-flow: row wrap;
      justify-content: space-around;
      margin-top: 6rem;
      & > div {
        flex: 1 1 20rem;
        max-width: 20rem;
        & > img{
          filter: invert(22%) sepia(69%) saturate(1660%) hue-rotate(345deg) brightness(100%) contrast(86%);
        }
      }

     & h3 {
       letter-spacing: 0;
     }
   } 
   	.timelinediv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;

    
    & > div:nth-of-type(2){
      flex: 1 1 30rem;
      height: 15rem;
    }
    .timelinelottie {
      height: 100%;
      margin: auto 0 auto auto;
      max-width: 13rem;

    }
  }
  @media (max-width: 790px){
    .timelinediv div:nth-of-type(2){
      flex: 1 1 0;
      width: 0;
    }
    :global(.timelinelottie) {
      display: none;
    }
  }
  .calltoaction{
    padding: 3rem 5% 5rem;
    background-color: hsl(var(--color1hsl));  
    background: 
    radial-gradient(ellipse at bottom right, 
      hsl(var(--color1h), var(--color1s), 50%) ,
      hsl(var(--color1h), var(--color1s), 30%) 90%),
    ;
    flex-direction: column;
    position: relative;
    width: 114%;
    margin-inline: -7%;
    margin-bottom: -3rem;
    & h3 {
      z-index: 3;
    }   
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      bottom: 0;
      left: 0;
      opacity: 0;
      background: 
        radial-gradient(ellipse at bottom right, 
          hsl(var(--color1h), 60%, 50%) ,
          transparent)
        ;
      transition: opacity 1s;
      z-index: 1;
      
    }
    &:hover::after {
      opacity: 1;
    }
    & h3 {
      color: white;
      letter-spacing: 0;
    } 
    & > div {
      display: flex;
      justify-content: space-between;
      width: 60%;
      max-width: 40rem;
      flex-direction: column;
    }
  }
  @media (min-width: 680px){
    .calltoaction {
      justify-content: center;
      & > div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        max-width: 40rem;
      }
    }
  }
  .introicon{
    width: 8rem;
    margin-inline: auto;
    display: block;
    margin-bottom: 2rem;
  }
  .concernblobcontainer {
    margin-top: 5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 40vw));
    grid-auto-rows: 1fr;
    justify-content: center;
    column-gap: 2%;
    & > :global(div) {
      width: 100%;
    }
  }
  .partnersdiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
  }
  .partnerlogo{
    // fill:#a53926;

    filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
    max-width: 14rem;
    max-height: 10rem;

  }
</style>
