---
import HomepageLayout from '../layouts/HomepageLayout.astro'
import FlexDiv from '../components/FlexDiv.astro'
import Button from "../components/Button.astro"
import SmallLink from "../components/SmallLink.astro"
import ConcernBlob from '../components/ConcernBlob.astro'
// import Timeline from "../components/Timeline.astro"
---
<HomepageLayout>
    <div class="shapeintro" >
      <div class="shapeintrobg"></div>
      <h2>Elevate your medical code auditing workflow</h2>
      <p style="">Streamline auditing, integrate your data seamlessly, and consolidate communication in one platform.</p>
      <h3>Created by auditors, for auditors.</h3>
      <div id="productintroscreen">
        <img src="/product-preview.svg" alt="screenshot of ReviewMate web-app" />
      </div>
      <!-- <lottie-player src="/RM-lady-lottie.json" background="transparent" speed="0.8" class="lottieintro" loop autoplay style="z-index: 12;"></lottie-player> -->
    </div>

<main style="padding-top: 0;" id="main">
  <div style="width: 100%; display: flex;justify-content: center; flex-flow: row wrap;margin-bottom: 4rem;gap: 1rem; align-items: center;">
    <Button as="link" href="/resources/" text="View our Blog" outline style="z-index:30;"/>
    <Button as="link" href="/contact/" text="Contact Us" style="z-index:30;" size="3" />
    <Button as="link" href="/plans/" text="Tiers and Features" outline style="z-index:30;"/>
  </div>

  <FlexDiv gap="2rem" className="producttraits">
    <div >
      <img src="/Integrate(kf).svg" alt="Icon of pulling in data from hospital database" style="width: 10rem;margin-inline: auto;display: block;margin-bottom: 2rem;" class="rellax1" />
      <h3 style="letter-spacing:0;">Consolidate data from any source</h3>
      <p>Connect ReviewMate right into your universe of data or import loose resources independently, for gathering samples.</p>
    </div>
    <div>
      <img src="/Audit(kf).svg" alt="Icon of pulling in data from hospital database" style="width: 10rem;margin-inline: auto;display: block;margin-bottom: 2rem;" class="rellax1" />
      <h3 style="letter-spacing:0;">Audit and extrapolate findings seamlessly</h3>
      <p>Integrated tools keep both the auditor closer to the data, and expands more accountable, transparent communication.</p>
    </div>
    <div>
      <img src="/Integrate(kf).svg" alt="Icon of pulling in data from hospital database" style="width: 10rem;margin-inline: auto;display: block;margin-bottom: 2rem;" class="rellax1" />
      <h3 style="letter-spacing:0;">Report and Monitor</h3>
      <p>Customizable reports and integrated communication channels expedite results right to the end-user.</p>
    </div>
  </FlexDiv>

<div class="rellaxwrapper">
    <ConcernBlob tagline={`The "Spreadsheet Friction" problem`} description="Juggling between spreadsheets and different program resources is not only frustrating, but it wastes time, and can contribute to inconsistency." answer="ReviewMate consolidates all of your sources of information into one platform. Log in and take care of business." client:load>
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={`The "Game of Telephone" problem`} description="While reviewers are providing insights and comments on findings, having a single document being constantly carbon copied blurs lines of accountability, and opens up gaps for miscommunication." answer="Synchronized communication allows for every single audit, finding, comment, and task to be completely transparent for all authorized parties. " client:load>
    </ConcernBlob>
    <ConcernBlob tagline={`The "Email Traffic-Jam" problem`} description="Email threads become messy and burdensome, sometimes overlooking pertinent information in pages and pages of history." answer="ReviewMate brings modern central communication to auditing deliberation, by integrating direct references, explicit notes, and party transparency so that everyone is heard concisely." client:idle>
    </ConcernBlob>
    <ConcernBlob variant={2} tagline={`The "Opaque" problem`} description="Managers, and most importantly, clients, need to be able to keep track of active progression in auditing tasks to utilize a pro-active approach to the teams' work." answer="Tasks in ReviewMate are groups of assigned work which can be traced on factual, present data. ReviewMate even extends special transparency tools for clients and coders alike." client:load>
    </ConcernBlob>
</div>
  
<!-- <Timeline></Timeline> -->

<FlexDiv variant={ 0 } class="load-hidden" justify="center" gap="2rem" >
  <lottie-player src="/lotties/RM-interface.json" background="transparent"  speed="0.8" class="bodylottie scrollrevealright" loop autoplay  slot="image"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2 class="rellax2">Integrate</h2>
    <p> Connect universe data seamlessly and with ease. Imported data is available platform-wide, and all auditing changes remain transparent from the source.</p>
    <FlexDiv class="rellax1" style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv variant={ 1 }  justify="center" gap='2rem'>
  <lottie-player src="/lotties/RM-refine.json" background="transparent"  speed="0.8"  loop autoplay  slot="image" class="bodylottie scrollrevealright"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Refine Searches</h2>
    <p class="rellax" data-rellax-speed="-1">Search parameters efficiently gather accounts for instantaneous results without switching between spreadsheet apps.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv variant={ 0 } justify="center" gap='2rem'>
  <lottie-player src="/lotties/RM-audit.json" background="transparent"  speed="0.8" loop autoplay slot="image" class="bodylottie scrollrevealleft"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Audit</h2>
    <p class="rellax" data-rellax-speed="-1">Extrapolate findings with configurable workflows that hone your focus on relevant data.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;" >
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv variant={ 1 } justify="center" gap='2rem'>
  <lottie-player src="/lotties/RM-report.json" background="transparent"  speed="0.8" loop autoplay slot="image" class="bodylottie scrollrevealright"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2 class="rellax2">Report</h2>
    <p class="rellax1">Relay findings in a seamless, adaptive system for any channel of communication. Customize every aspect of templates to encourage consistency across your institution.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>
<FlexDiv variant={ 0 } justify="center" gap='2rem' >
  <lottie-player src="/lotties/RM-monitor.json" background="transparent"  speed="0.8" loop autoplay slot="image" class="bodylottie scrollrevealleft"></lottie-player>
  <div slot="body" style="max-width: 25rem;">
    <h2>Monitor</h2>
    <p class="rellax" data-rellax-speed="-1">Track findings in one centralized platform while augmenting your workflow with artificial intelligence to improve results.</p>
    <FlexDiv style="margin-top: 2rem;gap:1.3rem;">
      <SmallLink href="#" text="Sample Selector"/>
      <SmallLink href="#" text="Something"/>
      <SmallLink href="#" text="Something"/>
    </FlexDiv>
  </div>
</FlexDiv>

<FlexDiv id="usecases" justify="space-around" >
  <div>
    <h3>Inpatient Billing</h3>
    <p>Paragraph for what describes Inpatient Audidintg specifically</p>
  </div>
  <div>
    <h3>Outpatient Billing</h3>
    <p>Paragraph for what describes Inpatient Audidintg specifically</p>

  </div>
</FlexDiv>
<h3>Much more than auditing</h3>
</main>


</HomepageLayout>

<style lang="scss">
  .shapeintro {
    color: white; 
    width: 100%;
    margin-inline: auto;
    // min-height: 34rem;
    height: clamp(34rem, 87vh, 60rem);
    display: block;
    max-width: 100rem;
    top: -2px;
    text-align: center;
    position: relative;
    z-index: 30;
    margin-bottom: 16rem;
    
    & > p {
      color: white;
      // max-width: 70vh;
      padding-inline: 5%;
    }
    & > h2 {
      text-align: justify;
      text-justify:inter-word;
      line-height: 3rem;
      font-weight: bolder;
      text-align: center;
      // min-width: 20rem;
      max-width: 70vw;
      position: relative;
      top: 2rem;
      // padding-top: 2rem;
      // outline: 2px solid purple;
      margin: 0 auto 2rem;
      display: block;
    }
    & > h3 {
      color: white;
      font-size: 1.2rem;
      letter-spacing: 0;
      font-weight: bolder;

    }
  }
  .shapeintrobg {
    background: url('/marc-mueller(4).jpeg'); 
    background-repeat: norepeat;  
    background-size: cover;
    clip-path: polygon(0% 79.25%, 0% -0.5%, 100% -0.5%, 100% 79.25%, 50% 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    // content: '';
    top: -20px;
    transform: translate(0, -2px);
    z-index: -1;
    // outline: 1px solid purple;
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: hsl(var(--color1hsl));

      // background: linear-gradient(to bottom, hsl(var(--color1hsl)) 80%, hsl(var(--color1h), 70%, 20%) );
      background: linear-gradient(to bottom, hsl(var(--color1hsl)) 40%, hsla(var(--color1h), 70%, 20%, 50%) );
      position: absolute;
      top: -30px;
      left: 0;
      z-index: -1;
      // clip-path: polygon(0% 79.25%, 0% 0%, 100% 0%, 100% 79.25%, 50% 100%);
    }
  }
  .lottieintro{
    width: 100%;  
    // height: 50rem;
    min-height: 30rem;
    text-align:center;
    display:block;
    left: 50%;
    bottom:-14rem;
    position: absolute;
    transform: translate(-50%,0);
    // margin-top: -20rem;
    z-index:40;
  }
  .bodylottie {
    // max-height: 13rem;
    max-width: 25rem;
    height: 25rem;
    object-fit:contain;
  }
   #productintroscreen{
     max-width: 70rem;
     width: 80%;
     max-height: 34rem;
    //  height: 20rem;
     border-radius: 8px;
     margin-inline: auto;
     position: absolute;
     left: 50%;
     bottom: -8rem;
     overflow: hidden;
     box-shadow: 0 0 14px -3px #333;
     transform: translate(-50%, 0);
     & > img {
       position: relative;
       width: 100%;
       height: 100%;
       display: block;
       z-index: 100;
     }
     &::after {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: block;
       background: linear-gradient(to bottom, transparent, white);
       background-color:  white;
      //  outline: 2px solid purple;
     }
   }
   .producttraits{
    //  outline: 2px solid purple;
    
      flex-flow: row wrap;
      justify-content: space-around;
      margin-top: 6rem;
      & > div {
        flex: 1 1 25rem;
        max-width: 25rem;
        & > img{
          filter: invert(22%) sepia(69%) saturate(1660%) hue-rotate(345deg) brightness(100%) contrast(86%);
        }
      }

     & h3 {
       letter-spacing: 0;
     }
   }
  //  @media( min-width: 680px){
  //    .producttraits{
  //      flex-flow: row nowrap;
    
  //   }
  //  }
</style>
