---
import StandardLayout from '../layouts/StandardLayout.astro'
import Timeline from '../components/Timeline.astro'
import SmallLink from '../components/SmallLink.astro'
import CallToAction from '../components/CallToAction.astro'
import Button from '../components/Button.astro'
import {formatSlug} from '../featureList.js'
---
<StandardLayout>
  <Timeline>
    <div slot="1">
      <div class="timelinediv">
        <div>
          <h2>Integrate</h2> 
          <p>Securely connect to the universe of data seamlessly with ease. Imported
          data is available platform-wide and ready for selection.</p> 
          <SmallLink href={`/security/${formatSlug("Integration Manager")}/`} text="Integration Manager"/> 
          
          <SmallLink href={`/security/${formatSlug("Document Manager")}/`} text="Document Manager"/> 
  
          <SmallLink href={`/security/${formatSlug("Multifactor Authentication")}/`} text="Multifactor Authentication"/> 
          
          <SmallLink href={`/security/${formatSlug("LDAP / Active Directory")}/`} text="LDAP / Active Directory"/> 
  
          <SmallLink href={`/security/${formatSlug("VPN Integration")}/`} text="VPN Integration"/> 
  
          </div> 
          </div>
    </div>
    <div slot="2">
      <div class="timelinediv">
        <div>
        <h2>Sample</h2> 
        <p>Apply flexible rules and parameters to concisely gather accounts for auditing using a multitude of parameters and options. Randomization and automation tools augment any sampling need.</p>
          <SmallLink href={`/security/${formatSlug("Sample Selector")}/`} text="Sample Selector"/> 
  
          <SmallLink href={`/security/${formatSlug("Risk Manager")}/`} text="Risk Manager"/> 
      </div>
      </div>
    </div>
    <div slot="3">
    <div class="timelinediv">
        <div>
     <h2>Audit</h2> 
     <p>Conduct audits in a transparent consolidated platform. Relay audit findings
     to other users easily.</p>
     <SmallLink href="/auditingaccounts/inpatient/" text="IPPS"/>
     <SmallLink href="/auditingaccounts/outpatient/" text="OPPS"/>
     <SmallLink href="/auditingaccounts/profee/" text="Profee"/>
     <SmallLink href="/auditingaccounts/asc/" text="ASC"/>
     <SmallLink href="/auditingaccounts/cms-hcc/" text="CMS-HCC"/>
          
     </div>
      </div>
    </div>
    <div slot="4">
    <div class="timelinediv">
        <div>
     <h2>Report</h2> 
     <p>Either choose from a variety of standard options or create custom reports as seen fit. </p>
     <SmallLink href="/" text="Report Cards"/>
     <SmallLink href="/" text="Accuracy Manager"/>
     <SmallLink href="/" text="Code Finder"/>
     <SmallLink href="/" text="Dashboards"/>
     <SmallLink href="/" text="Summary Templates"/>
     <SmallLink href="/" text="Exportability"/>
     </div>
      </div>
    </div>
    <div slot="5">
    <div class="timelinediv">
        <div>
     <h2>Monitor</h2> 
     <p>Track findings in one centralized platform while augmenting workflows with artificial intelligence.</p>
     <SmallLink href="/" text="Sample Selector"/>
     <SmallLink href="/" text="Sample Selector"/>
     </div>
      </div>
    </div>
  </Timeline>

<CallToAction color="red" header="Let us show you how you can start saving hours a week" style="margin-bottom: -3rem;" >
  <Button color="white" as="link" href="/plans/" text="Explore our plans and features" size="2" style="z-index:30;margin-top: 2rem;"/>
  <Button color="yellow" as="link" href="/contact/" text="Contact Us" size="2" style="z-index:30;margin-top: 2rem;"/>
</CallToAction>
</StandardLayout>