---
import StandardLayout from '../layouts/StandardLayout.astro'
import FlexDiv from '../components/FlexDiv.astro'
import { Img } from "astro-imagetools/components";
import contentful from 'contentful'

const client = contentful.createClient({
  space: import.meta.env.CONTENTFUL_SPACE_ID,
  accessToken: import.meta.env.PUBLIC_CONTENTFUL_CONTENT_DELIVERY,
});

let results = await client.getEntries({
  content_type: 'blogPost'
  }).then(entries => {
  return entries.items
});

---
<StandardLayout>
  <FlexDiv>
    <h2>Resources</h2>
    <p></p>
  </FlexDiv>

<h2>Blog</h2>
{results.map(item => {
  return (
    <h3>{item.fields.title}</h3>
    <p>{item.fields.body.content[0].content[0].value}</p>
    <Img src={`https://${item.fields.poster.fields.file.url}`} alt="something" />
  )
})}
<h3>{results[0].fields.title}</h3>

  <FlexDiv>

  </FlexDiv>
</StandardLayout>