---
import StandardLayout from '../layouts/StandardLayout.astro'
import FlexDiv from '../components/FlexDiv.astro'
// import { Img } from "astro-imagetools/components";
import BlogStream from '../components/BlogStream.astro'
---
<StandardLayout>
  <FlexDiv>
    <h2>Resources</h2>
    <p></p>
  </FlexDiv>

<BlogStream></BlogStream>

</StandardLayout>