---
import {Img} from 'astro-imagetools/components'
import { contentfulClient} from './contentfulClient.js'
let posts = await contentfulClient.getEntries({
		content_type: 'blogPost',
		order: '-sys.createdAt',
		limit:  3
		}).then(entries => {
			return entries.items
			}
	).catch(err => {
		console.log(err);
		// return err
	});

console.log(posts[0].fields.thumbnail.fields.file.url)
---
<div class="image">
  <Img src="https://images.ctfassets.net/xujv9wjjr6cj/56uYURBxui21ZLgErpgL9Q/fa5915820296d80fc49a7a53f2748a18/OfficialCodingGuidelines.jpg" alt="something" />
</div>

<style lang="scss">
  
.image { 
  display: block;
  overflow: hidden;
  width: 100%;
  flex: 2 1 12rem;
  position: relative;
  overflow-y: hidden;
  & :global(img) {
    // height: 17rem!important;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 23rem;
  }
 }
 
</style>