---
import FlexDiv from './FlexDiv.astro'
import Button from './Button.astro'
const {explain, previousButton} = Astro.props;
---

<FlexDiv style="margin-top: 3rem;" justify="space-around" align="center">
  {previousButton && <Button as="link" outline leftArrow text={previousButton.text} href={previousButton.href}/>}
  {explain ? <p class="explanation">Any particular questions or inquiries? We'd like to hear from you.</p> : ''}
  
  <slot />
  <Button as="link" href="/contact/" color="yellow" text="Contact Us" size="2" >Contact</Button>
</FlexDiv>
<style lang="scss">
  .explanation{
    font-size: 120%;
  }
</style>
