---
import FlexDiv from './FlexDiv.astro'
import Button from './Button.astro'
---

<FlexDiv style="margin-top: 3rem;">
  <slot />
  <Button as="link" href="/contact/" color="yellow" text="Contact Us" >Contact</Button>
</FlexDiv>
<style>

</style>