---
// import { Img } from "astro-imagetools/components"
const {imgBorder, className} = Astro.props;
---
<div class:list={ ["card", className ]}>
  {imgBorder && 
    <div class="imgBorderDiv">
      <img src={imgBorder} alt="Empty Warehouse background" role="presentation" class="imgBorder" /> 
    </div>
  }
  <div class:list={["body", {"bordered" : imgBorder}]}>
    <slot name="header"/>
    <slot name="subheader" />
    <slot />
  </div>
</div>
<style lang="scss">
  .card {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 9px -5px #333;
    
  }
  .imgBorderDiv{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 3rem;
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background: linear-gradient(to bottom, hsla(var(--color1hsl), 100%), hsla(var(--color1hsl), 50%));
      // z-index: 4;
    }
  }
  .imgBorder {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    // z-index: 3;
    
  }
  .body {
    padding: 1rem;
    // margin-left: 4rem;
    &.bordered {
      margin-left: 4rem;
    }
  }
</style>