<div class="carousel" id="partnercarousel">
    <a href="https://www.maximhealthcare.com/" target="_blank" rel="noopener" class="carousel__child">
      <img class="partnerlogo" src="/brandsvgs/maxim.svg" alt="Maxim Healthcare's logo" height="300" width="500" />
  </a>
  <a href="https://intellisiq.com/" target="_blank" rel="noopener" class="carousel__child">
      <img class="partnerlogo" src="/brandsvgs/intellis.svg" alt="Intellis' logo" height="300" width="400" />
  </a>
  <a href="https://www.essentiahealth.org/" target="_blank" rel="noopener" class="carousel__child">
      <img class="partnerlogo" src="/brandsvgs/Essentia-Health-Logo.svg" height="300" width="400" alt="Maxim Healthcare's logo" />
  </a>
  <a href="https://www.comforcehealth.com/" target="_blank" rel="noopener" class="carousel__child" >
    <img class="partnerlogo" src="/brandsvgs/comforcehealth.svg" height="300" width="400" alt="Comforce Health logo" />
  </a>
  <a href="https://www.cioxhealth.com/" target="_blank" rel="noopener" class="carousel__child">
      <img class="partnerlogo" src="/brandsvgs/ciox.svg" alt="Ciox's logo" height="300" width="400" />
  </a>
  <a href="https://ecatalysthealth.com/" target="_blank" rel="noopener" class="carousel__child">
      <img class="partnerlogo" src="/brandsvgs/eCatalyst.svg" alt="eCatalyst's logo" height="300" width="400" />
  </a>
  <a href="https://www.lifebridgehealth.org/Main/Home.aspx" target="_blank" rel="noopener" class="carousel__child">
      <img class="partnerlogo" src="/brandsvgs/lifebridge.svg" alt="Intellis' logo" height="300" width="400" />
  </a>
</div>

<!-- <script>
  const children = document.querySelectorAll('.carousel__child')
  let carouselhovering = {
    elem: children[0],
    timer: true,
  };
  let carouselObserver = new IntersectionObserver(carouselAuto, {
    root: null,
    rootMargin: '20px',
    threshold: 1.0
  });
  carouselObserver.observe(document.querySelector('#partnercarousel'));
  
  let carouselTicker;
  let carouselDetermineTimer;
  function carouselAuto() {
    let timer = 0;
    setTimeout(() => {
      if(carouselhovering.timer){
        // activateAnim(hovering.enum)
        carouselhovering?.elem?.classList.add('hovered')
      }
    }, 200)
    clearInterval(carouselTicker)
    clearInterval(carouselDetermineTimer)
    carouselTicker = setInterval(() => {
      timer += 300
    }, 300);
    carouselDetermineTimer = setInterval(() => {
      if(timer > 2000 && carouselhovering.timer){
        // deactivateAll()
        children.forEach(child => {
          child.classList.remove('hovered')
        })
        // Replace with findIndex() method
        if(children.indexOf(carouselhovering.elem) === children.length) {
          // activateAnim(1)
          carouselhovering.elem = children[0]
        }
        else {
          // activateAnim(hovering.enum + 1)
          carouselhovering.elem = children[children.indexOf(carouselhovering.elem)]
        }
        timer = 0;
      }
    }, 800);
  }

  document.querySelectorAll('.carousel__child').forEach(logo => {
  logo.addEventListener('mouseover', e => {
    e.target.classList.add('hovered');
    // console.log(document.querySelectorAll('.carousel__child').indexOf(e.target));
    carouselhovering = {
      elem: document.querySelectorAll('.carousel__child').indexOf(e.target),
      timer: false
    }
  });
  logo.addEventListener('mouseout', e => {
    e.target.classList.remove('hovered')
    carouselhovering = {
      elem: document.querySelectorAll('.carousel__child').indexOf(e.target),
      timer: true
    }
    carouselAuto()
  })
});
</script> -->

<style lang="scss">
  .carousel {
    overflow-x: scroll;
    padding: 1.5rem 0 3rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 8vw;
    scroll-snap-type: x mandatory;
    position: relative;
    margin-bottom: 6rem;
    width: 100%;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--color2hsl)) transparent;
  }
  *::-webkit-scrollbar {
    width: 12px;
    height: 4px;
  }
  *::-webkit-scrollbar-track {
    margin-left: 10rem;
    margin-right: 10rem;
    background: #eee;
  }
  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--color2hsl));
    border-radius: 20px;
    border: 3px solid transparent;
  }

  .partnerlogo{
    filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
    max-width: 16rem;
    max-height: 6rem;
    position: relative;
      transform: scale(1);
      transition: transform 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  } 
  .carousel__child {
    scroll-snap-align: start;
    z-index:30;
  }
  .hovered{
    transform: scale(1.2);
  }
</style>