<div class="carousel" id="partnercarousel">
  <a href="https://www.comforcehealth.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/comforcehealth.svg" height="180" width="336" alt="Comforce Health logo" loading="lazy"/>
  </a>
  <a href="https://www.cioxhealth.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/ciox.svg" alt="Ciox's logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://www.3m.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/3m.svg" alt="3M's logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://ecatalysthealth.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/eCatalyst.svg" alt="eCatalyst's logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://intellisiq.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/intellis.svg" alt="Intellis' logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://www.lifebridgehealth.org/Main/Home.aspx" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/lifebridge.svg" alt="Intellis' logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://www.essentiahealth.org/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/Essentia-Health-Logo.svg" height="180" width="336" alt="Maxim Healthcare's logo" loading="lazy"/>
  </a>
  <a href="https://www.maximhealthcare.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/maxim.svg" alt="Maxim Healthcare's logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://www.optum.com/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/Optum.svg" alt="Optum Health services' logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://xtendhealthcare.net/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/Xtend.svg" alt="Xtend Healthcare's logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://www.nthrive.com/transunionhealthcare/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/nThrive.svg" alt="nThrive's logo" height="180" width="336" loading="lazy"/>
  </a>
  <a href="https://jtshealthpartners.com/jts-health-partners-overview/" target="__blank" rel="noopener">
    <img class="partnerlogo" src="/brandsvgs/JTS-Health.svg" alt="JTS's logo" height="180" width="336" loading="lazy"/>
  </a>
</div>

<script>

  const carouselContainer = document.querySelector('#partnercarousel');
  let scrollPos = carouselContainer.scrollLeft;
  let isScrolling = true;
  let scrollDirectionRight = true;

  let options = {
    root: null,
    rootMargin: '0px',
    threshold: 1.0
  }

  let observer = new IntersectionObserver(assessScroll, options);
  observer.observe(carouselContainer);

function assessDirection(){
  if(carouselContainer.scrollLeft > (carouselContainer.clientWidth - 260)){
      scrollDirectionRight = false;
    }
  else if(carouselContainer.scrollLeft < 260) {
    scrollDirectionRight = true;
  }
}
  
  function assessScroll() {
    if ( isScrolling && scrollDirectionRight){
      setTimeout(assessDirection, 800);
      isScrolling = true;
      window.requestAnimationFrame(() => {
        scrollRight(true)});
    }
    else if ( isScrolling && !scrollDirectionRight) {
      setTimeout(assessDirection, 800)
      isScrolling = true;
      window.requestAnimationFrame(() => {
        scrollLeft(true)});
    }
  }
  function scrollRight(raf) {
    if (isScrolling) {
      carouselContainer.scrollLeft += 0.6;
    }
    isScrolling && raf && window.requestAnimationFrame(scrollRight)
  }
  function scrollLeft(raf) {
    if (isScrolling) {
      carouselContainer.scrollLeft -= 0.6;
    }
    isScrolling && raf && window.requestAnimationFrame(scrollLeft)
  }
  document.querySelectorAll('.partnerlogo').forEach(logo => {
    logo.addEventListener('mouseover', () => {
      isScrolling = false;
    })
    logo.addEventListener('mouseout', () => {
      isScrolling = true;
      assessScroll()
    })
  })
  // console.log(document.querySelectorAll('.partnerlogo'))

</script>

<style lang="scss">
  .carousel {
    overflow-x: scroll;
    padding: 1.5rem 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    // scroll-snap-type: x mandatory;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 6rem;
    width: 100%;
  }
  // * {
  //   scrollbar-width: thin;
  //   scrollbar-color: blue orange;
  // }

#partnercarousel {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: hsl(var(--color1hsl)) #888;   /* scroll thumb and track */ 
}
.partnerlogo{
    filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(95%) contrast(84%);
    max-width: 16rem;
    max-height: 12rem;
    position: relative;
    transform: scale(1);
    transition: transform 0.2s, filter 0.2s;
    // scroll-snap-align: start;
    z-index:30;
    &:hover {
      filter: invert(23%) sepia(18%) saturate(7185%) hue-rotate(347deg) brightness(75%) contrast(84%);
      // transform: scale(1.05);
    }
  }
#partnercarousel::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
  height: 10px;
}
#partnercarousel::-webkit-scrollbar-track {
  background: #f3f3f3;  
  border-radius: 100vw;        /* color of the tracking area */
}
#partnercarousel::-webkit-scrollbar-thumb {
  background-color: hsl(var(--color1hsl));    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #eee;  
}

  
  .hovered{
    transform: scale(1.2);
  }
</style>