  <div class="changecontainer">
    <div class="changetracker">
      <?xml version="1.0" encoding="UTF-8" standalone="no"?>
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg width="100%" height="100%" viewBox="0 0 1400 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"  id="changetrackersvg">
          <g id="Artboard1">
              <rect x="179.387" y="30.424" width="690.052" height="592.892" style="fill:none;"/>
              <g transform="matrix(0.600052,0,0,0.734191,147.501,90.3543)">
              </g>
              <g id="indicatortrack" transform="matrix(0.58785,0,0,0.719262,190.35,62.184)" style="transform-origin: 50% 50%;">
                  <rect x="80.431" y="131.184" width="506.214" height="506.214" style="fill:none;"/>
                  <clipPath id="_clip1">
                  </clipPath>
              </g>
      
              <g id="indicator" style="stroke-width: 2px;width:300;" width="300" height="300">
                <g id="marker">
                  <circle cx="290" cy="150" r="10" style="fill:none;stroke:rgb(109,109,109);stroke-width:7px;stroke-dasharray:7,0.35,0,0;"/>
                </g>
                <g >
                  <path d="M 290 140 L 290 100" style="fill:blnoneue;stroke:rgb(109,109,109);stroke-width:5px;"/>
                </g>
                  <!-- <path id="endpoint" x="100" y="300" style="fill:blue;stroke:blue;stroke-width:9.19px;"/> -->

                  <!-- <circle id="endpoint" cx="300" cy="100" r="10" style="fill:none;stroke:rgb(109,109,109);stroke-width:7px;stroke-dasharray:7,0.35,0,0;"/> -->
                

              </g>
              <rect width="300" height="300" x="150" y="150" fill="transparent">
              </rect>
              <circle cx="300" cy="300" r="150" style="fill:none;stroke:rgb(109,109,109);stroke-width:3.5px;stroke-dasharray:17.5,17.5,0,0;"/>
              <!-- Dialog Box -->
                
          </g>
      </svg>
    </div>
  </div >

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js" hoisted></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js" hoisted></script>
<script defer>
  gsap.registerPlugin(ScrollTrigger);
  const endpoint = document.querySelector('#endpoint')
  const ctlabel = document.querySelector('#ctlabel')

  let tl = gsap.timeline({
    // yoyo: true,
    scrollTrigger : {
      trigger: ".changecontainer",
      start: "50% 50%",
      end: "170% top",
      pin: true,
      scrub: 0.6,
      markers: true,
      snap: { snapTo: [0, 0.25, 0.5, 0.75, 1], duration: 1, delay: 0},
      onUpdate: self => {
        console.log(endpoint)
        gsap.set(ctlabel, {rotate: self.progress * 30})
      }
    }
  })
  .fromTo("#indicator", {
    rotation: 30,
    transformOrigin: "20 200"
  }, {
    rotation: 140,
    transformOrigin: "20 200"
  }, 0)

</script>

<style>
  .changecontainer {
    height: 30rem;
    width: 100%;
    outline: 2px solid red;
    margin-top: 8rem;
  }
</style>