---
---
<div> 
<p>All auditing account types are considered part of the the core of ReviewMate's auditing system that cover many features such as:</p>
  <ul>
    <li>Customizable Overall Accuracy Rate</li>
    <li>Grouping and pricing take place within the software eliminating the need for auditor to “toggle” between an encoder and ReviewMate. This also eliminates the need for auditors to re-enter codes and demographics into an encoder/grouper to make resequencing decisions.</li>
    <li>Full suite of references including Coding Clinic, CPT Assistant, Coding Clinic for HCPCS, Clinotes, Principal Diagnosis Analysis, DRG Analysis, AHA Coding Handbook, and code look-up eliminating the need for auditors to access an outside product to perform research.</li>
    <li>Full suite of edits/warnings including gender and age conflicts, MCE edits, critical error and TruCode warnings.</li>
    <li>Reconciliation of rebuttals occurs inside of ReviewMate.</li>
    <li> Conversations between the auditor and coder are saved in a chronological manner and can be accessed by any user.</li>
    <li>Accuracy rates available real-time and can be sliced and diced to accommodate different situations and date patterns.</li>
    <li> Extensive library of customizable and exportable reports from raw data to Executive Summaries.</li>
    <li>Customizable dashboards to enhance the user experience.</li>
    <li>Multiple user levels allow view-only access to any interested parties providing transparency within your organization.</li>
    <li> “Audit the Auditor” available for a higher-level quality check of any audit in ReviewMate.</li>
  </ul>
</div>

<style lang="scss">
  div {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
    background-color: #f6f6f6;
    padding: 1.5rem 5%;
    border-radius: 4px;
  }
  p {
    font-size: 1.35rem;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    margin-inline: auto;
    width: 90%;
    margin-top: 2rem;
    // outline: 2px solid green;
  }
  li {
    color: #666;
    flex: 1 1 20rem!important;
    max-width: 20rem!important;
    
  }
</style>
