.container {
	min-height: 22rem;
	position: relative;
	width: 100%;
  // max-width: 80%;
	// width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-inline: auto;
	z-index: 10;
	.tagline,
	.div,
	.answer,
	.image {
		position: relative;
	}
	.image {
		min-height: 24rem;
		max-width: 100%;
	}
	.tagline,
	.answer {
		background-color: white;
		border-radius: 10px;
		color: #666;
	}
.tagline {
		box-shadow: -1px 4px 12px -4px #33333388;
		margin-bottom: 1.5rem;
		padding: 20px 10px;
		vertical-align: middle;
		text-align: center;
		margin-inline: auto;
		font-size: 1.8rem;
		border: 1px solid #eee;
		width: 80%;
		color: hsl(var(--color1hsl));

		grid-column: span 1;
		grid-row: span 1;
		place-self: center;
		z-index: 200;
	}
	.div {
		position: relative;
		padding: 1.6rem 1rem;
		text-indent: 0;
		grid-column: span 1;

		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 1px;
			box-shadow: 0 0 160px 70px hsl(var(--color1hsl));
			top: 50%;
			left: 50%;
			z-index: -1;
		}
	}
	.body {
		padding: 20px 20px 20px;
		border-radius: 6px;
		box-shadow: 0px 6px 14px -4px #66666644;
		background-color: white;
		margin-inline: auto;
		flex: 1 1 8rem;
	}
	.image {
		flex: 1 1 10rem;
		position: relative;
		grid-column: span 1;
		grid-row: span 1;
		margin: -2rem auto 0;
		background-color: transparent;
		max-height: 32rem;
		max-width: 80%;
		aspect-ratio: 1 / 1;
	}
	.description,
	.answer {
		line-height: 1.4rem;
	}
	.description {
		padding: 0 0.75rem 1.75rem;
		position: relative;
		text-indent: 0;
		color: #666;
		background-color: white;
		&::after {
			content: "";
			position: absolute;
			width: calc(100% - 3rem);
			height: 1px;
			display: block;
			bottom: 0;
			left: 3rem;
			background-color: #ccc;
		}
	}
	.answer {
		padding: 15px 10px 16px;
		text-indent: 0;
	}
}
.exclamation {
	filter: invert(25%) sepia(41%) saturate(1434%) hue-rotate(330deg)
		brightness(100%) contrast(88%);
	width: 2rem;
	height: 2rem;
	top: 0;
	margin-top: 1rem;
	float: left;
	shape-outside: url('/icons/exclamation.svg');
	shape-margin: 2.8rem;
	margin-right: 1rem;
	margin-bottom: 0.2rem;
}

@media (min-width: 920px) {
	.container {
		margin-inline: auto;
		.tagline {
			margin-bottom: 0rem;
		}
	}
}
