
.container {
  background-color: white;
	background-color:white;
	display:block;
	border-radius:15px;
  position: relative;
  max-width: 80%;
	width: 40rem;
	padding: 2rem 7% 3rem;
  border: 2px solid #eee;
  & > h2 {
    text-align: center;
		line-height: 3rem;
  }
}
.inputdiv {
	display: block;
	margin-inline: auto;
	text-align: center;
	& > label {
		display: block;
	}
	& > input[type='text'], & > input[type='tel'], & > input[type='email'], & > input[type='textarea'] {
		display: block;
		width: 100%;
	}
}
.specialDemoMenu {
	width: 100%;
	// margin-inline: -7%;
	// padding: 7%;
	// display:none;
	visibility: hidden;
	background-color: #f2f2f2;
	opacity: 0;
	height: 0;
	max-height: 1px;
	transition: height 0.4s, visibility 0.4s, opacity 0.4s;
	&.open {
		padding: 7%;
		max-height: unset;
		height: auto;
		opacity: 1;
		visibility: visible;
		// display:block;
	}
}
.headerimg {
  height: 3rem;
	// line-height: 3rem;
  // width: 70px;
	margin-right: 20px;
  // padding-top: 2rem;
	display: none;
}
@media(min-width:415px){
	.headerimg{
		display: inline-block;
	}
}
#formBlockBackground {
	background-color:red;
	background:url('../../images/grid4.png');
	background-position:170% 160%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding-top:2rem;
	padding-bottom:5rem;
}
.form {
	margin:0;
	width: 100%;
	& input {
		margin:0.5rem auto 0.5rem auto;
	}
	& label {
		margin:1.5rem auto 0.5rem auto;
		display:block;
		width:100%;
		max-width:30rem;
    font-size: 1.1rem;
	}
	& input[type='text'], input[type='tel'], input[type='email'], input[type='textarea'] {
		display:block;
		width:100%;
		margin:0.5rem auto 0.5rem;
		max-width:30rem;
	}
}
.form input[type='submit'], .form button{
	margin:2rem auto 0rem auto!important;
	display:block;
	position:relative;
}

.errorMessage {
	display:block;
	margin: 1.5rem auto 0;
	max-width: 30rem;
	text-align:center;
	// color:red;
	font-size:1.2rem;
}
input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus, textarea:focus, select:focus {
	outline:inherit;
	outline: 3px solid transparent;
	&.error {
		outline:5px solid blue;
	}
}
.input {
  padding: 10px 20px;
  font-size: 1.05rem;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.button {
  padding: 10px 20px;
  font-size: 10px;
// From global.scss
  padding: 0.8rem 1.4rem;
	position: relative;
	font-size: 1.3rem;
	border: none;
	border-radius: 4px;
	margin: 0.5rem;
	letter-spacing: 0.2px;
	border-color: hsl(var(--color1hsl));
	border-width: 0;
	border-style: solid;
	box-shadow: 0 1px 1px -2px hsl(var(--color1hsl));
	cursor: pointer;
	transition: transform 0.2s;
}
.error { 
  outline: 3px solid #E07673;
 }
 .warning {
   outline: 3px solid #F4D49B;
 }

 .radiodiv {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   max-width: 30rem;
   margin-inline: auto;
   & label {
     display: inline-block;
     width: auto;
     margin-left: 1rem;
   }
 }
 .check {
  border: 1px solid red;
 }

 .modal{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #ffffff99;
	background-image: radial-gradient(circle, #ffffff00, #f2f2f222);
	opacity: 0;
	z-index: -1;
	transition: opacity 0.4s;
	border-radius: 15px;
	padding-left: 6%;
	padding-right: 6%;
	display: grid;
	justify-content: center;
	align-content: flex-end;
	padding-bottom: 10%;
	backdrop-filter: blur(5px);
	// outline: 5px solid #9bea78;
	& * {
		text-indent: 0;
		font-size: 130%;
	}
 }
 .openModal{
	// outline: 10px solid green;
	opacity: 1;
	// z-index: 10;
 }