.dropdown {
  position: absolute;
  display: block;
  top: 115%;
  left: 0;
  width: 90vw;
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: 50% 50%;
  opacity: 0;
  transform: scale(0.8) translate3d(15%,-60%,0);
  background-color: white;
  z-index: 100;
  box-shadow: 0 4px 9px -1px #33333388;
  padding: 1rem;
  border-radius: 6px;
  z-index: 900;
  & > p {
  text-indent: 0;
  }
}
.open {
  visibility: visible;
  // outline: 2px solid purple;
  opacity: 1;
  transform: scale(1) translate3d(0,0,0);
}

.header {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
	font-size: 1.05rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
  font-weight: 700;
  color: #555;
  font-family: 'Hind Madurai';
  transition: background-color 0.2s;
  width: 100%;
  margin: 0;
  // &:hover {
  //   background-color: #fcfcfc;
  // }
}
.arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-bottom: 3px solid #666;
  border-right: 3px solid #666;
  transform: rotate(45deg) translate3d(0, -1px, 0);
  position: relative;
  left: 0.6rem;
  transition: transform 0.3s;
  transform-origin: 50% 50%;
}
.arrowopen {
  // transform: rotate(-135deg);
  transform: rotate(-135deg) translate3d(0, 1px, 0);
}