---

---

  <footer>
    <ul>
      <li>
        <a href="">
        Something
        </a>
      </li>
    </ul>
  </footer>

  <style lang="scss">
    footer {
      padding: 4% 6%;
      & ul {
        list-style-type: none;
      }
    }
  </style>