---
import LinkedinIcon from "./LinkedinIcon.astro"
import TwitterIcon from "./TwitterIcon.astro"
import FacebookIcon from "./FacebookIcon.astro"
---

  <footer>
    <div class="flex">
      
      <img src="/reviewmate-smallerlogo.svg" alt="ReviewMate logo" width="130"  height="130" class="logoimg"/>
      <ul>
        <li>
          <a href="" class="listheader">
            Plans
          </a>
        </li>
        <li>
          <a href="">
            Essentials
          </a>
        </li>
        <li>
          <a href="">
            Pro
          </a>
        </li>
        <li>
          <a href="">
            Enterprise
          </a>
        </li>
      </ul>
  
      <ul>
        <li>
          <a href="/resources/" class="listheader">
            Resources
          </a>
        </li>
        <li>
          <a href="/blog/">
            Blog 
          </a>
        </li>
        <li>
          <a href="/resources/#faqs">
            FAQs
          </a>
        </li>
        <li>
          <a href="/resources/">
            What's New
          </a>
        </li>
      </ul>
  
      <ul>
        <li>
          <p  class="listheader">
            Features
          </p>
        </li>
        <li>
          <a href="/auditingaccounts/">
            Auditing Accounts
          </a>
        </li>
        <li>
          <a href="/reporting/">
            Reporting
          </a>
        </li>
        <li>
          <a href="/security/">
            Security
          </a>
        </li>
      </ul>
  
  
      <ul>
        <li style="display:flex;flex-flow:row nowrap;justify-content:flex-start; gap: 1rem;margin-bottom:0.4rem;">
          <a href="https://twitter.com/ReviewMatee/" target="__blank" rel="noopener" style="text-align: center;">
            <TwitterIcon style="fill: white; height: 25px;width: 25px;"/>
          </a>
          <a href="https://www.linkedin.com/company/reviewmate1/" target ="__blank" rel="noopener">
            <LinkedinIcon style="fill: white;height: 25px;width: 25px;"/>
          </a>
          <a href="https://www.facebook.com/ReviewMate1/" target="__blank" rel="noopener">
          <FacebookIcon style="fill: white;height: 25px;width: 25px;"/>
          </a>
        </li>
        <li>
          <a href="/policies/#privacypolicy">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="/policies/#termsandconditions">
            Terms & Conditions
          </a>
        </li>
        <li>
          <a href="/policies/#disclaimer">
            Usage Disclaimer
          </a>
        </li>
        
      </ul>
  
      
    </div>
  </footer>

  <style lang="scss">
    footer {
      padding: 3rem 6% 6%;
      background-color: #555;
      color: white;
      
      font-family: var(--font-1);
      // max-width: 60rem;
      & div.flex {
        max-width: 60rem;
        display: flex;
      flex-flow: row wrap;
      gap: 2rem;
      justify-content: center;
      margin-inline: auto;
      }
      & ul {
        list-style-type: none;
        color: white;
        // flex: 2 1 8rem;
        margin-inline: auto;
        display: block;
        // max-width: 16rem;
        order: 2;
        & li {
          color: white;
          & a {
            color: #eee;
            line-height: 1.5rem;
            padding: 0.1rem;
            display: block;
            font-size: 0.9rem;
          }
        }
      }
    }
    .logoimg {
      order: 6;
      flex: 1 1 100%;
      // margin-top: 3rem;
      
    }
    @media (min-width: 1024px){
      .logoimg {
        flex: 1 1 12rem;
        max-width: 12rem;
        order: 1;
      }
      }
    .listheader {
      font-weight: bolder;
      font-size: 1.2rem!important;
      margin-bottom: 0.7rem;
    }
    p.listheader {
      font-weight: bolder;
      font-size: 1.2rem!important;
      margin-bottom: 0.7rem;
      color: #eee;
      text-indent: 0;
    }
  </style>