---

---

  <footer>
    <img src="/reviewmate-smallerlogo.svg" alt="ReviewMate logo" width="130"  height="130" class="logoimg"/>
    <ul>
      <li>
        <a href="" class="listheader">
          Plans
        </a>
      </li>
      <li>
        <a href="">
          Essentials
        </a>
      </li>
      <li>
        <a href="">
          Pro
        </a>
      </li>
      <li>
        <a href="">
          Enterprise
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="" class="listheader">
          Use-Cases
        </a>
      </li>
      <li>
        <a href="">
          Medical 
        </a>
      </li>
      <li>
        <a href="">
          Pro
        </a>
      </li>
      <li>
        <a href="">
          Enterprise
        </a>
      </li>
    </ul>

    <ul>
      <li>
        <a href="" class="listheader">
          About
        </a>
      </li>
      <li>
        <a href="">
          FAQs
        </a>
      </li>
      <li>
        <a href="">
          What's New
        </a>
      </li>
      <li>
        <a href="">
          Blog
        </a>
      </li>
    </ul>


    <ul>
      <li>
        <a href="/policies#privacypolicy">
          Privacy Policy
        </a>
      </li>
      <li>
        <a href="/policies#termsandconditions">
          Terms & Conditions
        </a>
      </li>
      <li>
        <a href="/policies#disclaimer">
          Usage Disclaimer
        </a>
      </li>
    </ul>
  </footer>

  <style lang="scss">
    footer {
      padding: 3rem 6% 6%;
      background-color: #555;
      color: white;
      display: flex;
      flex-flow: row wrap;
      gap: 2rem;
      justify-content: center;
      font-family: var(--font-1);
      & ul {
        list-style-type: none;
        color: white;
        flex: 2 1 8rem;
        margin-inline: auto;
        display: block;
        // max-width: 16rem;
        order: 2;
        & li {
          color: white;
          & a {
            color: #eee;
            line-height: 1.5rem;
            padding: 0.1rem;
            display: block;
            font-size: 0.9rem;
          }
        }
      }
    }
    .logoimg {
      order: 6;
      flex: 1 1 100%;
      // margin-top: 3rem;
      
    }
    @media (min-width: 1024px){
      .logoimg {
        flex: 1 1 12rem;
        order: 1;
      }
      }
    .listheader {
      font-weight: bolder;
      font-size: 1.2rem!important;
      margin-bottom: 0.7rem;
    }
  </style>