---
const arrofLinks = ["Plans", "Resources", "Contact"]
---
  
<header>
<a href="#main" aria-label="Skip to content" id="skiptocontent" tab-index="0">Skip to content</a>
  <a href="/"><img src="/reviewmate-mainlogo(white).svg" alt="ReviewMate logo" style="max-width:20rem;" /></a>
  
  <div id="mobilenavbutton" onClick="
    if (document.querySelector('nav').classList.contains('mobilemenu--open')){
      document.querySelector('nav').classList.remove('mobilemenu--open');
      document.querySelector('#mobilenavbutton').classList.remove('mobilenavbutton--open');
    }
    else {
      document.querySelector('nav').classList.add('mobilemenu--open');
      document.querySelector('#mobilenavbutton').classList.add('mobilenavbutton--open');
    }
  ">
    <div class="mobilenavline"></div>
    <div class="mobilenavline"></div>
  </div>
    <nav>
      <ul>
      {arrofLinks.map(each => 
      <li>
        <a href={`/${each.replace(' ', '').toLowerCase()}/`}>{ each }</a>
      </li>
      )}
      </ul>
    </nav>
</header>

<style lang="scss">
  header {
    width: 100%;
    background-color: hsl(var(--color1hsl));
    z-index: 500;
    max-width: 100rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 auto;
    overflow-x:hidden;
    position: static;
    top:0;
    left: 0;
    // margin-bottom: 12rem;
    // padding-bottom: 12rem;
    // overflow-y: visible;
  }
  
  #mobilenavbutton {
    color: white;
    z-index:900;
    background-color: transparent;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    height: 2rem;
    width: 2rem;
    // outline: 1px solid purple;
    & .mobilenavline {
      height: 1px;
      width: 1.6rem;
      background-color: white;
      display: block;
      position:absolute;
      top: 0.5rem;
      left: 0.2rem;
      transform-origin: 50% 50%;
      transform: translate3d(0, 0,0) rotate(0);
      transition: transform 0.3s;
      &:nth-of-type(2){
        top: 1.4rem;
        transform: translate3d(0, 0, 0) rotate(0);
      }
    }
    &.mobilenavbutton--open > .mobilenavline {
      transform: translate3d(0, 0.5rem,0) rotate(45deg);
      &:nth-of-type(2){
        transform: translate3d(0, -0.5rem,0) rotate(-45deg);
      }
    }
  }
  
  nav {
    position: absolute;
    top: 4.5rem;
    right: 0.5rem;
    // width: calc(100% - 28rem);
    // margin-right: 1rem;
    margin-left: auto;
    float: right;
    background-color: white;
    z-index: 800;
    border-radius: 8px;
    
  & ul {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: flex-end;
    gap: 0;
    // width: calc(100% - 28rem);
    & li {
      list-style-type: none;
      line-height: 3rem;
      // font-size: 2.5rem;
      // padding: 10px 20px;
      color: white;
      & a {
        color: hsl(var(--color1hsl));
        padding: 10px 30px;
        display: block;
      }
    }
  }
}
.mobilemenu--open {
		visibility: visible;
		opacity: 1;
    transform: translate3d(0,0,0);
	}
@media(max-width:649px){
    #mobilenavbutton {
      // visibility: hidden;
    }
    // .navwrapper{
    //   position: absolute;
    //   width: 100%;
    //   height: 200%;
    //   top: 0;
    //   // overflow: hidden;
    // }
    nav {
      // overflow: hidden;
      visibility: hidden;
      transition: transform 0.3s;
      transition-timing-function: ease;
      opacity: 0;
      position: absolute;
      top: 5rem;
      right: 1rem;
      box-shadow: 0 2px 7px -1px #33333333;
      transform: translate3d(200px,0,0);
      will-change: transform;
      z-index: 900;
    }
    
    
  }
  @media(min-width:650px){
    #mobilenavbutton {
      visibility: hidden;
    }
    nav {
      position: relative;
      top: 1rem;
      right: 0.5rem;
      // width: calc(100% - 28rem);
      // margin-right: 1rem;
      margin-left: auto;
      float: right;
      background-color: transparent;
      z-index: 800;
      border-radius: 8px;
    & ul {
      display: flex;
      flex-flow: row nowrap;
      // justify-content: flex-end;
      gap: 0.3rem;
      // width: calc(100% - 28rem);
      & li {
        list-style-type: none;
        line-height: 3rem;
        // font-size: 2.5rem;
        // padding: 10px 20px;
        color: hsl(var(--color1hsl));
      & a {
        color: white;
        padding: 10px 15px;
        display: block;
        font-size: 1.05rem;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: 5px;
          background: linear-gradient(to bottom left, transparent, #ffffff82);
          transform: translate3d(-5rem, 5rem, 0);
          transition: transform 0.15s, outline 0.4s;
          outline: 1px solid transparent;
        }
        &:hover {
          outline: 1px solid white;
        }
        &:hover::after {
          /* transform: translate3d(0, 0, 0); */
        }
      }
    }
  }
}
  }
</style>
  
