---
import Button from "./Button.astro"
const arrofLinks = [ "Plans", "Resources", 'Contact'];
const arrofSubLinks = ["Auditing", "Automation", "Reporting", "Security", "Monitoring" ];
const {featureHeader = { bool: false, src: '', alt: ''}} = Astro.props;
---
  
<header>
<a href="#main" aria-label="Skip to content" id="skiptocontent" tab-index="0">Skip to content</a>
  <a href="/" class="logo" style="">
    <img src="/reviewmate-mainlogo(white).svg" alt="ReviewMate logo" style="max-width:20rem;" width="320" height="73" loading="lazy" />
  </a>
  
  <div id="mobilenavbutton" onclick="
    if (document.querySelector('nav').classList.contains('mobilemenu--open')){
      document.querySelector('nav').classList.remove('mobilemenu--open');
      document.querySelector('#mobilenavbutton').classList.remove('mobilenavbutton--open');
    }
    else {
      document.querySelector('nav').classList.add('mobilemenu--open');
      document.querySelector('#mobilenavbutton').classList.add('mobilenavbutton--open');
    }
  ">
    <div class="mobilenavline"></div>
    <div class="mobilenavline"></div>
  </div>
    <nav>
      <ul>
        {arrofLinks.map(each => 
          {return (<li class={`${each === "Contact" ? 'contact' : ''}`}>
            <a href={`/${each.replace(' ', '').toLowerCase()}/`}>{ each }</a>
          </li>)}
        )}
        <!-- <a href={`/contact/`}>Contact</a>
        <Button as='link' text="Contact" color="yellow" style="margin: 0;padding: 12px 10px;font-size: 1.15rem;" className="" /> -->
      </ul>
      <ul>
        {arrofSubLinks.map(each => 
        <li class="headersublink">
          <a href={`/${each.replace(' ', '').toLowerCase()}/`} >{ each }</a>
        </li>
        )}
        
      </ul>
    </nav>
    {(featureHeader.bool) && 
    <div class="featureimg">
      <img src={featureHeader.src} alt={featureHeader.alt} style="object-fit:cover;max-width:100%;max-height:100%;" />
    </div>}
</header>

<style lang="scss">
  header {
    width: 100vw;
    background-color: hsl(var(--color1hsl));
    z-index: 500;
    // max-width: 100rem;
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 0 auto;
    overflow-x:hidden;
    position: static;
    top:0;
    left: 0;
    height: 9rem;
    // margin-bottom: 12rem;
    // padding-bottom: 12rem;
    // overflow-y: visible;
  }
  .logo {
    // max-width: 60vw;
    // width: clamp(10rem, 20rem, calc(100% - 425px));
    height: 6rem;
    // width: 100%;
    margin-top: 8px;
    display: inline-block;
    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
    
  }
  
  #mobilenavbutton {
    color: white;
    z-index:900;
    background-color: transparent;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    height: 2rem;
    width: 2rem;
    // outline: 1px solid purple;
    & .mobilenavline {
      height: 1px;
      width: 1.6rem;
      background-color: white;
      display: block;
      position:absolute;
      top: 0.5rem;
      left: 0.2rem;
      transform-origin: 50% 50%;
      transform: translate3d(0, 0,0) rotate(0);
      transition: transform 0.3s;
      &:nth-of-type(2){
        top: 1.4rem;
        transform: translate3d(0, 0, 0) rotate(0);
      }
    }
    &.mobilenavbutton--open > .mobilenavline {
      transform: translate3d(0, 0.5rem,0) rotate(45deg);
      &:nth-of-type(2){
        transform: translate3d(0, -0.5rem,0) rotate(-45deg);
      }
    }
  }
  
  nav {
    position: absolute;
    top: 4.5rem;
    right: 0.5rem;
    margin-left: auto;
    float: right;
    background-color: white;
    z-index: 800;
    border-radius: 8px;
    
  & ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
      margin: 0;
    & li {
      list-style-type: none;
      line-height: 1rem;
      text-align: center;
      color: white;
      list-style-image: none;	
      margin: 0;
      & a {
        color: hsl(var(--color1hsl));
        padding: 10px 10px;
        display: block;
      }
    }
  }
}
.mobilemenu--open {
		visibility: visible;
		opacity: 1;
    transform: translate3d(0,0,0);
	}
@media(max-width:770px){
    nav {
      visibility: hidden;
      transition: transform 0.3s;
      transition-timing-function: ease;
      opacity: 0;
      position: absolute;
      top: 5rem;
      right: 1rem;
      box-shadow: 0 4px 13px -2px #33333399;
      transform: translate3d(200px,0,0);
      will-change: transform;
      z-index: 900;
      & ul li {
        padding: 6px 20px;
      }
    }
    .logo{
      width: clamp(10rem, 50%, 30rem);
    }
    :global(.headersublink) {
      font-size: 0.9rem;
      text-indent: 0.5rem;
      padding: 3px 12px;
      color: hsl(var(--color2hsl))!important;
      & > a {
        padding: 3px 12px!important;
        // margin-left: 1rem;
        color: #999!important;
      }
        &:first-of-type{
        margin-top: 0.3rem;
      }
      &:last-of-type{
        margin-bottom: 0.8rem;
      }
    }
  }
  @media(min-width:770px){
    #mobilenavbutton {
      visibility: hidden;
    }
    nav {
      position: relative;
      top: 0.3rem;
      right: 0.3rem;
      margin-left: auto;
      float: right;
      background-color: transparent;
      z-index: 800;
      border-radius: 8px;
    & ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.3rem;
      justify-content: flex-end;
      & li {
        list-style-type: none;
        // margin-bottom: 6px;
        color: hsl(var(--color1hsl));
      & a {
        color: white;
        padding: 15px 10px;
        display: block;
        font-size: 1.15rem;
        position: relative;
        // border-radius: 5px;
        letter-spacing: 0.5px;
        overflow: hidden;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-bottom: 1px solid transparent;
          transition: border 0.2s;
        }
        &:hover {
          // outline: 1px solid white;
          color: #e2e2e2;
          // border-bottom: 1px solid white;
        }
        &:hover::after {
          /* transform: translate3d(0, 0, 0); */
          border-bottom: 1px solid white;
        }
        
      }
    }
    &:nth-of-type(2) {
      justify-content: flex-end;
      margin-top:5px;
      gap: 0.3rem;
      & li {
        & a {
          font-size: 0.75rem;
          padding: 6px 8px;
        }
      } 
    }
  }
}
  }
  .contact { 
    margin-left: 5px;
    & a {
      background-color: white;
      color: hsl(var(--color1hsl))!important;
      border-radius: 6px;
      // box-shadow: 0 1px 5px 0px white;
    }
   }

   .featureimg {
  position: absolute;
  top: 9rem;
  right: -6.8%;
  max-height: 17rem;
  width: clamp(5rem, 60%, 80rem);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  box-shadow: 6px -6px 20px #000 inset;
  z-index: 10;
  outline: 2px solid purple;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 12;
    background: linear-gradient(to bottom, hsl(var(--color1hsl)) 0%, hsla(var(--color1h), 70%, 20%, 30%) );
  }
}
</style>