---

---
<header>
<img src="/reviewmate-mainlogo(white).svg" alt="ReviewMate logo" style="max-width:20rem;" />
  <nav>
    <ul>
      <li>
      <a href="/">Home</a>
      </li>
      <li>
      <a href="/">Contact</a>
      </li>
    </ul>
  </nav>
</header>


<style lang="scss">
  header {
    width: 100%;
    background-color: hsl(var(--color1hsl));
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    & li {
      list-style-type: none;
      line-height: 3rem;
      font-size: 2.5rem;
      padding: 10px 20px;
    }
  }
</style>
  