---
const arrofLinks = ["Plans", "Contact", "Resources", "Use Cases"]
---
<header>
<a href="/"><img src="/reviewmate-mainlogo(white).svg" alt="ReviewMate logo" style="max-width:20rem;" /></a>
<a href="#main" aria-label="Skip to content" id="skiptocontent" tab-index="0">Skip to content</a>
<div id="mobilenav">
  <nav>
    <ul>
    {arrofLinks.map(each => 
    <li>
      <a href={`/${each.replace(' ', '').toLowerCase()}`}>{ each }</a>
    </li>
    )}
      <li>
        <a href="/plans">Plans</a>
      </li>
      <li>
        <a href="/">Contact</a>
      </li>
    </ul>
  </nav>
</div>
  <nav>
    <ul>
      <li>
        <a href="/plans">Plans</a>
      </li>
      <li>
        <a href="/">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    // width: 100%;
    background-color: hsl(var(--color1hsl));
    // padding: 1rem 1rem 0;
    z-index: 500;
	max-width: 100rem;
	padding: 1rem 2rem 1rem 1rem;
  margin: 0 auto;
  }
  #mobilenav {
    color: white;
  }
  nav {
    // width: calc(100% - 28rem);
    // margin-right: 1rem;
    margin-left: auto;
    float: right;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    // width: calc(100% - 28rem);
    
    & li {
      list-style-type: none;
      line-height: 3rem;
      // font-size: 2.5rem;
      padding: 10px 20px;
      color: white;
      & a {
        color: white;
      }
    }
  }
</style>
  