---
import FlexDiv from "./FlexDiv.astro";
import Button from "./Button.astro";
---
<FlexDiv className="calltoaction">
  <h3 style="padding-inline: 6%;">Let us show you how you can start saving hours a week</h3>
  <div >
    <Button color="white" as="link" href="/plans/" text="Explore our plans and features" size="2" style="z-index:30;margin-top: 2rem;"/>
    <Button color="yellow" as="link" href="/contact/" text="Contact Us" size="2" style="z-index:30;margin-top: 2rem;"/>
  </div>
</FlexDiv>