---

---
<div class="RMDiagram" style="max-width: 60rem;margin-top: 4rem;">
  <h3 style="top: 1rem;text-align: center;display:block;">ReviewMate solves these common industry problems with: </h3>
  <div class="diagrampara" id="paragraph1" style="top: 15%;left: 0%;">
    <h4>Consolidated forms instead of disparate spreadsheets.</h4> 
    <ul>
      <li>Clean, concise organization of account data</li>
      <li>Easy navigation between accounts</li>
      <li>Groupable sets of relevant accounts</li>
    </ul>
  </div>
  <div class="diagrampara" id="paragraph2" style="top: 15%;right: 0%;">
    <h4>Synchronized and centralized communication between all parties.</h4> 
    <ul>
      <li>Simplified, modern communication with traceable to each party.</li>
      <li>No need for switching between other services.</li>
      <li>Email directly from within ReviewMate</li>
    </ul>
  </div>
  <div class="diagrampara" id="paragraph3" style="bottom: 20%;left: 0%;">
    <h4>Complete narratives for each review.</h4> 
    <ul>
      <li>Transparent, chronologic timelines</li>
      <li>Full insight into coders' decisions like physician queries.</li>
    </ul>
  </div>
  <div class="diagrampara" id="paragraph4" style="bottom: 20%;right: 0%;">
    <h4>Trackable tasks that relay progress.</h4> 
    <ul>
      <li>Keeps jobs grouped into sets of findings or accounts</li>
      <li>Actively tracks progress on each job</li>
      <li>Updates information to every relevant party including coders and clients</li>
    </ul>
  </div>

<svg id="RMDiagram" width="100%" height="100%" viewBox="0 0 750 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"  style="margin-inline:auto;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;marign-top: 4rem;margin-bottom:3rem;">
  
  <style>
    .shadow {
      fill: #333333aa;
      filter: drop-shadow(0px 5px 5px #333333aa) blur(3px);
      opacity: 0.5;
    }
    .circlesegment {
      fill: rgb(174,62,56);
      /* fill: rgb(255,255,255); */
      filter: drop-shadow(0px 5px 2px #333333aa);
      stroke: #ffffff00;
      stroke: rgb(184,72,66);
      stroke-width: 2px;
      transform-origin: 50% 50%;
      transition: transform: 0.4s;
    }
    #curve1, #curve2, #curve3, #curve4{
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
    }
    #curve1 {animation-name: topLeft;}
    #curve2 {animation-name: topRight;}
    #curve3 {animation-name: bottomLeft;}
    #curve4 {animation-name: bottomRight;}
    #paragraph1:hover #curve1, #curve1:hover  {
      animation-name: topLeftHover;
      transform: translate(-10px, -10px);
    }
    #paragraph2:hover #curve2, #curve2:hover {
      animation-name: topRightHover;
      transform: translate(10px, -10px);
    }
    #paragraph3:hover #curve3, #curve3:hover  {
      animation-name: bottomLeftHover;
      transform: translate(-10px, 10px);
    }
    #paragraph4:hover #curve4, #curve4:hover {
      animation-name: bottomRightHover;
      transform: translate(10px, 10px);
    }

    @keyframes topLeftHover {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(-10px, -10px);
      }
    }
    @keyframes topLeft {
      from {
        transform: translate(-10px, -10px);
      }
      to {
        transform: translate(0, 0);
      }
    }
    @keyframes topRightHover {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(10px, -10px);
      }
    }
    @keyframes topRight {
      from {
        transform: translate(10px, -10px);
      }
      to {
        transform: translate(0, 0);
      }
    }
    @keyframes bottomLeftHover {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(-10px, 10px);
      }
    }
    @keyframes bottomLeft {
      from {
        transform: translate(-10px, 10px);
      }
      to {
        transform: translate(0, 0);
      }
    }
    @keyframes bottomRightHover {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(10px, 10px);
      }
    }
    @keyframes bottomRight {
      from {
        transform: translate(10px, 10px);
      }
      to {
        transform: translate(0, 0);
      }
    }
  </style>


<g id="Excel-Tables" serif:id="Excel Tables" style="transform-origin: 50% 50%;transform:translate(50px, 30px) scale(1.6);">
            <g transform="matrix(0.855152,-0.45315,0.592992,0.855152,-74.6665,142.188)">
                <clipPath id="_clip1">
                    <path d="M233.381,149.462C233.381,148.293 232.297,147.345 230.959,147.345C217.113,147.345 148.116,147.345 134.27,147.345C132.933,147.345 131.848,148.293 131.848,149.462C131.848,161.394 131.848,220.129 131.848,232.061C131.848,233.23 132.933,234.178 134.27,234.178C148.116,234.178 217.113,234.178 230.959,234.178C232.297,234.178 233.381,233.23 233.381,232.061C233.381,220.129 233.381,161.394 233.381,149.462Z"/>
                </clipPath>
                <g clip-path="url(#_clip1)">
                    <g transform="matrix(0.564746,0,0,0.560804,84.4696,101.761)">
                        <rect x="83.894" y="81.283" width="179.785" height="155.116" style="fill:none;stroke:rgb(131,131,131);stroke-width:2.1px;"/>
                    </g>
                    <g transform="matrix(0.582823,0,0,0.616464,105.43,128.881)">
                        <rect x="45.328" y="55.259" width="174.209" height="115.548" style="fill:white;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,108.76,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,129.148,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,149.537,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,169.925,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.580875,0,0,0.690184,107.509,124.594)">
                        <rect x="41.901" y="32.963" width="174.793" height="22.606" style="fill:rgb(0,93,17);"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,125.419)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,139.634)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,153.849)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,168.064)">
                        <path d="M36.909,78.026L170.35,78.261" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                </g>
            </g>
            <g transform="matrix(0.939992,0.298264,-0.390309,0.939992,125.383,-32.4995)">
                <clipPath id="_clip2">
                    <path d="M233.381,149.462C233.381,148.293 232.297,147.345 230.959,147.345C217.113,147.345 148.116,147.345 134.27,147.345C132.933,147.345 131.848,148.293 131.848,149.462C131.848,161.394 131.848,220.129 131.848,232.061C131.848,233.23 132.933,234.178 134.27,234.178C148.116,234.178 217.113,234.178 230.959,234.178C232.297,234.178 233.381,233.23 233.381,232.061C233.381,220.129 233.381,161.394 233.381,149.462Z"/>
                </clipPath>
                <g clip-path="url(#_clip2)">
                    <g transform="matrix(0.564746,0,0,0.560804,84.4696,101.761)">
                        <rect x="83.894" y="81.283" width="179.785" height="155.116" style="fill:none;stroke:rgb(131,131,131);stroke-width:2.1px;"/>
                    </g>
                    <g transform="matrix(0.582823,0,0,0.616464,105.43,128.881)">
                        <rect x="45.328" y="55.259" width="174.209" height="115.548" style="fill:white;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,108.76,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,129.148,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,149.537,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,169.925,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.580875,0,0,0.690184,107.509,124.594)">
                        <rect x="41.901" y="32.963" width="174.793" height="22.606" style="fill:rgb(0,127,0);"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,125.419)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,139.634)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,153.849)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,168.064)">
                        <path d="M36.909,78.026L170.35,78.261" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                </g>
            </g>
            <g transform="matrix(1,0,0,1,12.0024,22.4623)">
                <clipPath id="_clip3">
                    <path d="M233.381,149.462C233.381,148.293 232.297,147.345 230.959,147.345C217.113,147.345 148.116,147.345 134.27,147.345C132.933,147.345 131.848,148.293 131.848,149.462C131.848,161.394 131.848,220.129 131.848,232.061C131.848,233.23 132.933,234.178 134.27,234.178C148.116,234.178 217.113,234.178 230.959,234.178C232.297,234.178 233.381,233.23 233.381,232.061C233.381,220.129 233.381,161.394 233.381,149.462Z"/>
                </clipPath>
                <g clip-path="url(#_clip3)">
                    <g transform="matrix(0.564746,0,0,0.560804,84.4696,101.761)">
                        <rect x="83.894" y="81.283" width="179.785" height="155.116" style="fill:none;stroke:rgb(131,131,131);stroke-width:2.1px;"/>
                    </g>
                    <g transform="matrix(0.582823,0,0,0.616464,105.43,128.881)">
                        <rect x="45.328" y="55.259" width="174.209" height="115.548" style="fill:white;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,108.76,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,129.148,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,149.537,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.69389,169.925,123.797)">
                        <path d="M56.602,159.075L56.602,56.42" style="fill:none;stroke:rgb(208,208,208);stroke-width:0.82px;"/>
                    </g>
                    <g transform="matrix(0.580875,0,0,0.690184,107.509,124.594)">
                        <rect x="41.901" y="32.963" width="174.793" height="22.606" style="fill:rgb(0,155,0);"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,125.419)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,139.634)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,153.849)">
                        <path d="M36.909,78.026L170.35,78.026" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                    <g transform="matrix(0.760883,0,0,0.665142,103.765,168.064)">
                        <path d="M36.909,78.026L170.35,78.261" style="fill:none;stroke:rgb(192,192,192);stroke-width:0.83px;"/>
                    </g>
                </g>
            </g>
        </g>
        <g id="Shared-COnvo" serif:id="Shared COnvo" transform="matrix(1.17525,0,0,1.17525,-84.2996,-31.8309)">
            <g transform="matrix(0.98456,0,0,0.869268,-48.8547,114.614)">
                <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(213,213,213);"/>
            </g>
            <g transform="matrix(0.98456,0,0,0.869268,67.6716,97.2436)">
                <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(255,219,93);"/>
            </g>
            <g transform="matrix(0.98456,0,0,0.869268,33.1775,174.933)">
                <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(163,221,166);"/>
            </g>
            <g>
                <clipPath id="_clip4">
                    <path d="M518.023,169.769C566.471,157.64 566.948,159.953 575.676,166.688C585.576,174.329 572.054,185.917 572.054,195.597C572.054,199.737 640.623,201.704 639.594,205.741C638.064,211.745 639.594,253.891 612.666,265.713C601.419,270.65 604.292,226.222 588.809,219.225C573.977,212.522 554.768,221.891 545.754,230.647C536.74,239.403 535.788,276.99 534.725,271.762C534.334,269.837 475.154,244.051 474.372,225.034C474.17,220.11 502.473,221.52 518.023,216.391C530.711,212.206 522.212,201.846 522.212,200.926C522.212,182.711 506.166,172.738 518.023,169.769Z"/>
                </clipPath>
                <g clip-path="url(#_clip4)">
                    <g transform="matrix(0.967273,0,0,0.874348,-21.2635,117.407)">
                        <path d="M535.259,101.011C535.259,101.011 547.807,66.806 600.936,66.806C653.334,66.806 665.262,98.127 665.262,98.127C665.262,98.127 646.63,79.628 600.936,79.628C555.466,79.628 535.259,101.011 535.259,101.011Z" style="fill:rgb(234,234,234);"/>
                    </g>
                    <g transform="matrix(0.647422,0,0,0.565958,160.021,133.801)">
                        <path d="M725.912,143.422L725.912,181.587C725.912,181.587 725.912,233.076 617.812,233.076C509.767,233.076 509.767,181.587 509.767,181.587L509.767,137.773C509.767,137.773 509.767,212.187 617.812,212.187C725.912,212.187 725.912,143.422 725.912,143.422Z" style="fill:rgb(234,234,234);"/>
                    </g>
                    <g transform="matrix(0.647422,0,0,0.565958,160.021,133.801)">
                        <path d="M509.711,135.087C509.711,106.191 547.455,68.797 616.328,68.797C685.2,68.797 725.912,106.15 725.912,136.883C725.912,167.015 718.691,212.187 616.513,212.187C525.941,212.187 509.711,161.201 509.711,135.087ZM518.435,135.087C518.435,113.289 552.303,74.236 616.513,74.236C680.723,74.236 716.774,109.629 716.774,136.883C716.774,157.796 708.907,200.629 616.513,200.629C528.946,200.629 518.435,157.796 518.435,135.087Z" style="fill:white;"/>
                    </g>
                </g>
            </g>
        </g>


<!--  -->
    <g id="Main-Logo" style="transform-origin:50% 50%;top: 20px;left:0;position: absolute;transform:translate(-100px, 150px) scale(0.75);" >
      <path d="M521.9,120.63C524.91,122.32 527.16,124.36 528.7,126.67C524.94,130.59 522.63,132.98 518.13,135.73C515.74,133.47 513.64,130.85 512.84,128.93C517.81,127.08 520.1,125.18 521.9,120.63Z" style="fill:rgb(154,42,36);"/>
      <path d="M530.21,126.67L532.47,126.67C533.23,127.43 533.98,128.18 534.73,128.93C534.48,129.18 534.23,129.43 533.98,129.69C529.7,133.97 525.42,138.25 521.14,142.53L520.38,142.53C519.64,140.24 518.9,140.27 518.12,138C522.15,134.22 526.18,130.44 530.21,126.67Z" style="fill:rgb(154,42,36);"/>
      <path d="M534.74,130.44L537.01,130.44C544.28,136.22 558.43,149.78 565.7,157.62C569.93,162.18 584.15,178.58 587.6,184.05C587.8,185.65 574.14,198.85 572.5,197.64C568.31,194.15 552.15,180.41 543.05,170.46C539.31,166.37 521.87,145.8 521.91,142.52C526.18,138.5 530.46,134.47 534.74,130.44Z" style="fill:rgb(154,42,36);"/>
      <path d="M587.59,186.32C592.35,188.88 592.87,192.7 592.88,196.89C591.91,199.15 588.87,203.46 583.82,203.69C580.35,203.14 577.65,202.19 574.76,198.4C578.85,195.75 584.91,190.4 587.59,186.32Z" style="fill:rgb(154,42,36);"/>
      <path d="M438.85,78.35C443.13,78.35 449.92,78.38 450.93,78.35C451.93,78.31 452.51,77.32 452.47,76.43C452.48,74.5 452.45,73.95 452.44,70.8C452.45,69.29 450.94,69.29 450.94,69.29L438.85,69.29L438.85,62.5C438.85,62.5 448.07,62.38 456.22,62.5C457.33,62.65 458.68,63.31 459.24,64.01C459.72,64.6 460.64,65.76 460.75,67.03C460.86,68.3 460.75,75.18 460.75,79.87C460.75,81.03 459.87,82.18 459.24,82.89C458.42,83.82 457.09,84.38 456.22,84.4C452.59,84.48 448.67,84.4 448.67,84.4C448.67,84.4 457.48,93.21 461.51,97.24L451.69,97.24L438.85,84.4C438.85,84.38 438.81,80.21 438.85,78.35Z" style="fill:rgb(154,42,36);"/>
      <path d="M502.27,97.22L502.27,73.06L487.17,84.38L472.07,73.06L472.07,97.22L464.52,97.22L464.52,62.49L471.31,62.49L487.17,74.57L502.27,62.49L509.82,62.49L509.82,97.22L502.27,97.22Z" style="fill:rgb(154,42,36);"/>
      <g id="Magnifying_Glass_Lens">
          <ellipse cx="476.96" cy="77.18" rx="62" ry="58.55" style="fill:none;stroke:rgb(154,42,36);stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;"/>
          <path d="M517.1,125.35C522.6,121.04 522.75,111.92 519.32,111.27C515.16,110.48 514.04,115.2 510.94,117.9C507.84,120.6 506.03,118.64 503.3,123.07C501.35,126.24 510.15,130.8 517.1,125.35Z" style="fill:rgb(154,42,36);"/>
          <ellipse cx="473.67" cy="73.84" rx="62" ry="58.55" style="fill:none;stroke:rgb(154,42,36);stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;"/>
          <ellipse cx="479.99" cy="73.84" rx="62" ry="58.55" style="fill:none;stroke:rgb(154,42,36);stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;"/>
          <ellipse cx="472.32" cy="78.7" rx="62" ry="58.55" style="fill:none;stroke:rgb(154,42,36);stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;"/>
      </g>
      <path d="M478.11,27C503.22,29.4 506.8,38.33 506.8,38.33C506.8,38.33 488.09,29.23 471.31,33.04C459.8,35.66 456.35,37.86 452.43,40.59C451.66,41.13 446.7,36.04 447.14,35.3C447.59,34.57 462.12,25.47 478.11,27Z" style="fill:rgb(154,42,36);"/>
      <path d="M440.36,40.59L442.62,40.59C444.01,42.7 445.02,42.72 445.64,45.88C421.08,69.56 430.54,97.98 430.54,97.98C430.54,97.98 427.33,96.04 425.25,85.14C421.33,64.55 430.68,51.44 440.36,40.59Z" style="fill:rgb(154,42,36);"/>
      <path d="M521.15,57.96C527.29,64.54 526.57,83.6 523.41,92.69C517.26,110.4 506.16,122.06 487.92,127.42C472.4,131.99 451.04,125.64 444.88,117.6L446.39,117.6C454.91,124.57 474.52,124.68 485.65,120.62C513,110.66 524.03,93.39 521.15,57.96Z" style="fill:rgb(154,42,36);"/>

    </g>

    <g id="Shared-COnvo" serif:id="Shared COnvo" style="transform: translate(60px, -40px);">
      <g transform="matrix(0.98456,0,0,0.869268,-48.8547,114.614)">
          <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(213,213,213);"/>
      </g>
      <g transform="matrix(0.98456,0,0,0.869268,67.6716,97.2436)">
          <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(255,219,93);"/>
      </g>
      <g transform="matrix(0.98456,0,0,0.869268,33.1775,174.933)">
          <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(163,221,166);"/>
      </g>
      <g>
          <clipPath id="_clip2">
              <path d="M518.023,169.769C566.471,157.64 566.948,159.953 575.676,166.688C585.576,174.329 572.054,185.917 572.054,195.597C572.054,199.737 640.623,201.704 639.594,205.741C638.064,211.745 639.594,253.891 612.666,265.713C601.419,270.65 604.292,226.222 588.809,219.225C573.977,212.522 554.768,221.891 545.754,230.647C536.74,239.403 535.788,276.99 534.725,271.762C534.334,269.837 475.154,244.051 474.372,225.034C474.17,220.11 502.473,221.52 518.023,216.391C530.711,212.206 522.212,201.846 522.212,200.926C522.212,182.711 506.166,172.738 518.023,169.769Z"/>
          </clipPath>
          <g clip-path="url(#_clip2)">
              <g transform="matrix(0.967273,0,0,0.874348,-21.2635,117.407)">
                  <path d="M535.259,101.011C535.259,101.011 547.807,66.806 600.936,66.806C653.334,66.806 665.262,98.127 665.262,98.127C665.262,98.127 646.63,79.628 600.936,79.628C555.466,79.628 535.259,101.011 535.259,101.011Z" style="fill:rgb(234,234,234);"/>
              </g>
              <g transform="matrix(0.647422,0,0,0.565958,160.021,133.801)">
                  <path d="M725.912,143.422L725.912,181.587C725.912,181.587 725.912,233.076 617.812,233.076C509.767,233.076 509.767,181.587 509.767,181.587L509.767,137.773C509.767,137.773 509.767,212.187 617.812,212.187C725.912,212.187 725.912,143.422 725.912,143.422Z" style="fill:rgb(234,234,234);"/>
              </g>
              <g transform="matrix(0.647422,0,0,0.565958,160.021,133.801)">
                  <path d="M509.711,135.087C509.711,106.191 547.455,68.797 616.328,68.797C685.2,68.797 725.912,106.15 725.912,136.883C725.912,167.015 718.691,212.187 616.513,212.187C525.941,212.187 509.711,161.201 509.711,135.087ZM518.435,135.087C518.435,113.289 552.303,74.236 616.513,74.236C680.723,74.236 716.774,109.629 716.774,136.883C716.774,157.796 708.907,200.629 616.513,200.629C528.946,200.629 518.435,157.796 518.435,135.087Z" style="fill:white;"/>
              </g>
          </g>
      </g>
  </g>


  <g id="Timeline" style="transform: translate(-80px, 20px);">
      <g transform="matrix(0.760883,0,0,0.665142,103.765,125.419)">
          <path d="M180.36,438.166L203.457,454.152L178.815,474.873L273.803,474.873L273.803,438.166L180.36,438.166Z" style="fill:rgb(163,221,167);"/>
      </g>
      <g transform="matrix(0.864533,0,0,1.0302,79.0868,-57.1337)">
          <path d="M171.625,456.197L56.293,456.197C54.465,456.197 52.982,457.284 52.982,458.626C52.982,464.496 52.982,479.403 52.982,485.274C52.982,486.615 54.465,487.702 56.293,487.702C69.447,487.702 117.784,487.702 127.829,487.702C128.976,487.702 130.046,488.124 130.68,488.824C134.777,493.354 149.878,510.049 149.878,510.049C149.878,510.049 146.894,496.379 145.594,490.422C145.446,489.743 145.711,489.05 146.319,488.527C146.928,488.004 147.818,487.702 148.756,487.702C156.093,487.702 171.625,487.702 171.625,487.702L199.64,470.421L171.625,456.197Z" style="fill:rgb(255,219,93);"/>
      </g>
      <g transform="matrix(0.515332,0,0,0.450488,149.481,186.218)">
          <path d="M180.36,438.166L203.457,454.152L178.815,474.873L273.803,474.873L273.803,438.166L180.36,438.166Z" style="fill:rgb(229,229,229);"/>
      </g>
      <g transform="matrix(0.585532,0,0,0.697736,132.767,62.5787)">
          <path d="M171.625,456.197L57.871,456.197C55.171,456.197 52.982,457.802 52.982,459.783C52.982,465.846 52.982,478.053 52.982,484.116C52.982,486.097 55.171,487.702 57.871,487.702C80.224,487.702 171.625,487.702 171.625,487.702L199.64,470.421L171.625,456.197Z" style="fill:rgb(229,229,229);"/>
      </g>
      <g transform="matrix(0.515332,0,0,0.450488,218.979,254.253)">
          <path d="M180.36,438.166L203.457,454.152L178.815,474.873L273.803,474.873L273.803,438.166L180.36,438.166Z" style="fill:rgb(229,229,229);"/>
      </g>
      <g transform="matrix(0.585532,0,0,0.697736,202.265,130.613)">
          <path d="M171.625,456.197L110.519,456.197C107.819,456.197 105.631,457.802 105.631,459.783C105.631,465.846 105.631,478.053 105.631,484.116C105.631,486.097 107.819,487.702 110.519,487.702C125.795,487.702 171.625,487.702 171.625,487.702L199.64,470.421L171.625,456.197Z" style="fill:rgb(229,229,229);"/>
      </g>
      <g transform="matrix(0.98456,0,0,0.869268,-299.052,420.146)">
          <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(192,192,192);"/>
      </g>
  </g>
  <g id="Progress-Task" serif:id="Progress Task">
      <g transform="matrix(0.760883,0,0,0.665142,100.04,128.305)">
          <path d="M726.144,391.601C726.144,389.206 724.202,387.264 721.807,387.264C691.958,387.264 517.241,387.264 487.392,387.264C484.996,387.264 483.055,389.206 483.055,391.601C483.055,412.841 483.055,506.492 483.055,546.833C483.055,551.764 485.014,556.493 488.5,559.979C491.987,563.466 496.716,565.425 501.647,565.425L707.552,565.425C712.483,565.425 717.211,563.466 720.698,559.979C724.185,556.493 726.144,551.764 726.144,546.833L726.144,391.601Z" style="fill:none;stroke:rgb(157,157,157);stroke-width:2px;"/>
      </g>
      <g transform="matrix(0.760883,0,0,0.665142,103.765,125.419)">
          <path d="M706.494,406.662C706.494,405.821 706.16,405.015 705.566,404.421C704.972,403.827 704.166,403.493 703.326,403.493C679.144,403.493 524.044,403.493 498.531,403.493C497.589,403.493 496.686,403.867 496.021,404.533C495.355,405.198 494.981,406.101 494.981,407.043C494.981,410.813 494.981,416.739 494.981,420.509C494.981,421.451 495.355,422.354 496.021,423.019C496.686,423.685 497.589,424.059 498.531,424.059C524.044,424.059 679.144,424.059 703.326,424.059C704.166,424.059 704.972,423.725 705.566,423.131C706.16,422.537 706.494,421.731 706.494,420.89C706.494,417.024 706.494,410.527 706.494,406.662Z" style="fill:rgb(235,235,235);"/>
      </g>
      <g transform="matrix(0.559915,0,0,0.665142,203.241,125.419)">
          <path d="M706.494,403.493L499.978,403.493C498.653,403.493 497.382,403.88 496.445,404.57C495.508,405.26 494.981,406.195 494.981,407.17C494.981,410.903 494.981,416.649 494.981,420.382C494.981,421.357 495.508,422.292 496.445,422.982C497.382,423.672 498.653,424.059 499.978,424.059C531.949,424.059 706.494,424.059 706.494,424.059L706.494,403.493Z" style="fill:rgb(255,219,93);"/>
      </g>
      <g transform="matrix(0.993191,0,0,0.876888,63.2127,383.688)">
          <path d="M546.471,55.419C556.589,55.419 562.071,63.634 562.071,73.752C562.071,87.462 553.189,90.379 553.189,90.379C553.189,90.379 553.737,96.016 553.737,96.016C559.074,96.016 568.165,98.674 570.708,101.95C572.885,104.755 573.4,111.194 573.4,111.194L521.249,110.568C521.249,110.568 521.249,105.763 523.955,101.95C526.213,98.77 535.386,96.016 539.499,96.016L540.332,90.379C540.332,90.379 530.914,85.89 530.914,73.752C530.914,63.634 536.352,55.419 546.471,55.419Z" style="fill:rgb(213,213,213);"/>
      </g>
      <g transform="matrix(1.00574,0,0,0.749843,-67.1461,89.1175)">
          <path d="M688.821,434.54C688.821,433.442 689.097,432.508 689.65,431.739C690.202,430.969 691.003,430.584 692.053,430.584C693.018,430.584 693.817,430.929 694.45,431.618C695.083,432.307 695.4,433.32 695.4,434.656C695.4,435.957 695.08,436.959 694.44,437.662C693.8,438.365 693.011,438.716 692.074,438.716C691.143,438.716 690.369,438.37 689.749,437.678C689.13,436.985 688.821,435.939 688.821,434.54ZM692.105,431.886C691.636,431.886 691.246,432.088 690.935,432.494C690.624,432.9 690.468,433.645 690.468,434.729C690.468,435.715 690.626,436.41 690.94,436.812C691.255,437.214 691.643,437.415 692.105,437.415C692.581,437.415 692.974,437.212 693.286,436.807C693.597,436.401 693.752,435.659 693.752,434.582C693.752,433.589 693.595,432.891 693.28,432.489C692.965,432.087 692.574,431.886 692.105,431.886ZM692.116,446.796L700.887,429.504L702.419,429.504L693.679,446.796L692.116,446.796ZM698.768,442.62C698.768,441.514 699.044,440.579 699.597,439.813C700.149,439.047 700.954,438.664 702.01,438.664C702.976,438.664 703.775,439.008 704.408,439.697C705.041,440.386 705.357,441.399 705.357,442.735C705.357,444.036 705.037,445.038 704.397,445.741C703.757,446.444 702.965,446.796 702.021,446.796C701.09,446.796 700.316,446.448 699.697,445.752C699.077,445.056 698.768,444.012 698.768,442.62ZM702.063,439.965C701.587,439.965 701.194,440.168 700.882,440.574C700.571,440.979 700.415,441.724 700.415,442.808C700.415,443.788 700.573,444.48 700.887,444.886C701.202,445.292 701.59,445.495 702.052,445.495C702.535,445.495 702.932,445.292 703.243,444.886C703.554,444.48 703.71,443.739 703.71,442.662C703.71,441.668 703.553,440.97 703.238,440.568C702.923,440.166 702.531,439.965 702.063,439.965Z" style="fill:rgb(185,185,185);fill-rule:nonzero;"/>
      </g>
      <g transform="matrix(0.456333,0,0,0.398913,256.428,262.008)">
          <path d="M501.275,529.214L504.175,528.961C504.312,530.123 504.632,531.076 505.133,531.821C505.635,532.566 506.414,533.168 507.471,533.628C508.527,534.087 509.716,534.317 511.036,534.317C512.209,534.317 513.244,534.143 514.142,533.794C515.04,533.445 515.708,532.967 516.147,532.36C516.585,531.752 516.804,531.089 516.804,530.371C516.804,529.642 516.593,529.006 516.17,528.462C515.748,527.918 515.051,527.461 514.079,527.091C513.455,526.848 512.077,526.47 509.943,525.958C507.809,525.445 506.314,524.962 505.458,524.508C504.349,523.927 503.522,523.206 502.978,522.345C502.434,521.484 502.162,520.52 502.162,519.453C502.162,518.28 502.495,517.184 503.161,516.165C503.826,515.145 504.798,514.371 506.076,513.843C507.355,513.315 508.775,513.051 510.339,513.051C512.061,513.051 513.58,513.328 514.895,513.883C516.21,514.438 517.222,515.254 517.929,516.331C518.637,517.409 519.018,518.629 519.07,519.992L516.123,520.214C515.964,518.745 515.428,517.636 514.514,516.886C513.601,516.136 512.251,515.761 510.466,515.761C508.606,515.761 507.252,516.101 506.401,516.783C505.551,517.464 505.125,518.286 505.125,519.247C505.125,520.081 505.427,520.768 506.029,521.307C506.62,521.846 508.165,522.398 510.664,522.963C513.162,523.528 514.876,524.022 515.806,524.445C517.158,525.068 518.157,525.858 518.801,526.814C519.445,527.77 519.768,528.871 519.768,530.118C519.768,531.354 519.414,532.518 518.706,533.612C517.998,534.705 516.981,535.556 515.655,536.163C514.33,536.77 512.837,537.074 511.179,537.074C509.077,537.074 507.315,536.768 505.894,536.155C504.473,535.542 503.359,534.621 502.55,533.39C501.742,532.159 501.317,530.767 501.275,529.214Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M534.632,536.678L534.632,534.206C533.322,536.107 531.541,537.058 529.291,537.058C528.298,537.058 527.371,536.868 526.51,536.488C525.649,536.107 525.01,535.629 524.593,535.054C524.176,534.478 523.882,533.773 523.713,532.938C523.597,532.378 523.539,531.491 523.539,530.276L523.539,519.849L526.391,519.849L526.391,529.183C526.391,530.672 526.449,531.676 526.566,532.193C526.745,532.943 527.126,533.532 527.707,533.96C528.288,534.388 529.006,534.602 529.862,534.602C530.717,534.602 531.52,534.383 532.27,533.944C533.02,533.506 533.551,532.909 533.863,532.154C534.175,531.398 534.33,530.302 534.33,528.866L534.33,519.849L537.183,519.849L537.183,536.678L534.632,536.678Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M540.511,531.655L543.331,531.211C543.49,532.341 543.931,533.208 544.654,533.81C545.378,534.412 546.39,534.713 547.689,534.713C548.999,534.713 549.971,534.446 550.605,533.913C551.239,533.379 551.555,532.753 551.555,532.035C551.555,531.391 551.276,530.883 550.716,530.514C550.325,530.26 549.353,529.938 547.8,529.547C545.708,529.019 544.258,528.562 543.45,528.176C542.642,527.791 542.029,527.257 541.612,526.576C541.195,525.894 540.986,525.142 540.986,524.318C540.986,523.568 541.158,522.873 541.501,522.234C541.844,521.595 542.312,521.064 542.903,520.641C543.347,520.314 543.952,520.037 544.718,519.809C545.484,519.582 546.305,519.469 547.182,519.469C548.502,519.469 549.662,519.659 550.66,520.039C551.658,520.42 552.395,520.935 552.871,521.584C553.346,522.234 553.674,523.103 553.853,524.191L551.064,524.571C550.937,523.705 550.57,523.029 549.963,522.543C549.355,522.057 548.497,521.814 547.388,521.814C546.078,521.814 545.143,522.031 544.583,522.464C544.023,522.897 543.743,523.404 543.743,523.985C543.743,524.355 543.859,524.688 544.092,524.983C544.324,525.29 544.689,525.543 545.185,525.744C545.47,525.85 546.31,526.093 547.705,526.473C549.723,527.012 551.13,527.453 551.928,527.796C552.725,528.139 553.351,528.639 553.806,529.294C554.26,529.949 554.487,530.762 554.487,531.734C554.487,532.685 554.21,533.58 553.655,534.42C553.101,535.26 552.3,535.909 551.254,536.369C550.209,536.829 549.025,537.058 547.705,537.058C545.518,537.058 543.851,536.604 542.705,535.695C541.559,534.787 540.827,533.44 540.511,531.655Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M568.86,534.602C567.803,535.5 566.787,536.134 565.809,536.504C564.832,536.873 563.784,537.058 562.664,537.058C560.815,537.058 559.394,536.607 558.401,535.703C557.408,534.8 556.912,533.646 556.912,532.241C556.912,531.417 557.099,530.664 557.474,529.983C557.849,529.301 558.34,528.755 558.948,528.343C559.555,527.931 560.239,527.619 561,527.408C561.56,527.26 562.405,527.117 563.535,526.98C565.838,526.705 567.534,526.378 568.622,525.997C568.633,525.607 568.638,525.358 568.638,525.253C568.638,524.091 568.369,523.272 567.83,522.797C567.101,522.152 566.018,521.83 564.581,521.83C563.24,521.83 562.249,522.065 561.61,522.535C560.971,523.005 560.498,523.837 560.192,525.031L557.403,524.651C557.656,523.457 558.074,522.493 558.655,521.759C559.236,521.024 560.076,520.459 561.174,520.063C562.273,519.667 563.546,519.469 564.993,519.469C566.43,519.469 567.597,519.638 568.495,519.976C569.393,520.314 570.054,520.739 570.476,521.251C570.899,521.764 571.194,522.411 571.364,523.193C571.459,523.679 571.506,524.555 571.506,525.823L571.506,529.626C571.506,532.278 571.567,533.955 571.688,534.658C571.81,535.36 572.05,536.034 572.409,536.678L569.43,536.678C569.134,536.086 568.944,535.394 568.86,534.602ZM568.622,528.232C567.587,528.654 566.034,529.014 563.963,529.309C562.791,529.478 561.961,529.669 561.475,529.88C560.989,530.091 560.614,530.4 560.35,530.807C560.086,531.214 559.954,531.665 559.954,532.162C559.954,532.922 560.242,533.556 560.818,534.063C561.393,534.57 562.236,534.824 563.345,534.824C564.444,534.824 565.421,534.584 566.277,534.103C567.133,533.622 567.761,532.965 568.163,532.13C568.469,531.486 568.622,530.535 568.622,529.278L568.622,528.232Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M575.927,536.678L575.927,519.849L578.494,519.849L578.494,522.242C579.73,520.393 581.516,519.469 583.851,519.469C584.865,519.469 585.797,519.651 586.647,520.015C587.498,520.38 588.134,520.858 588.557,521.45C588.979,522.041 589.275,522.744 589.444,523.557C589.55,524.085 589.603,525.01 589.603,526.33L589.603,536.678L586.75,536.678L586.75,526.441C586.75,525.279 586.639,524.41 586.418,523.834C586.196,523.259 585.802,522.799 585.237,522.456C584.672,522.112 584.009,521.941 583.248,521.941C582.033,521.941 580.985,522.326 580.103,523.098C579.221,523.869 578.78,525.332 578.78,527.487L578.78,536.678L575.927,536.678Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
      </g>
      <g transform="matrix(1.01477,0,0,0.887084,-38.232,8.36244)">
          <path d="M587.23,526.205L587.23,527.449L580.262,527.449C580.252,527.138 580.302,526.838 580.413,526.55C580.59,526.076 580.874,525.608 581.265,525.148C581.656,524.688 582.22,524.156 582.958,523.552C584.104,522.612 584.878,521.868 585.281,521.319C585.684,520.77 585.885,520.251 585.885,519.762C585.885,519.249 585.702,518.816 585.335,518.464C584.968,518.112 584.49,517.935 583.9,517.935C583.277,517.935 582.779,518.122 582.405,518.496C582.031,518.87 581.841,519.388 581.837,520.05L580.506,519.913C580.597,518.921 580.94,518.164 581.535,517.644C582.129,517.124 582.927,516.864 583.929,516.864C584.941,516.864 585.741,517.144 586.331,517.705C586.921,518.266 587.215,518.961 587.215,519.791C587.215,520.213 587.129,520.627 586.957,521.035C586.784,521.442 586.497,521.871 586.097,522.322C585.697,522.773 585.032,523.391 584.102,524.177C583.325,524.829 582.826,525.271 582.606,525.504C582.385,525.736 582.203,525.97 582.059,526.205L587.23,526.205Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
      </g>
      <g transform="matrix(0.663813,0,0,0.580285,153.313,165.82)">
          <path d="M500.962,501.048L500.962,483.367L507.053,483.367C508.428,483.367 509.477,483.451 510.201,483.62C511.214,483.853 512.078,484.276 512.794,484.887C513.726,485.675 514.424,486.682 514.886,487.908C515.349,489.134 515.58,490.535 515.58,492.111C515.58,493.454 515.423,494.644 515.109,495.681C514.796,496.718 514.394,497.577 513.903,498.256C513.413,498.936 512.876,499.47 512.293,499.86C511.71,500.25 511.007,500.546 510.182,500.747C509.358,500.948 508.412,501.048 507.342,501.048L500.962,501.048ZM503.302,498.962L507.077,498.962C508.243,498.962 509.157,498.853 509.821,498.636C510.484,498.419 511.013,498.113 511.407,497.719C511.961,497.165 512.394,496.419 512.703,495.482C513.013,494.545 513.168,493.41 513.168,492.075C513.168,490.226 512.864,488.804 512.257,487.811C511.65,486.818 510.912,486.153 510.044,485.815C509.417,485.574 508.408,485.454 507.017,485.454L503.302,485.454L503.302,498.962Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M518.498,501.048L518.498,488.24L520.452,488.24L520.452,490.181C520.951,489.273 521.411,488.674 521.833,488.384C522.255,488.095 522.72,487.95 523.226,487.95C523.958,487.95 524.702,488.183 525.458,488.65L524.71,490.664C524.179,490.35 523.648,490.193 523.118,490.193C522.643,490.193 522.217,490.336 521.839,490.622C521.461,490.907 521.192,491.303 521.031,491.81C520.79,492.582 520.669,493.426 520.669,494.342L520.669,501.048L518.498,501.048Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M535.516,496.923L537.76,497.201C537.406,498.511 536.751,499.529 535.794,500.252C534.837,500.976 533.615,501.338 532.127,501.338C530.254,501.338 528.768,500.761 527.671,499.607C526.573,498.453 526.024,496.835 526.024,494.753C526.024,492.598 526.579,490.925 527.689,489.735C528.798,488.545 530.238,487.95 532.007,487.95C533.719,487.95 535.118,488.533 536.204,489.699C537.289,490.865 537.832,492.505 537.832,494.62C537.832,494.748 537.828,494.941 537.82,495.199L528.268,495.199C528.348,496.606 528.746,497.683 529.462,498.431C530.177,499.179 531.07,499.553 532.139,499.553C532.935,499.553 533.615,499.344 534.178,498.926C534.741,498.507 535.187,497.84 535.516,496.923ZM528.388,493.414L535.541,493.414C535.444,492.336 535.171,491.528 534.72,490.99C534.029,490.153 533.132,489.735 532.031,489.735C531.034,489.735 530.196,490.069 529.516,490.736C528.837,491.404 528.461,492.296 528.388,493.414Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
          <path d="M542.849,501.048L538.93,488.24L541.173,488.24L543.211,495.633L543.971,498.383C544.003,498.246 544.224,497.366 544.634,495.742L546.673,488.24L548.904,488.24L550.822,495.669L551.461,498.118L552.197,495.645L554.392,488.24L556.502,488.24L552.498,501.048L550.243,501.048L548.204,493.378L547.71,491.195L545.117,501.048L542.849,501.048Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
      </g>
      <g transform="matrix(1.01477,0,0,0.887084,-38.1273,-12.1911)">
          <path d="M587.23,526.205L587.23,527.449L580.262,527.449C580.252,527.138 580.302,526.838 580.413,526.55C580.59,526.076 580.874,525.608 581.265,525.148C581.656,524.688 582.22,524.156 582.958,523.552C584.104,522.612 584.878,521.868 585.281,521.319C585.684,520.77 585.885,520.251 585.885,519.762C585.885,519.249 585.702,518.816 585.335,518.464C584.968,518.112 584.49,517.935 583.9,517.935C583.277,517.935 582.779,518.122 582.405,518.496C582.031,518.87 581.841,519.388 581.837,520.05L580.506,519.913C580.597,518.921 580.94,518.164 581.535,517.644C582.129,517.124 582.927,516.864 583.929,516.864C584.941,516.864 585.741,517.144 586.331,517.705C586.921,518.266 587.215,518.961 587.215,519.791C587.215,520.213 587.129,520.627 586.957,521.035C586.784,521.442 586.497,521.871 586.097,522.322C585.697,522.773 585.032,523.391 584.102,524.177C583.325,524.829 582.826,525.271 582.606,525.504C582.385,525.736 582.203,525.97 582.059,526.205L587.23,526.205Z" style="fill:rgb(213,213,213);fill-rule:nonzero;"/>
      </g>
  </g>
  
        <path class="shadow"  d="M375.981,206.897C319.588,206.897 273.803,252.682 273.803,309.075L171.625,309.075C171.625,196.213 263.119,104.719 375.981,104.719L375.981,206.897Z"/>
        <path id="curve1" filter="url(#insetBlur)" class="circlesegment"  d="M375.981,206.897C319.588,206.897 273.803,252.682 273.803,309.075L171.625,309.075C171.625,196.213 263.119,104.719 375.981,104.719L375.981,206.897Z" ></path>

        <path class="shadow"  d="M375.981,206.897L375.981,104.719C488.844,104.719 580.337,196.213 580.337,309.075L478.159,309.075C478.159,252.682 432.375,206.897 375.981,206.897Z" />
        <path id="curve2" class="circlesegment" filter="url(#insetBlur)"  d="M375.981,206.897L375.981,104.719C488.844,104.719 580.337,196.213 580.337,309.075L478.159,309.075C478.159,252.682 432.375,206.897 375.981,206.897Z"/>

        <path class="shadow"  d="M273.803,309.075L273.803,309.075C273.803,365.469 319.588,411.253 375.981,411.253L375.981,513.431C263.119,513.431 171.625,421.938 171.625,309.075L273.803,309.075Z"  />
        <path id="curve3" class="circlesegment" filter="url(#insetBlur)" d="M273.803,309.075L273.803,309.075C273.803,365.469 319.588,411.253 375.981,411.253L375.981,513.431C263.119,513.431 171.625,421.938 171.625,309.075L273.803,309.075Z" />
      

        <path class="shadow"  d="M478.159,309.075L580.337,309.075C580.337,421.938 488.844,513.431 375.981,513.431L375.981,411.253L375.981,411.253C432.375,411.253 478.159,365.469 478.159,309.075L478.159,309.075Z"  />
        <path id="curve4" class="circlesegment"  d="M478.159,309.075L580.337,309.075C580.337,421.938 488.844,513.431 375.981,513.431L375.981,411.253L375.981,411.253C432.375,411.253 478.159,365.469 478.159,309.075L478.159,309.075Z" />
</svg>

<script>
  const MEDIA571 = window.matchMedia("(min-width: 571px)")
    let windowWidth = window.innerWidth;
    const animationEnum = {
        1: "topLeft",
        2: "topRight",
        3: "bottomLeft",
        4: "bottomRight",
      }
    const translateEnum = {
      0: 'translate(0, 0)',
      1: 'translate(-10px, -10px)',
      2: 'translate(10px, -10px)',
      3: 'translate(-10px, 10px)',
      4: 'translate(10px, 10px)',
    }
    window.onresize = () => {
      windowWidth = window.innerWidth
      checkMediaWidth()
    };
    function checkMediaWidth() {
      if(MEDIA571.matches){
        let hovering = {
          enum: 4,
          timer: true,
        };
        function activateAnim(number){
          let curve = document.querySelector(`#curve${number}`)
          let paragraph = document.querySelector(`#paragraph${number}`)
          paragraph.style.opacity = "1"
          curve.style.animationName = animationEnum[number].concat('Hover');
          curve.style.transform = translateEnum[number];
        }
        function deactivateAnim(number){
          let curve = document.querySelector(`#curve${number}`)
          let paragraph = document.querySelector(`#paragraph${number}`)
          paragraph.style.opacity = "0"
          curve.style.animationName = animationEnum[number];
          curve.style.transform = translateEnum[0];
        }

        function assignMouseEvents (number) {
          let curve = document.querySelector(`#curve${number}`)
          let paragraph = document.querySelector(`#paragraph${number}`)
          curve.addEventListener("mouseover", (e) => {
            deactivateAll()
            activateAnim(number);
            hovering = {
              enum: number,
              timer: false
            };
          }) 
          curve.addEventListener("mouseout", (e) => {
            deactivateAnim(number);
            hovering = {
              enum: number,
              timer: true
            };
            checkAuto()
          }) 
          paragraph.addEventListener("mouseover", (e) => {
            deactivateAll()
            activateAnim(number)
            hovering = {
              enum: number,
              timer: false
            };
          }) 
          paragraph.addEventListener("mouseout", (e) => {
            deactivateAnim(number)
            hovering = {
              enum: number,
              timer: true
            };
            checkAuto()
          }) 
        }
      document.querySelectorAll('.circlesegment').forEach((each, index) => {
        assignMouseEvents(index + 1)
      })

      function deactivateAll() {
        deactivateAnim(1)
        deactivateAnim(2)
        deactivateAnim(3)
        deactivateAnim(4)
      }

      let currentActive = 1;
      let observer = new IntersectionObserver(checkAuto, {
        root: null,
        rootMargin: '20px',
        threshold: 1.0
      });
      document.querySelector('#RMDiagram') && observer.observe(document.querySelector('#RMDiagram'))

      let ticker;
      let determineTimer;
      function checkAuto() {
        let timer = 0;
        setTimeout(() => {
          if(hovering.timer){
            activateAnim(hovering.enum)
          }
        }, 200)
        clearInterval(ticker)
        clearInterval(determineTimer)
        ticker = setInterval(() => {
          timer += 300
        }, 300);
        determineTimer = setInterval(() => {
          if(timer > 2000 && hovering.timer){
            deactivateAll()
            if(hovering.enum === 4) {
              activateAnim(1)
              hovering.enum = 1
            }
            else {
              activateAnim(hovering.enum + 1)
              hovering.enum++
            }
            timer = 0;
          }
        }, 800);
      }
      }
      else {
        let hovering = {
          enum: 4,
          timer: true,
        };
      }
    }
    checkMediaWidth()
  </script>

  
</div>


<style lang="scss">
  // #RMDiagram is the svg
  @media (max-width:756px){
    #RMDiagram {
      display: none;
      visibility: hidden;
    } 
    .RMDiagram {
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      grid-auto-rows: min-content;
      justify-content: space-around;
      row-gap: 1rem;
      column-gap: 1rem;
      align-items: start;
      & > h3 {
        grid-column: 1 / -1;
      }
      & .diagrampara{
        top: 0!important;
        opacity: 1!important;
        position: relative;
        width: 100%;
        height: 100%;
        outline: 1px solid #fcfcfc;
        // margin-bottom: 10rem;
        box-shadow:0 3px 8px -4px #333333;
      }
    }
    
  }
  
  // .RmDiagram is the container class
  .RMDiagram {
    position:relative;
    margin-inline: auto;
    max-width: 70rem;
    margin-top:3rem;
    width: 100%;
    max-width: 70rem;
  }
.diagrampara {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow:0 4px 18px -6px #333333;
  text-indent: 0;
  opacity: 0;
  transition: opacity 0.4s;
  width: clamp( 8rem, calc(50% - 2.5rem), 40rem);
  & h3 {
    text-align:center;
  }
  & li {
    margin-bottom: 0.3rem;
  }
}
</style>
