---
import { Img } from "astro-imagetools/components";
import Article from "./Article.astro"
const {size = "small", title} = Astro.props;
---
<div class='blogwrapper' id="blog">
  {size === 'large' ? 
  <h1 style="width: 100%;">{title}</h1> : 
  <h3 style="width: 100%;">{title}</h3>}<br/>
  <div class="container"><slot/></div>

</div>
<style lang="scss">
.blogwrapper {
  color: #666;
  background-color: #f2f2f2;
  width: 114%;
  margin-inline: -7%;
  padding: 2% 5%;
	height: 100%;
	display: block;
	& > h3, & > h2 {
    // text-align: center;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
  }
	.container {
    flex: row wrap;
		align-items: stretch;
    align-content: stretch;
		display:flex;
	}
	@media (min-width: 590px){
  .container {
    flex-flow: row wrap;
		align-items: stretch;
    align-content: stretch;
		display: flex;
    & > div {
      flex: 2 1 12rem;
    }
    & .image { 
      display: block;
    }
  }
}
}
.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}
.image { 
  display: block;
  overflow: hidden;
  width: 100%;
  flex: 2 1 12rem;
  position: relative;
  overflow-y: hidden;
  & :global(img) {
    // height: 17rem!important;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 15rem;
  }
 }
 
</style>
