---
---

<div class="timelinediv">
	<div class="lineblock"></div>
	<div class="stepblock">
		<slot name="1" />
	</div>
	<div class="lineblock"></div>
	<div class="stepblock">
		<slot name="2" />
	</div>
	<div class="lineblock"></div>
	<div class="stepblock">
		<slot name="3" />
	</div>
	<div class="lineblock"></div>
	<div class="stepblock">
		<slot name="4" />
	</div>
	<div class="lineblock"></div>
	<div class="stepblock">
		<slot name="5" />
	</div>
	<div class="timelinefilldiv"><div class="timelinefill"></div></div>
</div>

<style lang="scss">
	$numOfDivs: 5;
	.timelinediv {
		display: grid;
		grid-template-columns: 3rem calc(100% - 3rem);
		grid-template-rows: repeat($numOfDivs, auto);
		/* max-width: 50rem; */
		margin-inline: auto;
		position: relative;
    width: 100%;
		width: clamp(30rem, 80%, 90rem);
		// max-width: 90rem;
		margin-bottom: 8rem;
	}

	.lineblock {
		width: 100%;
		height: 100%;
		background-color: white;
		display: block;
		position: relative;
		left: 0;
		grid-row: span 1;
		grid-column: span 1;

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			background-color: #00000022;
			top: 0;
			left: 0;
			mask-image: url("/timeline(2).svg");
		}
		&:nth-of-type(1) {
			mask-image: url("/timeline(1).svg");
		}
		mask-image: url("/timeline(2).svg");
		&:nth-of-type(#{$numOfDivs * 2 - 1}) {
			mask-image: url("/timeline(3).svg");
			outline: 2px solid red;
		}
	}
	.timelinefilldiv {
		position: absolute;
		top: 0;
		left: 0;
		height: calc(100%);
		width: 3rem;
		background-color: #ddd;
		background-color: transparent;
		z-index: 100;
		&:nth-of-type(1) {
			mask-image: url("/timeline(1).svg");
		}
		mask-image: url("/timeline(2).svg");
		&:nth-of-type(#{$numOfDivs * 2 - 1}) {
			mask-image: url("/timeline(3).svg");
			outline: 2px solid red;
		}
	}
	.timelinefill {
		position: sticky;
		left: 0;
		height: 25vh;
		width: 3rem;
		top: 0;
		margin-top: -25vh;
		background-color: hsl(var(--color1hsl));
		z-index: 200;
	}

	.stepblock {
		padding: 1rem 0 1rem 2rem;
		height: 15rem;
	}

</style>
