---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { contentfulItems} from './contentfulClient.js'
import { formatSlug } from '../featureList.ts'
const {style}  = Astro.props;

let whatsNew = await contentfulItems('releaseNotes')
console.log(whatsNew[0].fields)
---

<section class="whatsnew">
  <h2>What's New:</h2>
  <div class="list">
    
    {whatsNew.map(release => {
      return (
        <a href="#"  class="whatsnewentry"><h3>{release.fields.title}</h3></a>
      )
    })}
  </div>
  <a href="/releasenotes/" class="seeall">See All Releases</a>

  <!-- <h3 style="text-indent: 3rem;margin-bottom: 2rem;text-align: center;">{whatsNew[0].fields.title}</h3>
  <hr style=" margin-bottom:2.5rem;"/>
  <div class="body" set:html={documentToHtmlString(whatsNew[0].fields.body)}>
  </div> -->
</section>


<style lang="scss"> 
  .whatsnew {
    background-color: hsl(var(--color1hsl));
    background-color: #fff;
    max-width: 70rem;
    color: white;
    color: hsl(var(--color1hsl));
    width: 114%;
    margin-inline: -7%;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    padding-inline: 10%;
    padding-left: calc(10% + 2rem);
    box-shadow: 0 0 26px 3px #00000022 inset;
  }
  .body {
    & :global(table){
      margin-bottom: 1rem;
      background-color: white;
      width: 96%;
      margin-inline: auto;
      // border-collapse: collapse;
      border-collapse: separate;
      border-spacing: 0;
      & :global(th) {
        text-align: center;
        color: white;
        background-color: hsl(var(--color1hsl));
        padding: 10px 20px;
        :global(p){
          color: white;
          margin-bottom: 0;
        }
      }
      & :global(th):first-of-type {
        border-top-left-radius: 10px;
      }
      & :global(th):last-of-type {
        border-top-right-radius: 10px;
      }

      & :global(tr):last-of-type > :global(td):first-of-type{
        border-top-width: 0;
        border-bottom-left-radius: 10px;
      }
      & :global(tr):last-of-type > :global(td):last-of-type {
        border-bottom-right-radius: 10px;
        border-right-width: 1px;
      }
      & :global(tr) > :global(td):last-of-type {
        border-left-width: 0;
        // border: 3px solid purple;
      }
      & :global(td) {
        border: 1px solid #ccc;
        padding: 10px 16px;
        border-top-width: 0;
        & :global(p) {
          text-indent: 0;
          margin-bottom: 0;
        }
      }

      
    }
    & :global(li){
      list-style-position: unset;
      list-style-position: inside;
      list-style-type: square;
      list-style-image: none;
      // list-style-image: url('/icons/right-arrow(list2).svg');
      margin-bottom: 2rem;
      // text-indent: 0;
      & :global(*) {
        
      }
      & :global(p){
        font-size: 102%;
        display: inline;
      }

      & :global(li){
        margin-left: 2rem;
        list-style-type: lower-alpha;
        list-style-image: none;
        margin-bottom: 0.2rem;
        padding-right: 4rem;
        & :global(p){
        font-size: 95%;
        color: #888;
      }
        & :global(li){
        margin-left: 2rem;
        list-style-type: lower-roman;
        list-style-image: none;
      }
      }
    }
    & > :global(p){
      margin-bottom: 1.6rem;
      // display: inline;
    }
  }
  .seeall{
    font-size: 120%;
    display: inline-block;
    margin-inline: auto;
    text-align: center;
    margin-top: 1.4rem;
    width: 100%;

  }
  .list {
    display: flex;
    flex-flow: column nowrap;
  }
  .whatsnewentry{
    margin-bottom: 6rem;
    // text-indent: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    & :global(h3){
      display: inline-block;
    }
  }
</style>