---
import FeatureCategory from "../../components/FeatureCategory.astro"
import StandardLayout from "../../layouts/StandardLayout.astro"
import Feature from "../../components/Feature.astro"
import featureList, {formatSlug} from "../../featureList.js"
const reportingModules = featureList.reporting;
---
<StandardLayout>
  <FeatureCategory title="Reporting">
  {reportingModules.map(module => {
    return (
      <Feature size="small" title={module.title} href={`/reporting/${formatSlug(module.title)}/`}><p>{module.short}</p></Feature>
    )
  })}
  
  </FeatureCategory>
</StandardLayout>
