---
import FeatureCategoryLayout from "../../layouts/FeatureCategoryLayout.astro"
---
<FeatureCategoryLayout moduleType="Reporting" customTitle="For top-down administration uses, ReviewMate enhances capabilities of many managers, clients, and end-users of the auditing process. Time tracking, staffing analytics, integrations, and elaborate risk management are focuses of ReviewMate." featureHeader={{bool: true, src:'/src/images/reportingoverview.jpg', alt: 'Executive showing paper reports on statistics'}}>

  <div slot="introparagraph">
    <p>Many teams, hospitals, and firms approach summarized reports of findings in vastly different ways. ReviewMate creates a universal approach by allowing the templating of reports that pull data directly from the electronic medical record, the auditors findings, and from a database of insight led by artifical intelligence.</p>
    <p>All created reports can be completely customized, from branding, to diagrams, to fine-tuned statistics. Both the visual elements and the data imported into the report templates can be fine-tuned to any need. ReviewMate offers built-in templates for common use-cases, but for more surgically intensive tasks, users may create their own data using SQL queries.</p>
  </div>


</FeatureCategoryLayout>
