---
  import metadata from "./metadata.js"
  import "../styles/reset.scss"
  import "../styles/global.scss"
  import { SEO } from "astro-seo"
  import Quicklink from "../scripts/Quicklink.astro"
  import Rellax from "../scripts/Rellax.astro"
  import ScrollReveal from "../scripts/ScrollReveal.astro"
  import {defaultOpenGraph} from "../utils.js"

  const description = Astro.props.description || metadata.description 

  const canonical = Astro.props.canonical || metadata.canonical ;
  const image = Astro.props.image || metadata.openGraph.basic.image
  const imageAlt = Astro.props.imageAlt || "ReviewMate's brand logo"
  const url = Astro.props.url || "https://review-mate.com/"
  let openGraph = Astro.props.openGraph || new defaultOpenGraph(metadata.title, description, image, imageAlt, url)
---
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title set:html={title}></title> -->
    <SEO title={openGraph.title} description={openGraph.description} canonical={canonical} type={openGraph.basic.type} {openGraph}/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.svg">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&family=Inter:wght@300;400;600&display=swap" rel="stylesheet"> -->

    <!-- optionally increase loading priority -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&family=Inter:wght@300;400;600&display=swap">
    <!-- async CSS -->
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&family=Inter:wght@300;400;600&display=swap">
    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&family=Inter:wght@300;400;600&display=swap">
    </noscript>
    <ScrollReveal/>
  </head>

  <body style="width: 100%;">
    <slot />
  </body>
  <Quicklink />
  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F916HCBP51"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-F916HCBP51');
    </script>
    <Rellax />
    <ScrollReveal />

    <script defer>
    function hideDropdowns() {
      document.querySelectorAll(".dropdown--open").forEach((each) => {
        each.classList.remove("dropdown--open");
      });
      document.querySelectorAll(".arrow").forEach((each) => {
        each.classList.remove("arrow--open");
      });
    }

    function hideMobileMenu() {
      document.querySelector("nav").classList.remove("mobilemenu--open");
      document.querySelector('#mobilenavbutton').classList.remove('mobilenavbutton--open');
    }

    document.addEventListener('click', e => {
      if (e.target.closest('.fdd') == null){
        hideDropdowns();
      }
      if (e.target.closest('nav') == null && e.target.closest('header') == null){
        hideMobileMenu()
      }
    })
    </script>
</html>
