---
import StandardLayout from './StandardLayout.astro'
---
  <StandardLayout>
    <section class="feature">
      <slot/>
    </section>
  
  </StandardLayout>
  <style is:global>
    h2 {
      font-size: 1.6rem!important;
    }
  </style>