---
import DocumentLayout from "./DocumentLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
// import ScrollReveal from "../scripts/ScrollReveal.astro"
---

<DocumentLayout>
  <Header/>
    <main style="padding-top: 0;" id="main"><slot /></main>
  <Footer/>
  <script>
  ScrollReveal().reveal('.scrollrevealleft', {delay: 100, duration: 1200});
  ScrollReveal().reveal('.scrollrevealright', {delay: 100,  duration: 1200});
  // console.log(document.querySelectorAll('*'))

</script>
  
</DocumentLayout>