---
import DocumentLayout from "./DocumentLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
// import ScrollReveal from "../scripts/ScrollReveal.astro"
---

<DocumentLayout>
  <Header/>
    <main style="padding-top: 0;" id="main"><slot /></main>
  <Footer/>
  <script>
  ScrollReveal().reveal('.scrollrevealleft', {delay: 300, distance: '10rem', origin: 'left', duration: 1000});
  ScrollReveal().reveal('.scrollrevealright', {delay: 300, distance: '10rem', origin: 'right', duration: 1000});

</script>
  
</DocumentLayout>