---
import DocumentLayout from "./DocumentLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const {slug, openGraph} = Astro.props;
---

<DocumentLayout slug={slug} {openGraph}>
  <Header/>
  <main id="main"><slot /></main>
    
  <Footer/>
</DocumentLayout>